<!-- Footer start -->
<footer class="footer pt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-4 text-center text-md-left mb-4">
      	<div class="row">
      		<div class="col-md-6">
      			<div class="footer-title">
		        	<h5 class="mb-4">Страницы:</h5>
		        </div>
		        <ul class="footer-nav">
		          <li><a href="index.html">Главная</a></li>
		          <li><a href="about.html">О нас</a></li>
		          <li><a href="services.html">Продукты</a></li>
		          <li><a href="contacts.html">Контакты</a></li>
		        </ul>
		      </div>
		      <div class="col-md-6">
		      	<div class="footer-title">
		        	<h5 class="mb-4">Наши проекты:</h5>
		        </div>
		        <ul class="footer-nav">
		          <li><a href="#">Рекламанащитах.рф</a></li>
		          <li><a href="#">Рекламавметро.рф</a></li>
		          <li><a href="#">Реклама-на-транспорте.рф</a></li>
		          <li><a href="#">Dooh.ru</a></li>
		          <li><a href="#">Реклама-в-лифтах.рф</a></li>
		        </ul>
		      </div>
		    </div>
		  </div>
      <div class="col-md-6 col-lg-4 text-center text-md-left text-lg-center mb-4">
      	<div class="footer-title">
        	<h5 class="mb-4">Связаться с нами:</h5>
        </div>
        <div class="mb-4 footer-phone">
	        <h3><a href="tel:88127020507">8 (812)702-05-07</a></h3>
	        <h4><a href="tel:88007700852">8 (800) 770-08-52</a></h4>
	      </div>
        <div class="mb-3 footer-email">
	        <p>звонки по России бесплатные</p>
	        <p><a href="mailto:info@dooh.ru" class="email">info@dooh.ru</a></p>
	      </div>
	      <div class="mb-3 footer-email">
        	<p>Работа в нашей команде:</p>
        	<p><a href="mailto:hr@dooh.ru" class="email">hr@dooh.ru</a></p>
        </div>
        <div class="mb-3 footer-email">
        	<p>Партнерская программа:</p>
          <p><a href="mailto:info@dooh.ru" class="email">info@dooh.ru</a></p>
        </div>
        <div class="mb-3 footer-email">
        	<p>Пригласить в тендер:</p>
          <p><a href="mailto:tender@dooh.ru" class="email">tender@dooh.ru</a></p>
        </div>
        <div class="mb-3 footer-email">
        	<p>Стать поставщиком:</p>
          <p><a href="mailto:buying@dooh.ru" class="email">buying@dooh.ru</a></p>
        </div>
        <div class="mb-3 footer-email">
        	<p>По вопросам PR и сотрудничества:</p>
        	<p><a href="mailto:PR@dooh.ru" class="email">PR@dooh.ru</a></p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 text-center text-md-left">
        <div class="footer-logo py-4">
        	<div class="logo mb-4">
	          <a href="#"><img src="images/logo-white.svg" class="img-fluid" alt=""/></a>
	        </div>
          <div class="footer-messengers mb-3">
          	<a href="#">
          		<span class="image"><img src="images/icons/whatsapp2.png" alt=""/></span>
	          	<span class="text">Whatsapp</span>
	          </a>
	        </div>
	        <div class="footer-messengers mb-3">
            <a href="#">
            	<span class="image"><img src="images/icons/viber.png" alt=""/></span>
            	<span class="text">Viber</span>
            </a>
          </div>
        </div>
        <div class="footer-social-icons mb-4 text-center text-md-left text-lg-right">
          <a href="#" class="facebook">
          	<img src="images/icons/facebook.png" class="img-fluid" alt=""/>
          </a>
          <a href="#" class="twitter">
						<img src="images/icons/twitter.png" class="img-fluid" alt=""/>
          </a>
          <a href="#" class="instagram">
          	<img src="images/icons/instagram.png" class="img-fluid" alt=""/>
          </a>
          <a href="#" class="vk">
						<img src="images/icons/vk.png" class="img-fluid" alt=""/>
          </a>
          <a href="#" class="message">
						<img src="images/icons/messenger.png" class="img-fluid" alt=""/>
          </a>
          <a href="#" class="whatsapp">
						<img src="images/icons/whatsapp.png" class="img-fluid" alt=""/>
          </a>
          <a href="#" class="youtube">
						<img src="images/icons/youtube.png" class="img-fluid" alt=""/>
          </a>
          <a href="#" class="pinterest">
						<img src="images/icons/pinterest.png" class="img-fluid" alt=""/>
          </a>
        </div>
        <div class="footer-copy text-center text-md-left text-lg-right">
        	<p>Политика обработки персональныхданных</p>
        	<p>Все права зарегистрированы</p>
        	<p>Данный сайт является информационным, и не является публичной офертой, определяемой положениями ст. 437(2) ГК РФ</p>
        	<p><a href="#">Служба клиентского сервиса</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<a id="scroll-up">
  <svg width="512" height="512" viewBox="0 0 284.929 284.929">
  <path d="M282.082 195.285L149.028 62.24c-1.901-1.903-4.088-2.856-6.562-2.856s-4.665.953-6.567 2.856L2.856 195.285C.95 197.191 0 199.378 0 201.853c0 2.474.953 4.664 2.856 6.566l14.272 14.271c1.903 1.903 4.093 2.854 6.567 2.854s4.664-.951 6.567-2.854l112.204-112.202 112.208 112.209c1.902 1.903 4.093 2.848 6.563 2.848 2.478 0 4.668-.951 6.57-2.848l14.274-14.277c1.902-1.902 2.847-4.093 2.847-6.566.001-2.476-.944-4.666-2.846-6.569z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFF" />
  </svg>
</a>
<!-- Footer end -->

<div id="form-dialog" class="modal-block zoom-anim-dialog mfp-hide">
	<div class="modal-body">
		<div class="form-title mb-3">
	    <h3>Обратный звонок</h3>
	  </div>
	  <div class="form-body">
  		<form>
  			<div class="form-group mb-4">
  				<input type="text" class="form-control form-input" readonly=""/>
  			</div>
  			<div class="form-group mb-4">
  				<input type="text" class="form-control" placeholder="Ваше имя"/>
  			</div>
  			<div class="form-group mb-4">
  				<input type="text" class="form-control" placeholder="Номер телефона"/>
  			</div>
  			<div class="form-group mb-4">
  				<input type="email" class="form-control" placeholder="Почтовый ящик"/>
  			</div>
				<div class="styled__checkbox custom-checkbox mb-4">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
          <label for="styled-checkbox-1">Я согласен на обработку данных</label>
        </div>
        <div class="text-center mb-3 mb-md-4">
        	<p>* Укажите адрес, мы сами подберем все доступные форматы которые есть рядом </p>
        </div>
  			<div class="text-center">
  				<button type="submit" class="btn btn-red px-5">Отправить</button>
  			</div>
  		</form>
	  </div>
	</div>
</div>

<div style="display: none;" id="all-contact">
  <p>звонки по России бесплатные <br><a href="mailto:info@dooh.ru" class="email">info@dooh.ru</a></p>
  <p> Работа в нашей команде: <br> <a href="mailto:hr@dooh.ru" class="email">hr@dooh.ru</a></p>
  <p>Партнерская программа: <br><a href="mailto:info@dooh.ru" class="email">info@dooh.ru</a></p>
  <p>Пригласить в тендер: <br><a href="mailto:tender@dooh.ru" class="email">tender@dooh.ru</a></p>
  <p>Стать поставщиком: <br><a href="mailto:buying@dooh.ru" class="email">buying@dooh.ru</a></p>
  <p>По вопросам PR <br> и сотрудничества: <br><a href="mailto:PR@dooh.ru" class="email">PR@dooh.ru</a></p>
</div>

<script src="js/bundle.js"></script>
<script>
  var options = {
    strings: [
      "На АЗССССС",
      "В Аэропортахххх",
      "В Бизнес-центрах",
      "На Вокзалах",
      "В Гипермаркетах",
      "В ЖД вокзалах",
      "В Кино",
      "На Ледовых катках",
      "В Медицинских учреждениях",
      "В Отелях",
      "В Ресторанах, кафе",
      "В Торговых центрах",
      "На Промоутерах",
      "В Лифтах",
      "В Фитнес-клубах",
    ],
    typeSpeed: 70,
    backDelay: 1000,
    startDelay: 2500,
    loop: true,
    contentType: 'html'
    };

  
  
</script>
</body>
</html>