<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="favicon/favicon.ico">
  <link rel="stylesheet" href="css/style.bundle.css">
  <title>
    <%=title%>
  </title>
</head>

<body>
<div class="loader-wrapper" id="loader-wrapper">
  <div class="loader" id="loader"></div>
</div>
<header class="header <%=mainheadclass%>">
  <div class="container">
    <div class="row <%=padclass%>">
      <div class="col-md-4">
        <div class="logo">
          <a href="#"><img src="images/logo.svg" class="img-fluid w-100" alt=""/></a>
        </div>
        <div class="d-flex d-md-block justify-content-between align-items-center mobile-wrap">
          <div class="lang-and-social row no-gutters align-items-center mb-md-3">
            <div class="col-auto lang-switcher">
              <ul>
                <li class="active"><a href="#">RU</a></li>
                <li class=""><a href="#">EN</a></li>
              </ul>
            </div>
            <div class="col social-icons d-none d-md-block">
              <a href="#" class="facebook">
              	<img src="images/icons/facebook.png" class="img-fluid" alt=""/>
              </a>
              <a href="#" class="twitter">
								<img src="images/icons/twitter.png" class="img-fluid" alt=""/>
              </a>
              <a href="#" class="instagram">
              	<img src="images/icons/instagram.png" class="img-fluid" alt=""/>
              </a>
              <a href="#" class="vk">
								<img src="images/icons/vk.png" class="img-fluid" alt=""/>
              </a>
              <a href="#" class="message">
								<img src="images/icons/messenger.png" class="img-fluid" alt=""/>
              </a>
              <a href="#" class="whatsapp">
								<img src="images/icons/whatsapp.png" class="img-fluid" alt=""/>
              </a>
              <a href="#" class="youtube">
								<img src="images/icons/youtube.png" class="img-fluid" alt=""/>
              </a>
              <a href="#" class="pinterest">
								<img src="images/icons/pinterest.png" class="img-fluid" alt=""/>
              </a>
            </div>
          </div>
          <div class="header-menu">
            <ul class="header-menu-icon">
              <li class="hamb-icon"><span></span></li>
              <li>Меню сайта</li>
            </ul>
            <div class="hide-menu invisible">
            	<ul>
            		<li class="">
            			<a class="aside__nav-link" href="index.html">Главная</a>
            		</li>
            		<li class="">
            			<a class="aside__nav-link" href="about.html">О нас</a>
            		</li>
            		<li class="">
            			<a class="aside__nav-link" href="services.html">Услуги</a>
            		</li>
            		<li class="">
            			<a class="aside__nav-link" href="calculator.html">Сделать расчет</a>
            		</li>
            		<li class="">
            			<a class="aside__nav-link" href="clients.html">Наши партнеры</a>
            		</li>
            		<li class="">
            			<a class="aside__nav-link" href="portfolio.html">Портфолио</a>
            		</li>
            		<li class="">
            			<a class="aside__nav-link" href="#">Вашему бизнесу</a>
            		</li>
            		<li class="">
            			<a class="aside__nav-link"href="contacts.html">Контакты</a>
            		</li>
            	</ul>
            	<div class="hide-menu-after">
            		<img src="images/icons/menu-arrow.svg" class="img-fluid" alt=""/>
            	</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row no-gutters header-contact">
        	<div class="col-auto">
        		<div class="row no-gutters align-items-center">
		          <div class="col-auto time-img d-none d-xl-block py-3">
		            <img src="images/icons/time-icon.png" alt=""/>
		          </div>
		          <div class="col-auto pt-3 pt-xl-0 ml-xl-3 d-none d-lg-block call-processing">
		            <p>Обработка звонков<br/><strong>и заявок 24/7</strong></p>
		          </div>
		        </div>
	        </div>
	        <div class="col text-center text-md-right">
	        	<div class="row no-gutters">
		          <div class="col-md contact-phone__city">
		            <p><a href="tel:+7 (812)702 05 07">+7 (812) 702 05 07</a></p>
	              <p>Санкт-Петербург</p>
		          </div>
		          <div class="col-md contact-phone__city">
		            <p><a href="tel:+7 (800)770 08 52">+7 (800) 770 08 52</a></p>
	              <p>По России звонки бесплатные</p>
		          </div>
	          </div>
	        </div>
        </div>
        <div class="row justify-content-end contact-phone__mail text-center text-md-right">
        	<div class="col-md-6 col-lg-4">
	        	<p><a href="mailto:info@dooh.ru">info@dooh.ru</a></p>
	          <p><a data-fancybox data-src="#all-contact" href="javascript:;" class="another-contacts">Остальные контакты</a></p>
	          <a href="#form-dialog" class="popup-with-form feedback-call btn btn-block btn-red mt-2" data-name="Заказать звонок">Заказать звонок</a>
	        </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters justify-content-end mb-5">
	    <div class="col-lg-7 main-heading pt-5">
	    	<div class="main-heading-content mt-3 mb-5">
		      <h1>Мы - агентство <br> indoor рекламы</h1>
		      <div class="row align-items-center">
		      	<div class="col-md-auto mb-3 mb-md-0 text-center text-md-left">
		      		<p>С нами реклама</p>
		      	</div>
		      	<div class="col-md-6 mb-3 mb-md-0">
		      		<a href="#" class="main-heading-plank text-uppercase text-center" id="element">
		      			<span class="main-heading-plank-content" id="main-heading-plank-content">В ТРЦ</span>
		      		</a>
		      	</div>
		      	<div class="col-md-auto text-center text-md-left">
		      		<p>это ПРОСТО</p>
		      	</div>
		      </div>
		    </div>
		    <div class="row justify-content-end no-gutters calculator-wrapper">
		    	<div class="col-md-4 p-1">
			      <a data-fancybox data-src="#calculator-wrapper" href="javascript:;" class="calculate-online">
			        <span class="image mr-3">
			          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27px" height="35px">
			            <image x="0px" y="0px" width="27px" height="35px" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAjCAQAAADP9LkeAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfjBBUVFBYO1MF+AAAB60lEQVQ4y6WVT4hNURzHP++5bzRoYpKSyUJRNCSLEaVIJgtL3kKTLDQlxYaFmqzIwlYjjZ1GprARK4rNW1hMNsokq9Eww3tvRs+/F+9jcc/jvvdo7uV7ut3fPf2+53fO9/f7nZtzI6NsJ096zHIRH5kd83m2ZIjThBE/glnh/aLu3awHoIHTqj51nV2LjhWO2FDLTdoxSTVWuaCWmwrWU54qz/f4FQ6ZVowmO0ZvSlqBpQBR+DzDC96kUPIcywFyTtMXJr+kiBWHqUQta6VGllr8K22OMeaz0yYY5n52WuotNyUpU0ImgWf0ELGHHgCkxAdywUs2sDW24po83VZ7F0JnTbXN91pTy81oQ3TRYJInDNJPxOEw38fllobaHNIUosUYFcdTdHe5VYRaeDIqeYAh9qWhJWsyPSr/XVyfmQ3WO74lPKo84FMH75eSJ+31oXrHlY4kVDslXlLn3O9wp5IDVChynqPMsyOx7k76GaDKIR4ndpHI200jsdu7HXn66G6x6Nc/5W01S4CINW3nqHKQEkUm4nukNdo9CxY8IS5r+S/MuEs8Yt0bDvo8jvabdtwub6ljRp5N0K4Gku4Vr7fTyk4F66ULCdpbb1tX9ZXj1mLfnDOszZztap7X/1AkUc5tXGNTphusypWf8X8CIRu/H+0AAAAASUVORK5CYII=" />
			          </svg>
			        </span>
			        <span class="text">Сделать<br class="d-none d-md-block" /> расчет</span>
			      </a>
			    </div>
		    </div>
	    </div>
	  </div>
    <div class="header-advantages pt-5">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-4 mb-4 wow fadeInLeft" data-wow-delay="0.2s" data-wow-offset="80">
          <div class="header-advantages__item header-advantages__first" data-wow-delay="0.4s" data-wow-offset="10">
          	<div class="advantages-title">
            	<h4>Низкая стоимость</h4>
            </div>
            <div class="advantages-text">
           		<p>самостоятельного строительства передвижных телевизионных студий</p>
           	</div>
          </div>
        </div>
        <div class="col-md-8 col-lg-4 mb-4 wow fadeInLeft" data-wow-delay="0.4s" data-wow-offset="80">
          <div class="header-advantages__item header-advantages__second" data-wow-delay="0.8s" data-wow-offset="10">
          	<div class="advantages-title">
            	<h4>Персональный менеджер</h4>
            </div>
            <div class="advantages-text">
            	<p>условия договоров и систем оплаты</p>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-lg-4 mb-4 wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="80">
          <div class="header-advantages__item header-advantages__last" data-wow-delay="1.2s" data-wow-offset="10">
          	<div class="advantages-title">
            	<h4>Полный комплекс услуг</h4>
            </div>
            <div class="advantages-text">
            	<p>самостоятельного строительства передвижных телевизионных студий</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="header-fixed">
  <div class="collapse d-md-block" id="navbarToggleExternalContent">
  	<div class="header">
		  <div class="container">
		    <div class="header-fix-bg row">
		      <div class="col-md-4">
		        <div class="logo fixnav my-2">
		          <a href="#"><img src="images/logo-white.svg" class="img-fluid w-100" alt=""/></a>
		        </div>
	          <div class="lang-and-social fixnav row no-gutters align-items-center justify-content-center mb-md-2">
	            <div class="col-auto lang-switcher fixnav text-center mb-2 mb-md-0">
	              <ul>
	                <li class="active"><a href="#">RU</a></li>
	                <li class=""><a href="#">EN</a></li>
	              </ul>
	            </div>
	            <div class="col-auto col-md social-icons fixnav text-center">
	              <a href="#" class="facebook">
	              	<img src="images/icons/facebook.png" class="img-fluid" alt=""/>
	              </a>
	              <a href="#" class="twitter">
									<img src="images/icons/twitter.png" class="img-fluid" alt=""/>
	              </a>
	              <a href="#" class="instagram">
	              	<img src="images/icons/instagram.png" class="img-fluid" alt=""/>
	              </a>
	              <a href="#" class="vk">
									<img src="images/icons/vk.png" class="img-fluid" alt=""/>
	              </a>
	              <a href="#" class="message">
									<img src="images/icons/messenger.png" class="img-fluid" alt=""/>
	              </a>
	              <a href="#" class="whatsapp">
									<img src="images/icons/whatsapp.png" class="img-fluid" alt=""/>
	              </a>
	              <a href="#" class="youtube">
									<img src="images/icons/youtube.png" class="img-fluid" alt=""/>
	              </a>
	              <a href="#" class="pinterest">
									<img src="images/icons/pinterest.png" class="img-fluid" alt=""/>
	              </a>
	            </div>
		        </div>
		      </div>
		      <div class="col-md-8">
		        <div class="row header-contact">
		        	<div class="col-md-auto d-md-none d-xl-block">
		        		<div class="row no-gutters align-items-center justify-content-center pt-2">
				          <div class="col-auto">
				            <img src="images/icons/time-icon.png" alt=""/>
				          </div>
				          <div class="col-auto ml-3 call-processing fixnav">
				            <p>Обработка звонков<br/><strong>и заявок 24/7</strong></p>
				          </div>
				        </div>
			        </div>
			        <div class="col-md text-center text-md-right py-2">
			          <div class="contact-phone__city fixnav text-center text-md-right text-lg-center">
			          	<div class="d-inline-block text-right">
				            <p><a href="tel:+7 (812)702 05 07">+7 (812) 702 05 07</a></p>
			              <p>Санкт-Петербург</p>
			            </div>
			          </div>
			          <div class="contact-phone__city fixnav text-center text-md-right text-lg-center">
			          	<div class="d-inline-block text-right">
				            <p><a href="tel:+7 (800)770 08 52">+7 (800) 770 08 52</a></p>
			              <p>По России звонки бесплатные</p>
			            </div>
			          </div>
			        </div>
			        <div class="col-md-auto contact-phone__mail fixnav text-center text-md-right py-2">
			        	<a href="#form-dialog" class="popup-with-form feedback-call btn btn-block btn-red mb-2 px-5" data-name="Заказать звонок">Заказать звонок</a>
			        	<p><a href="mailto:info@dooh.ru">info@dooh.ru</a></p>
			          <p><a data-fancybox data-src="#all-contact" href="javascript:;" class="another-contacts">Остальные контакты</a></p>
			        </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
  </div>
  <nav class="navbar navbar-expand-md navbar-dark d-md-none">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>