<% var data = {
  title: "О нас | Проект",
  padclass: "",
  mainheadclass: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<main class="custom-page__wrapper">
	<nav class="breadcrumb__block" aria-label="breadcrumb">
		<div class="container">
		  <ol class="breadcrumb p-0">
		    <li class="breadcrumb-item"><a href="#">Главная</a></li>
		    <li class="breadcrumb-item active" aria-current="page"><span>О нас</span></li>
		  </ol>
		</div>
	</nav>
  <section class="about-us">
    <div class="container">
    	<div class="title__block text-center mb-5 wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="80">
      	<h1 class="display-4">О нас</h1>
      </div>
      <div class="custom-page__menu mb-5 wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="80">
        <ul>
          <li><a href="about.html">О нас</a></li>
          <li><a href="portfolio.html">Проекты</a></li>
          <li><a href="portfolio.html">Портфолио</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </div>
      <div class="about-us-content mb-5">
        <div class="about-us-image text-center float-md-left mr-md-3 mb-3">
          <img src="images/indoormedia.jpg" class="img-fluid" alt=""/>
        </div>
        <h4>В чем же заключается путь успеха бизнеса?</h4>
        <p>В привлечении потенциальных клиентов, повышении продаж, проявлении лояльного отношению к бренду. Помочь получить определенный уровень доверенности к вашим услугам помогут — рекламные услуги нашего агентства. К сожалению, многие владельцы своих компаний не понимают всю ценность рекламных кампаний, которые они проводят.</p>
        <p>Ведь грамотным подходом к оказанию рекламных услуг можно добиться не только повышения продаж и извлечения из неё большей выгоды, чем сами затраты на рекламные услуги, но и повысить вашу значимость на рынке услуг. Ознакомиться с рекламными поверхностями, на которых мы разворачиваем вашу рекламную кампанию вы можете в нашем каталоге рекламы на щитах.</p>
        <p>Мы довели систему заказа рекламных поверхностей до такого уровня, что вы можете просто найти её на карте и заказать в несколько кликов! Больше никаких сложных, долгих махинаций с поиском мест для размещения рекламы. Все просто и практично.</p>
      </div>
    </div>
  </section>
  <section class="work-steps py-5">
	  <div class="container">
	  	<div class="title__block mb-5">
	    	<h2 class="wow fadeInLeft" data-wow-delay="0.2s" data-wow-offset="80">Схема работы</h2>
	    </div>
	    <div class="row no-gutters flex-xl-nowrap steps-wrap my-5 py-5">
	      <div class="col-md-6 col-lg-4 col-xl steps-item py-4 mb-3 mb-xl-0 wow fadeInLeft" data-wow-delay="0.2s" data-wow-offset="80" style="z-index: 6;">
	      	<div class="steps-item-before"></div>
	      	<div class="steps-item-body d-flex align-items-center justify-content-start h-100">
	      		<div class="steps-item-body-icon">
	        		<img src="images/icons/phone.png" alt=""/>
	        	</div>
	        	<div class="steps-item-body-text py-5 pl-3">
	        		<p>Ваш звонок или заявка онлайн</p>
	        	</div>
	        </div>
	        <div class="steps-item-after">
	        	<img src="images/icons/steps-arrow.svg" class="" alt=""/>
	        </div>
	      </div>
	      <div class="col-md-6 col-lg-4 col-xl steps-item py-4 mb-3 mb-xl-0 wow fadeInLeft" data-wow-delay="0.5s" data-wow-offset="80" style="z-index: 5;">
	      	<div class="steps-item-before"></div>
	      	<div class="steps-item-body d-flex align-items-center justify-content-start h-100">
	      		<div class="steps-item-body-icon">
	        		<img src="images/icons/search.png" alt=""/>
	        	</div>
	        	<div class="steps-item-body-text py-5 pl-3">
	        		<p>Подбор адресной программы</p>
	        	</div>
	        </div>
	        <div class="steps-item-after">
	        	<img src="images/icons/steps-arrow.svg" class="" alt=""/>
	        </div>
	      </div>
	      <div class="col-md-6 col-lg-4 col-xl steps-item py-4 mb-3 mb-xl-0 wow fadeInLeft" data-wow-delay="0.8s" data-wow-offset="80" style="z-index: 4;">
	      	<div class="steps-item-before"></div>
	      	<div class="steps-item-body d-flex align-items-center justify-content-start h-100">
	      		<div class="steps-item-body-icon">
	        		<img src="images/icons/document.png" alt=""/>
	        	</div>
	        	<div class="steps-item-body-text py-5 pl-3">
	        		<p>Заключение договора</p>
	        	</div>
	        </div>
	        <div class="steps-item-after">
	        	<img src="images/icons/steps-arrow.svg" class="" alt=""/>
	        </div>
	      </div>
	      <div class="col-md-6 col-lg-4 col-xl steps-item py-4 mb-3 mb-xl-0 wow fadeInLeft" data-wow-delay="1.1s" data-wow-offset="80" style="z-index: 3;">
	      	<div class="steps-item-before"></div>
	      	<div class="steps-item-body d-flex align-items-center justify-content-start h-100">
	      		<div class="steps-item-body-icon">
	        		<img src="images/icons/ok.png" alt="">
        		</div>
        		<div class="steps-item-body-text py-5 pl-3">
	        		<p>Согласование макета</p>
	        	</div>
	        </div>
	        <div class="steps-item-after">
	        	<img src="images/icons/steps-arrow.svg" class="" alt=""/>
	        </div>
	      </div>
	      <div class="col-md-6 col-lg-4 col-xl steps-item py-4 mb-3 mb-xl-0 wow fadeInLeft" data-wow-delay="1.4s" data-wow-offset="80" style="z-index: 2;">
	      	<div class="steps-item-before"></div>
	      	<div class="steps-item-body d-flex align-items-center justify-content-start h-100">
	      		<div class="steps-item-body-icon">
	        		<img src="images/icons/installer-icon.png" alt=""/>
	        	</div>
        		<div class="steps-item-body-text py-5 pl-3">
	        		<p>Монтаж и запуск кампании</p>
	        	</div>
	        </div>
	        <div class="steps-item-after">
	        	<img src="images/icons/steps-arrow.svg" class="" alt=""/>
	        </div>
	      </div>
	      <div class="col-md-6 col-lg-4 col-xl steps-item py-4 mb-3 mb-xl-0 wow fadeInLeft" data-wow-delay="1.7s" data-wow-offset="80" style="z-index: 1;">
	      	<div class="steps-item-before"></div>
	      	<div class="steps-item-body d-flex align-items-center justify-content-start h-100">
	      		<div class="steps-item-body-icon">
	        		<img src="images/icons/camera.png" alt=""/>
	        	</div>
        		<div class="steps-item-body-text py-5 pl-3">
	        		<p>Фотоотчет</p>
	        	</div>
	        </div>
	        <div class="steps-item-after">
	        	<img src="images/icons/steps-arrow-yellow.svg" class="" alt=""/>
	        </div>
	      </div>
	    </div>
	    <div class="work-steps-content text-center mb-5 wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="80">
	    	<h1>СДЕЛАЕМ ВСЕ ЗА ВАС</h1>
	    	<p>нужно лишь заполнить заявку</p>
	    </div>
	    <div class="work-steps-btn text-center mb-5 wow fadeInUp" data-wow-delay="0.6s" data-wow-offset="80">
	    	<a href="#" class="btn btn-red px-5 feedback-call">Заказать звонок</a>
	    </div>
	  </div>
	</section>
	<section class="parthners-wrapper">
	  <div class="container">
	  	<div class="title__block text-center">
	    	<h2>Нам доверяют</h2>
	    </div>
	    <div class="parthners-logo__slider owl-carousel owl-theme">
	      <div class="parthners-logo__item wow zoomIn" data-wow-delay="0.1s" data-wow-offset="80">
	        <a href="#"><img src="images/parthners-logo/1.png" class="img-fluid" alt=""/></a>
	      </div>
	      <div class="parthners-logo__item wow zoomIn" data-wow-delay="0.2s" data-wow-offset="80">
	        <a href="#"><img src="images/parthners-logo/2.png" class="img-fluid" alt=""/></a>
	      </div>
	      <div class="parthners-logo__item wow zoomIn" data-wow-delay="0.3s" data-wow-offset="80">
	        <a href="#"><img src="images/parthners-logo/3.png" class="img-fluid" alt=""/></a>
	      </div>
	      <div class="parthners-logo__item wow zoomIn" data-wow-delay="0.4s" data-wow-offset="80">
	        <a href="#"><img src="images/parthners-logo/4.png" class="img-fluid" alt=""/></a>
	      </div>
	      <div class="parthners-logo__item wow zoomIn" data-wow-delay="0.5s" data-wow-offset="80">
	        <a href="#"><img src="images/parthners-logo/5.png" class="img-fluid" alt=""/></a>
	      </div>
	      <div class="parthners-logo__item wow zoomIn" data-wow-delay="0.6s" data-wow-offset="80">
	        <a href="#"><img src="images/parthners-logo/6.png" class="img-fluid" alt=""/></a>
	      </div>
	      <div class="parthners-logo__item wow zoomIn" data-wow-delay="0.7s" data-wow-offset="80">
	        <a href="#"><img src="images/parthners-logo/7.png" class="img-fluid" alt=""/></a>
	      </div>
	      <div class="parthners-logo__item wow zoomIn" data-wow-delay="0.8s" data-wow-offset="80">
	        <a href="#"><img src="images/parthners-logo/8.png" class="img-fluid" alt=""/></a>
	      </div>
	      <div class="parthners-logo__item">
	        <a href="#"><img src="images/parthners-logo/1.png" class="img-fluid" alt=""/></a>
	      </div>
	      <div class="parthners-logo__item">
	        <a href="#"><img src="images/parthners-logo/2.png" class="img-fluid" alt=""/></a>
	      </div>
	    </div>
	  </div>
	</section>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>