<% var data = {
  title: "Сделать расчет | Проект",
  padclass: "",
  mainheadclass: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<main class="custom-page__wrapper">
	<nav class="breadcrumb__block" aria-label="breadcrumb">
		<div class="container">
		  <ol class="breadcrumb p-0">
		    <li class="breadcrumb-item"><a href="#">Главная</a></li>
		    <li class="breadcrumb-item"><a href="#">Сделать расчет</a></li>
		    <li class="breadcrumb-item active" aria-current="page"><span>Сделать расчет</span></li>
		  </ol>
		</div>
	</nav>
  <section class="calc-wrapper" id="calculator-wrapper">
	  <div class="container">
	  	<div class="title__block text-center mb-5 wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="80">
      	<h1 class="display-4">Сделать расчет</h1>
      </div>
      <div class="custom-page__menu mb-5 wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="80">
        <ul>
          <li><a href="about.html">О нас</a></li>
          <li><a href="portfolio.html">Проекты</a></li>
          <li><a href="portfolio.html">Портфолио</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </div>
	  	<div class="row no-gutters">
	  		<div class="col-lg-8">
	  			<div class="title__block title-left text-center text-md-right py-3 py-md-5">
	  				<div class="d-inline-block text-left px-lg-3">
					    <h2>Желаете разместить <span class="d-lg-none">INDOOR РЕКЛАМУ?</span></h2>
					    <p>Мы вам поможем</p>
					  </div>
				  </div>
			    <div class="terms-placement">
		        <div class="row no-gutters">
		          <div class="col-lg-6 text-center">
		            <img src="images/terms-placement-img.jpg" class="img-fluid" alt=""/>
		          </div>
		          <div class="col-lg-6">
		            <div class="p-3">
		              <div class="terms-title mb-3">Сроки размещения</div>
		              <div class="terms-placement__mounth">
		                <div class="terms-format row no-gutters">
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.1s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="january">
		                    <label class="form-check-label" for="january"><span>Январь</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.2s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="february">
		                    <label class="form-check-label" for="february"><span>Февраль</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.3s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="march">
		                    <label class="form-check-label" for="march"><span>Март</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.4s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="april">
		                    <label class="form-check-label" for="april"><span>Апрель</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.5s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="may">
		                    <label class="form-check-label" for="may"><span>Май</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.6s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="june">
		                    <label class="form-check-label" for="june"><span>Июнь</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.7s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="july">
		                    <label class="form-check-label" for="july"><span>Июль</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.8s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="august">
		                    <label class="form-check-label" for="august"><span>Август</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.9s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="september">
		                    <label class="form-check-label" for="september"><span>Сентябрь</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="1s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="october">
		                    <label class="form-check-label" for="october"><span>Октябрь</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="1.1s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="november">
		                    <label class="form-check-label" for="november"><span>Ноябрь</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="1.2s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="december">
		                    <label class="form-check-label" for="december"><span>Декабрь</span></label>
		                  </div>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
			    </div>
			    <div class="terms-placement placement-format p-3">
		        <div class="terms-title mb-3">Желаемый формат</div>
		        <div class="terms-format row no-gutters">
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.1s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="billboards">
		            <label class="form-check-label form-check-mh" for="billboards"><span>Щиты 6х3 (Билборды)</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.2s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="thumbs">
		            <label class="form-check-label form-check-mh" for="thumbs"><span>Пиллары (тумбы)</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.3s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="videoscreens">
		            <label class="form-check-label form-check-mh" for="videoscreens"><span>Видеоэкраны</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.4s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="posters">
		            <label class="form-check-label form-check-mh" for="posters"><span>Афиши</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.5" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="city-formats">
		            <label class="form-check-label form-check-mh" for="city-formats"><span>Сити-форматы</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.6s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="big-formats">
		            <label class="form-check-label form-check-mh" for="big-formats"><span>Крупные форматы суперсайты, арки, юниполы)</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.7s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="roof-installation">
		            <label class="form-check-label form-check-mh" for="roof-installation"><span>Крышные установки</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.8s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="ceiling">
		            <label class="form-check-label form-check-mh" for="ceiling"><span>Стелы</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.9s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="stops">
		            <label class="form-check-label form-check-mh" for="stops"><span>Остановки</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="1s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="citibord">
		            <label class="form-check-label form-check-mh" for="citibord"><span>Ситиборд</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="1.1s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="firewall">
		            <label class="form-check-label form-check-mh" for="firewall"><span>Брандмауэр на фасадах</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="1.2s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="light">
		            <label class="form-check-label form-check-mh" for="light"><span>Панель-кронштейны на столбах освещения</span></label>
		          </div>
		        </div>
			    </div>
			  </div>
		    <div class="col-lg-4">
		      <div class="calculator-contact__form wow fadeInRight" data-wow-delay="0.2s" data-wow-offset="80">
		      	<div class="title__block title-right d-none d-lg-block text-center py-3 py-md-5">
		        	<h2>INDOOR РЕКЛАМУ?</h2>
		        </div>
		        <div class="form-content px-4 py-4 py-lg-0">
		          <div class="form-group mb-3 mb-md-5">
		            <input type="text" class="form-control" id="where-block" placeholder="Адрес где вы хотите разместить*">
		          </div>
		          <div class="form-group mb-3 mb-md-5">
		            <input type="text" class="form-control" id="what-block" placeholder="Что вы хотите рекламировать?">
		          </div>
		          <div class="form-group mb-3 mb-md-5">
		            <input type="text" class="form-control" id="name-block" placeholder="Ваше имя?">
		          </div>
		          <div class="form-group mb-3 mb-md-5">
		            <input type="text" class="form-control" id="phone-block" placeholder="Номер телефона">
		          </div>
		          <div class="form-group mb-3 mb-md-5">
		            <input type="text" class="form-control" id="email-block" placeholder="Ваш e-mail">
		          </div>
		          <div class="styled__checkbox custom-checkbox mb-3 mb-md-4">
		            <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
		            <label for="styled-checkbox-1">Я согласен на обработку данных</label>
		          </div>
		          <div class="text-center mb-3 mb-md-4">
		          	<p>* Укажите адрес, мы сами подберем все доступные форматы которые есть рядом </p>
		          </div>
		          <div class="text-center">
		          	<button type="submit" class="btn btn-red px-4">Отправить данные</button>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
    </div>
	</section>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>