<% var data = {
  title: "Клиенты | Проект",
  padclass: "",
  mainheadclass: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<main class="custom-page__wrapper">
	<nav class="breadcrumb__block" aria-label="breadcrumb">
		<div class="container">
		  <ol class="breadcrumb p-0">
		    <li class="breadcrumb-item"><a href="#">Главная</a></li>
		    <li class="breadcrumb-item"><a href="#">Клиенты</a></li>
		    <li class="breadcrumb-item active" aria-current="page"><span>Клиенты</span></li>
		  </ol>
		</div>
	</nav>
  <section class="clients">
    <div class="container">
    	<div class="title__block text-center mb-5 wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="80">
      	<h1 class="display-4">Клиенты</h1>
      </div>
      <div class="custom-page__menu mb-5 wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="80">
        <ul>
          <li><a href="about.html">О нас</a></li>
          <li><a href="portfolio.html">Проекты</a></li>
          <li><a href="portfolio.html">Портфолио</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-6 col-xl-4 mb-4 wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="80">
        	<div class="media d-block d-sm-flex clients-block">
        		<div class="clients-image text-center mb-3 mb-sm-0 mr-0 mr-sm-3">
					  	<img src="http://adamenko.ho.ua/indoormedia/img/parthners-logo/1.png" class="img-fluid" alt=""/>
					  </div>
					  <div class="clients-body media-body">
					    <h4>ПАО «Сбербанк РФ»</h4>
            	<p>Предоставление банковских услуг частным и корпоративным клиентам: кредитование, депозиты, валютные операции, денежные переводы и т.д. Тарифы. Онлайн-банкинг.</p>
            	<p><a href="#" target="_blank">sberbank.ru</a></p>
					  </div>
					</div>
        </div>
        <div class="col-md-6 col-xl-4 mb-4 wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="80">
        	<div class="media d-block d-sm-flex clients-block">
        		<div class="clients-image text-center mb-3 mb-sm-0 mr-0 mr-sm-3">
					  	<img src="http://adamenko.ho.ua/indoormedia/img/parthners-logo/2.png" class="img-fluid" alt=""/>
					  </div>
					  <div class="clients-body media-body">
					    <h4>ПАО «Сбербанк РФ»</h4>
            	<p>Предоставление банковских услуг частным и корпоративным клиентам: кредитование, депозиты, валютные операции, денежные переводы и т.д. Тарифы. Онлайн-банкинг.</p>
            	<p><a href="#" target="_blank">sberbank.ru</a></p>
					  </div>
					</div>
        </div>
        <div class="col-md-6 col-xl-4 mb-4 wow fadeInUp" data-wow-delay="0.6s" data-wow-offset="80">
        	<div class="media d-block d-sm-flex clients-block">
        		<div class="clients-image text-center mb-3 mb-sm-0 mr-0 mr-sm-3">
					  	<img src="http://adamenko.ho.ua/indoormedia/img/parthners-logo/3.png" class="img-fluid" alt=""/>
					  </div>
					  <div class="clients-body media-body">
					    <h4>ПАО «Сбербанк РФ»</h4>
            	<p>Предоставление банковских услуг частным и корпоративным клиентам: кредитование, депозиты, валютные операции, денежные переводы и т.д. Тарифы. Онлайн-банкинг.</p>
            	<p><a href="#" target="_blank">sberbank.ru</a></p>
					  </div>
					</div>
        </div>
      </div>
    </div>
  </section>
</main>
<%= _.template(require('./../includes/footer.html'))(data) %>