<% var data = {
  title: "Контакты | Проект",
  padclass: "",
  mainheadclass: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<main class="custom-page__wrapper">
  <nav class="breadcrumb__block" aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb p-0">
        <li class="breadcrumb-item"><a href="#">Главная</a></li>
        <li class="breadcrumb-item"><a href="#">Санкт-Петербург</a></li>
        <li class="breadcrumb-item active" aria-current="page"><span>Контакты</span></li>
      </ol>
    </div>
  </nav>
  <section class="contacts">
    <div class="title__block text-center mb-5 wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="80">
      <h1 class="display-4">Контакты</h1>
    </div>
    <div class="custom-page__menu mb-5 wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="80">
      <ul>
        <li><a href="about.html">О нас</a></li>
        <li><a href="portfolio.html">Проекты</a></li>
        <li><a href="portfolio.html">Портфолио</a></li>
        <li><a href="contacts.html">Контакты</a></li>
      </ul>
    </div>
    <div class="map_block py-3 py-md-5">
      <div class="container py-3 py-md-5">
        <div class="row">
          <div class="col-lg-5 col-md-6">
            <div class="contacts-content shadow py-3 py-md-5">
              <div class="contacts-content-header text-center mb-3 mb-md-5 px-3 px-md-5">
              	<div class="d-inline-block text-left">
                	<p>indoor.media</p>
                	<h2>Контакты</h2>
                </div>
              </div>
              <div class="contacts-content-body px-3 px-md-5">
                <p>E-mail: info@dooh.ru</p>
                <p>Телефон: +7 (812) 702-05-07</p>
                <p>Адрес: Санкт-Петербург, проспект стачек, 47</p>
              </div>
              <div class="contacts-content-button text-right">
	              <a href="#" class="py-5 px-3">
	              	<span>Написать<br clear="d-none d-md-block" /> нам</span>
	              </a>
	            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="map"></div>
    </div>
  </section>
</main>
<%= _.template(require('./../includes/footer.html'))(data) %>