<% var data = {
  title: "Заголовок | Проект",
  padclass: "mb-5",
  mainheadclass: "main-header"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<main>
	<!-- Advantages wrapper start -->
	<div class="advantages-wrapper">
	  <div class="container">
	    <div class="row justify-content-center">
	      <div class="col-md-4 my-3 py-3 my-md-5 py-md-5">
	        <div class="media align-items-center advantages-block__item wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="100">
	          <div class="media-image advantages-block__item-img">
	            <h3>1</h3>
	          </div>
	          <div class="media-body advantages-block__item-text">
	            <h5>День минимальный</h5>
	            <p>срок запуска рекламной <br> кампании</p>
	          </div>
	        </div>
	      </div>
	      <div class="col-md-4 my-3 py-3 my-md-5 py-md-5">
	        <div class="media align-items-center advantages-block__item wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="100">
	          <div class="media-image advantages-block__item-img">
	            <h3>2008</h3>
	            <p>год</p>
	          </div>
	          <div class="media-body advantages-block__item-text">
	            <h5>Год основания</h5>
	            <p>компании</p>
	          </div>
	        </div>
	      </div>
	      <div class="col-md-4 my-3 py-3 my-md-5 py-md-5">
	        <div class="media align-items-center advantages-block__item wow fadeInUp" data-wow-delay="0.6s" data-wow-offset="100">
	          <div class="media-image advantages-block__item-img">
	            <h3>200000</h3>
	            <p>год</p>
	          </div>
	          <div class="media-body advantages-block__item-text">
	            <h5>Большая адресная</h5>
	            <p>программа</p>
	          </div>
	        </div>
	      </div>
	      <div class="col-md-4 my-3 py-3 my-md-5 py-md-5">
	        <div class="media align-items-center advantages-block__item wow fadeInUp" data-wow-delay="0.8s" data-wow-offset="100">
	          <div class="media-image advantages-block__item-img">
	            <h3>11</h3>
	            <p>лет</p>
	          </div>
	          <div class="media-body advantages-block__item-text">
	            <h5>Более 11 лет</h5>
	            <p>на рынке </p>
	          </div>
	        </div>
	      </div>
	      <div class="col-md-4 my-3 py-3 my-md-5 py-md-5">
	        <div class="media align-items-center advantages-block__item wow fadeInUp" data-wow-delay="1s" data-wow-offset="100">
	          <div class="media-image advantages-block__item-img">
	            <h3>4000</h3>
	          </div>
	          <div class="media-body advantages-block__item-text">
	            <h5>Реализовано успешных</h5>
	            <p>рекламных проектов</p>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Advantages wrapper end -->
	<!-- Our services start -->
	<section class="services-wrapper py-5">
	  <div class="container">
	  	<div class="title__block">
	    	<h2 class="wow fadeInLeft text-uppercase" data-wow-delay="0.2s" data-wow-offset="50">INDOOR РЕКЛАМА НАШИ ФОРМАТЫ</h2>
	    	<p class="wow fadeInLeft" data-wow-delay="0.4s" data-wow-offset="50">Здесь предоставлен перечень рекламных форматов</p>
	    </div>
	    <div class="row">
	      <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
	        <a href="service-page.html" class="services-card__item text-center wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="50">
	          <span class="d-block services-card__img mb-3">
	          	<img src="images/services/1.png" class="img-fluid" alt=""/>
	          </span>
	          <span class="d-block services-card__title mb-3">
	            <span>АЗС</span>
	          </span>
	          <span class="d-block hover-block">
	            <span class="circle"></span>
	          </span>
	        </a>
	      </div>
	      <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
	        <a href="service-page.html" class="services-card__item text-center wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="50">
	          <span class="d-block services-card__img mb-3">
	          	<img src="images/services/2.png" class="img-fluid" alt=""/>
	          </span>
	          <span class="d-block services-card__title mb-3">
	            <span>Аэропорты</span>
	          </span>
	          <span class="d-block hover-block">
	            <span class="circle"></span>
	          </span>
	        </a>
	      </div>
	      <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
	        <a href="service-page.html" class="services-card__item text-center wow fadeInUp" data-wow-delay="0.6s" data-wow-offset="50">
	          <span class="d-block services-card__img mb-3">
	          	<img src="images/services/3.png" class="img-fluid" alt=""/>
	          </span>
	          <span class="d-block services-card__title mb-3">
	            <span>Бизнес-центры</span>
	          </span>
	          <span class="d-block hover-block">
	            <span class="circle"></span>
	          </span>
	        </a>
	      </div>
	      <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
	        <a href="service-page.html" class="services-card__item text-center wow fadeInUp" data-wow-delay="0.8s" data-wow-offset="50">
	          <span class="d-block services-card__img mb-3">
	          	<img src="images/services/4.png" class="img-fluid" alt=""/>
	          </span>
	          <span class="d-block services-card__title mb-3">
	            <span>Вокзалы</span>
	          </span>
	          <span class="d-block hover-block">
	            <span class="circle"></span>
	          </span>
	        </a>
	      </div>
	      <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
	        <a href="service-page.html" class="services-card__item text-center wow fadeInUp" data-wow-delay="1s" data-wow-offset="50">
	          <span class="d-block services-card__img mb-3">
	          	<img src="images/services/5.png" class="img-fluid" alt=""/>
	          </span>
	          <span class="d-block services-card__title mb-3">
	            <span>Гипермаркеты</span>
	          </span>
	          <span class="d-block hover-block">
	            <span class="circle"></span>
	          </span>
	        </a>
	      </div>
	      <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
	        <a href="#form-dialog" class="popup-with-form services-card__item text-center wow fadeInUp" data-wow-delay="1.2s" data-wow-offset="50" data-name="Добавьте свой формат">
	          <div class="services-card__img">
	            <img src="images/services/16.png" alt=""/>
	          </div>
	          <div class="services-card__title">
	            <span>Добавьте свой формат</span>
	          </div>
	        </a>
	      </div>
	    </div>
	  </div>
	</section>
	<!-- Our services end -->
	<!-- Advertising campaigns start -->
	<section class="advertising-campaigns">
	  <div class="advertising-campaigns__heading">
	    <div class="container">
	    	<div class="row no-gutters justify-content-center text-center">
	    		<div class="col-lg-10 py-3 py-md-5 campaigns__heading-cont">
	      		<h2 class="my-3 my-md-5 wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="80"><strong>Рекламные</strong> кампании <br> реализованные в формате <strong>INDOOR</strong></h2>
	      		<div class="heading-cont-before"></div>
	      		<div class="heading-cont-after"></div>
	      	</div>
	      </div>
	    </div>
	    <div id="scene" class="scene d-none d-lg-block">
	      <div class="parallax-arrow parallax-arrow-1 wow fadeInLeft" data-wow-delay="0.2s" data-wow-offset="80" data-depth="0.2"></div>
	      <div class="parallax-arrow parallax-arrow-2 wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="80" data-depth="0.4"></div>
	    </div>
	  </div>
	  <div class="project-block grid">
	    <div class="grid-item project-block__collumn">
        <div class="project-image">
          <img src="images/projects/1.png" class="img-fluid" alt=""/>
        </div>
        <div class="project-title">
          <p>Внутри салона</p>
        </div>
        <div class="project-view px-3 text-center">
          <a href="images/projects/1.png" class="btn btn-red">Посмотреть проекты</a>
        </div>
	    </div>
	    <div class="grid-item grid-item-40 project-block__collumn">
	      <div class="project-image">
          <img src="images/projects/2.png" class="img-fluid" alt=""/>
        </div>
	      <div class="project-title">
          <p>Полное брендирование</p>
        </div>
        <div class="project-view px-3 text-center">
          <a href="images/projects/2.png" class="btn btn-red">Посмотреть проекты</a>
	      </div>
	    </div>
	    <div class="grid-item project-block__collumn">
	      <div class="project-image">
          <img src="images/projects/3.png" class="img-fluid" alt=""/>
        </div>
	      <div class="project-title">
          <p>Лифты</p>
        </div>
				<div class="project-view px-3 text-center">
          <a href="images/projects/2.png" class="btn btn-red">Посмотреть проекты</a>
	      </div>
	    </div>
	    <div class="grid-item project-block__collumn">
	      <div class="project-image">
          <img src="images/projects/7.png" class="img-fluid" alt=""/>
        </div>
        <div class="project-title">
          <p>Левый борт</p>
        </div>
        <div class="project-view px-3 text-center">
          <a href="images/projects/2.png" class="btn btn-red">Посмотреть проекты</a>
	      </div>
	    </div>
	    <div class="grid-item project-block__collumn">
	      <div class="project-image">
          <img src="images/projects/4.png" class="img-fluid" alt=""/>
        </div>
        <div class="project-title">
          <p>остановки</p>
        </div>
        <div class="project-view px-3 text-center">
          <a href="images/projects/2.png" class="btn btn-red">Посмотреть проекты</a>
	      </div>
	    </div>
	    <div class="grid-item project-block__collumn">
	      <div class="project-image">
          <img src="images/projects/5.png" class="img-fluid" alt=""/>
        </div>
        <div class="project-title">
          <p>спец проекты</p>
        </div>
        <div class="project-view px-3 text-center">
          <a href="images/projects/2.png" class="btn btn-red">Посмотреть проекты</a>
	      </div>
	    </div>
	    <div class="grid-item project-block__collumn">
	      <div class="project-image">
          <img src="images/projects/6.png" class="img-fluid" alt=""/>
        </div>
        <div class="project-title">
          <p>Гиппермаркеты</p>
        </div>
        <div class="project-view px-3 text-center">
          <a href="images/projects/2.png" class="btn btn-red">Посмотреть проекты</a>
	      </div>
	    </div>
	  </div>
	  <div class="all-project py-5">
	  	<div class="container text-center">
	    	<a href="#" class="show-more">Еще проекты<i><img src="images/icons/project-arrow.png" alt=""></i></a>
	    </div>
	  </div>
	</section>
	<!-- Advertising campaigns end -->
	<!-- Work steps start -->
	<section class="work-steps py-5">
	  <div class="container">
	  	<div class="title__block mb-5">
	    	<h2 class="wow fadeInLeft" data-wow-delay="0.2s" data-wow-offset="80">Схема работы</h2>
	    </div>
	    <div class="row no-gutters flex-xl-nowrap steps-wrap my-5 py-5">
	      <div class="col-md-6 col-lg-4 col-xl steps-item py-4 mb-3 mb-xl-0 wow fadeInLeft" data-wow-delay="0.2s" data-wow-offset="80" style="z-index: 6;">
	      	<div class="steps-item-before"></div>
	      	<div class="steps-item-body d-flex align-items-center justify-content-start h-100">
	      		<div class="steps-item-body-icon">
	        		<img src="images/icons/phone.png" alt=""/>
	        	</div>
	        	<div class="steps-item-body-text py-5 pl-3">
	        		<p>Ваш звонок или заявка онлайн</p>
	        	</div>
	        </div>
	        <div class="steps-item-after">
	        	<img src="images/icons/steps-arrow.svg" class="" alt=""/>
	        </div>
	      </div>
	      <div class="col-md-6 col-lg-4 col-xl steps-item py-4 mb-3 mb-xl-0 wow fadeInLeft" data-wow-delay="0.5s" data-wow-offset="80" style="z-index: 5;">
	      	<div class="steps-item-before"></div>
	      	<div class="steps-item-body d-flex align-items-center justify-content-start h-100">
	      		<div class="steps-item-body-icon">
	        		<img src="images/icons/search.png" alt=""/>
	        	</div>
	        	<div class="steps-item-body-text py-5 pl-3">
	        		<p>Подбор адресной программы</p>
	        	</div>
	        </div>
	        <div class="steps-item-after">
	        	<img src="images/icons/steps-arrow.svg" class="" alt=""/>
	        </div>
	      </div>
	      <div class="col-md-6 col-lg-4 col-xl steps-item py-4 mb-3 mb-xl-0 wow fadeInLeft" data-wow-delay="0.8s" data-wow-offset="80" style="z-index: 4;">
	      	<div class="steps-item-before"></div>
	      	<div class="steps-item-body d-flex align-items-center justify-content-start h-100">
	      		<div class="steps-item-body-icon">
	        		<img src="images/icons/document.png" alt=""/>
	        	</div>
	        	<div class="steps-item-body-text py-5 pl-3">
	        		<p>Заключение договора</p>
	        	</div>
	        </div>
	        <div class="steps-item-after">
	        	<img src="images/icons/steps-arrow.svg" class="" alt=""/>
	        </div>
	      </div>
	      <div class="col-md-6 col-lg-4 col-xl steps-item py-4 mb-3 mb-xl-0 wow fadeInLeft" data-wow-delay="1.1s" data-wow-offset="80" style="z-index: 3;">
	      	<div class="steps-item-before"></div>
	      	<div class="steps-item-body d-flex align-items-center justify-content-start h-100">
	      		<div class="steps-item-body-icon">
	        		<img src="images/icons/ok.png" alt="">
        		</div>
        		<div class="steps-item-body-text py-5 pl-3">
	        		<p>Согласование макета</p>
	        	</div>
	        </div>
	        <div class="steps-item-after">
	        	<img src="images/icons/steps-arrow.svg" class="" alt=""/>
	        </div>
	      </div>
	      <div class="col-md-6 col-lg-4 col-xl steps-item py-4 mb-3 mb-xl-0 wow fadeInLeft" data-wow-delay="1.4s" data-wow-offset="80" style="z-index: 2;">
	      	<div class="steps-item-before"></div>
	      	<div class="steps-item-body d-flex align-items-center justify-content-start h-100">
	      		<div class="steps-item-body-icon">
	        		<img src="images/icons/installer-icon.png" alt=""/>
	        	</div>
        		<div class="steps-item-body-text py-5 pl-3">
	        		<p>Монтаж и запуск кампании</p>
	        	</div>
	        </div>
	        <div class="steps-item-after">
	        	<img src="images/icons/steps-arrow.svg" class="" alt=""/>
	        </div>
	      </div>
	      <div class="col-md-6 col-lg-4 col-xl steps-item py-4 mb-3 mb-xl-0 wow fadeInLeft" data-wow-delay="1.7s" data-wow-offset="80" style="z-index: 1;">
	      	<div class="steps-item-before"></div>
	      	<div class="steps-item-body d-flex align-items-center justify-content-start h-100">
	      		<div class="steps-item-body-icon">
	        		<img src="images/icons/camera.png" alt=""/>
	        	</div>
        		<div class="steps-item-body-text py-5 pl-3">
	        		<p>Фотоотчет</p>
	        	</div>
	        </div>
	        <div class="steps-item-after">
	        	<img src="images/icons/steps-arrow-yellow.svg" class="" alt=""/>
	        </div>
	      </div>
	    </div>
	    <div class="work-steps-content text-center mb-5 wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="80">
	    	<h1>СДЕЛАЕМ ВСЕ ЗА ВАС</h1>
	    	<p>нужно лишь заполнить заявку</p>
	    </div>
	    <div class="work-steps-btn text-center mb-5 wow fadeInUp" data-wow-delay="0.6s" data-wow-offset="80">
	    	<a href="#" class="btn btn-red px-5 feedback-call">Заказать звонок</a>
	    </div>
	  </div>
	</section>
	<!-- Work steps end -->
	<!-- Calculator start -->
	<section class="calc-wrapper" id="calculator-wrapper">
	  <div class="container">
	  	<div class="row no-gutters">
	  		<div class="col-lg-8">
	  			<div class="title__block title-left text-center text-md-right py-3 py-md-5">
	  				<div class="d-inline-block text-left px-lg-3">
					    <h2>Желаете разместить <span class="d-lg-none">INDOOR РЕКЛАМУ?</span></h2>
					    <p>Мы вам поможем</p>
					  </div>
				  </div>
			    <div class="terms-placement">
		        <div class="row no-gutters">
		          <div class="col-lg-6 text-center">
		            <img src="images/terms-placement-img.jpg" class="img-fluid" alt=""/>
		          </div>
		          <div class="col-lg-6">
		            <div class="p-3">
		              <div class="terms-title mb-3">Сроки размещения</div>
		              <div class="terms-placement__mounth">
		                <div class="terms-format row no-gutters">
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.1s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="january">
		                    <label class="form-check-label" for="january"><span>Январь</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.2s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="february">
		                    <label class="form-check-label" for="february"><span>Февраль</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.3s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="march">
		                    <label class="form-check-label" for="march"><span>Март</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.4s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="april">
		                    <label class="form-check-label" for="april"><span>Апрель</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.5s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="may">
		                    <label class="form-check-label" for="may"><span>Май</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.6s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="june">
		                    <label class="form-check-label" for="june"><span>Июнь</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.7s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="july">
		                    <label class="form-check-label" for="july"><span>Июль</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.8s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="august">
		                    <label class="form-check-label" for="august"><span>Август</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.9s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="september">
		                    <label class="form-check-label" for="september"><span>Сентябрь</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="1s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="october">
		                    <label class="form-check-label" for="october"><span>Октябрь</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="1.1s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="november">
		                    <label class="form-check-label" for="november"><span>Ноябрь</span></label>
		                  </div>
		                  <div class="col-4 form-check custom-checkbox wow bounceIn" data-wow-delay="1.2s" data-wow-offset="80">
		                    <input type="checkbox" class="form-check-input" id="december">
		                    <label class="form-check-label" for="december"><span>Декабрь</span></label>
		                  </div>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
			    </div>
			    <div class="terms-placement placement-format p-3">
		        <div class="terms-title mb-3">Желаемый формат</div>
		        <div class="terms-format row no-gutters">
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.1s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="billboards">
		            <label class="form-check-label form-check-mh" for="billboards"><span>Щиты 6х3 (Билборды)</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.2s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="thumbs">
		            <label class="form-check-label form-check-mh" for="thumbs"><span>Пиллары (тумбы)</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.3s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="videoscreens">
		            <label class="form-check-label form-check-mh" for="videoscreens"><span>Видеоэкраны</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.4s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="posters">
		            <label class="form-check-label form-check-mh" for="posters"><span>Афиши</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.5" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="city-formats">
		            <label class="form-check-label form-check-mh" for="city-formats"><span>Сити-форматы</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.6s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="big-formats">
		            <label class="form-check-label form-check-mh" for="big-formats"><span>Крупные форматы суперсайты, арки, юниполы)</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.7s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="roof-installation">
		            <label class="form-check-label form-check-mh" for="roof-installation"><span>Крышные установки</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.8s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="ceiling">
		            <label class="form-check-label form-check-mh" for="ceiling"><span>Стелы</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="0.9s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="stops">
		            <label class="form-check-label form-check-mh" for="stops"><span>Остановки</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="1s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="citibord">
		            <label class="form-check-label form-check-mh" for="citibord"><span>Ситиборд</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="1.1s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="firewall">
		            <label class="form-check-label form-check-mh" for="firewall"><span>Брандмауэр на фасадах</span></label>
		          </div>
		          <div class="col-sm-6 col-md-4 form-check custom-checkbox wow bounceIn" data-wow-delay="1.2s" data-wow-offset="80">
		            <input type="checkbox" class="form-check-input" id="light">
		            <label class="form-check-label form-check-mh" for="light"><span>Панель-кронштейны на столбах освещения</span></label>
		          </div>
		        </div>
			    </div>
			  </div>
		    <div class="col-lg-4">
		      <div class="calculator-contact__form wow fadeInRight" data-wow-delay="0.2s" data-wow-offset="80">
		      	<div class="title__block title-right d-none d-lg-block text-center py-3 py-md-5">
		        	<h2>INDOOR РЕКЛАМУ?</h2>
		        </div>
		        <div class="form-content px-4 py-4 py-lg-0">
		          <div class="form-group mb-3 mb-md-5">
		            <input type="text" class="form-control" id="where-block" placeholder="Адрес где вы хотите разместить*">
		          </div>
		          <div class="form-group mb-3 mb-md-5">
		            <input type="text" class="form-control" id="what-block" placeholder="Что вы хотите рекламировать?">
		          </div>
		          <div class="form-group mb-3 mb-md-5">
		            <input type="text" class="form-control" id="name-block" placeholder="Ваше имя?">
		          </div>
		          <div class="form-group mb-3 mb-md-5">
		            <input type="text" class="form-control" id="phone-block" placeholder="Номер телефона">
		          </div>
		          <div class="form-group mb-3 mb-md-5">
		            <input type="text" class="form-control" id="email-block" placeholder="Ваш e-mail">
		          </div>
		          <div class="styled__checkbox custom-checkbox mb-3 mb-md-4">
		            <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
		            <label for="styled-checkbox-1">Я согласен на обработку данных</label>
		          </div>
		          <div class="text-center mb-3 mb-md-4">
		          	<p>* Укажите адрес, мы сами подберем все доступные форматы которые есть рядом </p>
		          </div>
		          <div class="text-center">
		          	<button type="submit" class="btn btn-red px-4">Отправить данные</button>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
    </div>
	</section>
	<!-- Calculator end -->
	<!-- About company start -->
	<section class="about-company pt-5">
	  <div class="container">
	  	<div class="title__block text-center mb-5">
	    	<h2 class="wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="80">О компании</h2>
	    </div>
	    <div class="row no-gutters">
	      <div class="col-md-5">
	        <div class="about-image h-100 text-center d-flex justify-content-center py-5 py-md-0 px-3 wow fadeInLeft" data-wow-delay="0.4s" data-wow-offset="80" style="background-image: url(images/indoor.jpg);">
	          <img src="images/indoor.svg" class="img-fluid d-flex align-self-center" alt=""/>
	        </div>
	      </div>
	      <div class="col-md-7">
	        <div class="about-content py-2 pl-md-3 wow fadeInLeft" data-wow-delay="0.4s" data-wow-offset="80">
	          <h5>В чем же заключается путь успеха бизнеса?</h5>
	          <p>В привлечении потенциальных клиентов, повышении продаж, проявлении лояльного отношению к бренду. Помочь получить определенный уровень доверенности к вашим услугам помогут — рекламные услуги нашего агентства. К сожалению, многие владельцы своих компаний не понимают всю ценность рекламных кампаний, которые они проводят.</p>
	          <p>Ведь грамотным подходом к оказанию рекламных услуг можно добиться не только повышения продаж и извлечения из неё большей выгоды, чем сами затраты на рекламные услуги, но и повысить вашу значимость на рынке услуг. Ознакомиться с рекламными поверхностями, на которых мы разворачиваем вашу рекламную кампанию вы можете в нашем каталоге рекламы на щитах.</p>
	          <p>Мы довели систему заказа рекламных поверхностей до такого уровня, что вы можете просто найти её на карте и заказать в несколько кликов! Больше никаких сложных, долгих махинаций с поиском мест для размещения рекламы. Все просто и практично.</p>
	          <div class="about-more text-right mb-3 wow fadeInUp" data-wow-delay="1.4s" data-wow-offset="80">
	            <a href="#">Перейти на страницу “О компании”</a>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>
	<!-- About company end -->
	<!-- Contact wrapper start -->
	<div class="contact-wrapper">
	  <div class="container">
	    <div class="row no-gutters">
	      <div class="col-md-5">
	        <div class="contact-content py-5 px-3 h-100 wow fadeInDown" data-wow-delay="0.6s" data-wow-offset="80">
	        	<div class="contact-content-title mb-5 text-center">
	          	<h3>Наши контакты</h3>
	          </div>
	          <div class="contact-content-info mb-4">
	            <div class="row justify-content-center align-items-center mb-2">
	              <div class="col-sm-4"><p>E-mail:</p></div>
	              <div class="col-sm-6"><p><a href="mailto:info@dooh.ru">info@dooh.ru</a></p></div>
	            </div>
	            <div class="row justify-content-center align-items-center mb-2">
	              <div class="col-sm-4"><p>Телефон:</p></div>
	              <div class="col-sm-6"><p><a href="tel:+7 (812) 702-05-07">+7 (812) 702-05-07</a></p></div>
	            </div>	              
	            <div class="row justify-content-center align-items-center mb-2">
	            	<div class="col-sm-4"><p>Адрес:</p></div>
	              <div class="col-sm-6"><p>Санкт-Петербург, проспект стачек, 47</p></div>
	            </div>
	          </div>
	          <div class="text-center mb-3">
		          <a href="#" class="btn btn-red px-4">Вопрос консультанту</a>
		        </div>
		        <div class="text-center mb-5">
		          <a href="#">Вопрос директору</a>
		        </div>
		        <div class="text-center">
		          <a class="show-map" href="">Показать офис на карте</a>
		        </div>
	        </div>
	      </div>
	      <div class="col-md-7 col-lg-5">
	        <div class="contact-image d-flex justify-content-center h-100 py-5 py-md-0 px-3 wow fadeInLeft" data-wow-delay="0.8s" data-wow-offset="80">
	          <img class="img-fluid w-100 d-flex align-self-center" src="images/media.svg" alt="">
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Contact wrapper end -->
	<!-- Our parthners start -->
	<section class="parthners-wrapper">
	  <div class="container">
	  	<div class="title__block text-center">
	    	<h2>Нам доверяют</h2>
	    </div>
	    <div class="parthners-logo__slider owl-carousel owl-theme">
	      <div class="parthners-logo__item wow zoomIn" data-wow-delay="0.1s" data-wow-offset="80">
	        <a href="#"><img src="images/parthners-logo/1.png" class="img-fluid" alt=""/></a>
	      </div>
	      <div class="parthners-logo__item wow zoomIn" data-wow-delay="0.2s" data-wow-offset="80">
	        <a href="#"><img src="images/parthners-logo/2.png" class="img-fluid" alt=""/></a>
	      </div>
	      <div class="parthners-logo__item wow zoomIn" data-wow-delay="0.3s" data-wow-offset="80">
	        <a href="#"><img src="images/parthners-logo/3.png" class="img-fluid" alt=""/></a>
	      </div>
	      <div class="parthners-logo__item wow zoomIn" data-wow-delay="0.4s" data-wow-offset="80">
	        <a href="#"><img src="images/parthners-logo/4.png" class="img-fluid" alt=""/></a>
	      </div>
	      <div class="parthners-logo__item wow zoomIn" data-wow-delay="0.5s" data-wow-offset="80">
	        <a href="#"><img src="images/parthners-logo/5.png" class="img-fluid" alt=""/></a>
	      </div>
	      <div class="parthners-logo__item wow zoomIn" data-wow-delay="0.6s" data-wow-offset="80">
	        <a href="#"><img src="images/parthners-logo/6.png" class="img-fluid" alt=""/></a>
	      </div>
	      <div class="parthners-logo__item wow zoomIn" data-wow-delay="0.7s" data-wow-offset="80">
	        <a href="#"><img src="images/parthners-logo/7.png" class="img-fluid" alt=""/></a>
	      </div>
	      <div class="parthners-logo__item wow zoomIn" data-wow-delay="0.8s" data-wow-offset="80">
	        <a href="#"><img src="images/parthners-logo/8.png" class="img-fluid" alt=""/></a>
	      </div>
	      <div class="parthners-logo__item">
	        <a href="#"><img src="images/parthners-logo/1.png" class="img-fluid" alt=""/></a>
	      </div>
	      <div class="parthners-logo__item">
	        <a href="#"><img src="images/parthners-logo/2.png" class="img-fluid" alt=""/></a>
	      </div>
	    </div>
	  </div>
	</section>
	<!-- Our parthners end -->
</main>
<%= _.template(require('./../includes/footer.html'))(data) %>