<% var data = {
  title: "Портфолио | Проект",
  padclass: "",
  mainheadclass: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<main class="custom-page__wrapper">
	<nav class="breadcrumb__block" aria-label="breadcrumb">
		<div class="container">
		  <ol class="breadcrumb p-0">
			  <li class="breadcrumb-item"><a href="#">Главная</a></li>
			  <li class="breadcrumb-item active" aria-current="page"><span>Портфолио</span></li>
		  </ol>
		</div>
	</nav>
	<section class="portfolio">
	  <div class="container">
	  	<div class="title__block text-center mb-5 wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="80">
      	<h1 class="display-4">Портфолио</h1>
      </div>
      <div class="custom-page__menu mb-5 wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="80">
        <ul>
          <li><a href="about.html">О нас</a></li>
          <li><a href="portfolio.html">Проекты</a></li>
          <li><a href="portfolio.html">Портфолио</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </div>
      <div class="owl-carousel owl-theme portfolio-slider mb-5">
        <div class="item px-3 px-md-5">
          <div class="slider-content py-5">
          	<div class="slider-image">
							<img src="images/top.png" alt="" />
						</div>
            <div class="row align-items-center slider-content">
              <div class="slider-count col-md-3 text-center py-3 py-md-0">
              	<div class="d-inline-block text-left">
	                <p><span>40</span></p>
	                <p>Проектов</p>
	              </div>
              </div>
              <div class="slider-text col-md-9">
                <h3>АЗС</h3>
                <p>Ситиборд — формат наружной рекламы. Динамичная рекламная конструкция, с внутренней подсветкой. Имеет малые размеры 3,7х2,7 м., благодаря чему хорошо вписывается в центральные части города. Так же, привлекает внимание за счет динамичной ротации постеров. Внутренняя подсветка дает возможность показа рекламы даже в ночное время. Размещение наружной рекламы в сочетании с другими рекламными поверхностями приведет к более широкому охвату аудитории.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item px-3 px-md-5">
          <div class="slider-content py-5">
          	<div class="slider-image">
							<img src="images/top.png" alt="" />
						</div>
            <div class="row align-items-center slider-content">
              <div class="slider-count col-md-3 text-center py-3 py-md-0">
              	<div class="d-inline-block text-left">
	                <p><span>40</span></p>
	                <p>Проектов</p>
	              </div>
              </div>
              <div class="slider-text col-md-9">
                <h3>АЗС</h3>
                <p>Ситиборд — формат наружной рекламы. Динамичная рекламная конструкция, с внутренней подсветкой. Имеет малые размеры 3,7х2,7 м., благодаря чему хорошо вписывается в центральные части города. Так же, привлекает внимание за счет динамичной ротации постеров. Внутренняя подсветка дает возможность показа рекламы даже в ночное время. Размещение наружной рекламы в сочетании с другими рекламными поверхностями приведет к более широкому охвату аудитории.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
	  </div>
	</section>
	<section class="advertising-campaigns pb-5">
	  <div class="project-block bg-white grid">
	    <div class="grid-item project-block__collumn">
        <a href="#" class="project-link d-block text-center">
		      <span class="d-block project-image project-preview-image">
	          <img src="images/s1.jpg" class="img-fluid" alt=""/>
	        </span>
	        <span class="d-flex align-items-center project-preview p-2">
	        	<span class="">
		        	<span class="project-preview-logo mb-2">
	              <img src="images/logo.png" class="img-fluid" alt=""/>
	            </span>
	            <span class="project-preview-title mb-2">Lorem ipsum dolor sit.</span>
	            <span class="project-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, repellat.</span>
	          </span>
	        </span>
        </a>
	    </div>
	    <div class="grid-item project-block__collumn">
        <a href="#" class="project-link d-block text-center">
		      <span class="d-block project-image project-preview-image">
	          <img src="images/s2.jpg" class="img-fluid" alt=""/>
	        </span>
	        <span class="d-flex align-items-center project-preview p-2">
	        	<span class="">
		        	<span class="project-preview-logo mb-2">
	              <img src="images/logo.png" class="img-fluid" alt=""/>
	            </span>
	            <span class="project-preview-title mb-2">Lorem ipsum dolor sit.</span>
	            <span class="project-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, repellat.</span>
	          </span>
	        </span>
        </a>
	    </div>
	    <div class="grid-item project-block__collumn">
        <a href="#" class="project-link d-block text-center">
		      <span class="d-block project-image project-preview-image">
	          <img src="images/s3.jpg" class="img-fluid" alt=""/>
	        </span>
	        <span class="d-flex align-items-center project-preview p-2">
	        	<span class="">
		        	<span class="project-preview-logo mb-2">
	              <img src="images/logo.png" class="img-fluid" alt=""/>
	            </span>
	            <span class="project-preview-title mb-2">Lorem ipsum dolor sit.</span>
	            <span class="project-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, repellat.</span>
	          </span>
	        </span>
        </a>
	    </div>
	    <div class="grid-item project-block__collumn">
        <a href="#" class="project-link d-block text-center">
		      <span class="d-block project-image project-preview-image">
	          <img src="images/s4.jpg" class="img-fluid" alt=""/>
	        </span>
	        <span class="d-flex align-items-center project-preview p-2">
	        	<span class="">
		        	<span class="project-preview-logo mb-2">
	              <img src="images/logo.png" class="img-fluid" alt=""/>
	            </span>
	            <span class="project-preview-title mb-2">Lorem ipsum dolor sit.</span>
	            <span class="project-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, repellat.</span>
	          </span>
	        </span>
        </a>
	    </div>
	    <div class="grid-item project-block__collumn">
				<a href="#" class="project-link d-block text-center">
		      <span class="d-block project-image project-preview-image">
	          <img src="images/s4.jpg" class="img-fluid" alt=""/>
	        </span>
	        <span class="d-flex align-items-center project-preview p-2">
	        	<span class="">
		        	<span class="project-preview-logo mb-2">
	              <img src="images/logo.png" class="img-fluid" alt=""/>
	            </span>
	            <span class="project-preview-title mb-2">Lorem ipsum dolor sit.</span>
	            <span class="project-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, repellat.</span>
	          </span>
	        </span>
        </a>
	    </div>
	    <div class="grid-item project-block__collumn">
        <a href="#" class="project-link d-block text-center">
		      <span class="d-block project-image project-preview-image">
	          <img src="images/s5.jpg" class="img-fluid" alt=""/>
	        </span>
	        <span class="d-flex align-items-center project-preview p-2">
	        	<span class="">
		        	<span class="project-preview-logo mb-2">
	              <img src="images/logo.png" class="img-fluid" alt=""/>
	            </span>
	            <span class="project-preview-title mb-2">Lorem ipsum dolor sit.</span>
	            <span class="project-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, repellat.</span>
	          </span>
	        </span>
        </a>
	    </div>
	    <div class="grid-item project-block__collumn">
	    	<a href="#" class="project-link d-block text-center">
		      <span class="d-block project-image project-preview-image">
	          <img src="images/s4.jpg" class="img-fluid" alt=""/>
	        </span>
	        <span class="d-flex align-items-center project-preview p-2">
	        	<span class="">
		        	<span class="project-preview-logo mb-2">
	              <img src="images/logo.png" class="img-fluid" alt=""/>
	            </span>
	            <span class="project-preview-title mb-2">Lorem ipsum dolor sit.</span>
	            <span class="project-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, repellat.</span>
	          </span>
	        </span>
        </a>
	    </div>
	    <div class="grid-item project-block__collumn">
	    	<div class="all-project">
			  	<div class="text-center">
			    	<a href="#" class="d-block show-more py-5">Еще проекты<i><img src="images/icons/project-arrow.png" alt=""></i></a>
			    </div>
			  </div>
	    </div>
	  </div>
	</section>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>