<% var data = {
  title: "Услуги | Проект",
  padclass: "",
  mainheadclass: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<main class="custom-page__wrapper">
	<div class="container py-5">
		<div class="title__block text-center mb-5 wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="80">
    	<h1 class="display-4">Услуги</h1>
    </div>
    <div class="custom-page__menu mb-5 wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="80">
      <ul>
        <li><a href="about.html">О нас</a></li>
        <li><a href="portfolio.html">Проекты</a></li>
        <li><a href="portfolio.html">Портфолио</a></li>
        <li><a href="contacts.html">Контакты</a></li>
      </ul>
    </div>
  </div>
	<section class="services-wrapper py-5">
	  <div class="container">
	    <div class="row">
	      <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
	        <a href="#" class="services-card__item text-center wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="50">
	          <span class="d-block services-card__img mb-3">
	          	<img src="images/services/1.png" class="img-fluid" alt=""/>
	          </span>
	          <span class="d-block services-card__title mb-3">
	            <span>АЗС</span>
	          </span>
	          <span class="d-block hover-block">
	            <span class="circle"></span>
	          </span>
	        </a>
	      </div>
	      <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
	        <a href="#" class="services-card__item text-center wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="50">
	          <span class="d-block services-card__img mb-3">
	          	<img src="images/services/2.png" class="img-fluid" alt=""/>
	          </span>
	          <span class="d-block services-card__title mb-3">
	            <span>Аэропорты</span>
	          </span>
	          <span class="d-block hover-block">
	            <span class="circle"></span>
	          </span>
	        </a>
	      </div>
	      <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
	        <a href="#" class="services-card__item text-center wow fadeInUp" data-wow-delay="0.6s" data-wow-offset="50">
	          <span class="d-block services-card__img mb-3">
	          	<img src="images/services/3.png" class="img-fluid" alt=""/>
	          </span>
	          <span class="d-block services-card__title mb-3">
	            <span>Бизнес-центры</span>
	          </span>
	          <span class="d-block hover-block">
	            <span class="circle"></span>
	          </span>
	        </a>
	      </div>
	      <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
	        <a href="#" class="services-card__item text-center wow fadeInUp" data-wow-delay="0.8s" data-wow-offset="50">
	          <span class="d-block services-card__img mb-3">
	          	<img src="images/services/4.png" class="img-fluid" alt=""/>
	          </span>
	          <span class="d-block services-card__title mb-3">
	            <span>Вокзалы</span>
	          </span>
	          <span class="d-block hover-block">
	            <span class="circle"></span>
	          </span>
	        </a>
	      </div>
	      <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
	        <a href="#" class="services-card__item text-center wow fadeInUp" data-wow-delay="1s" data-wow-offset="50">
	          <span class="d-block services-card__img mb-3">
	          	<img src="images/services/5.png" class="img-fluid" alt=""/>
	          </span>
	          <span class="d-block services-card__title mb-3">
	            <span>Гипермаркеты</span>
	          </span>
	          <span class="d-block hover-block">
	            <span class="circle"></span>
	          </span>
	        </a>
	      </div>
	      <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
	        <a href="#" class="services-card__item text-center wow fadeInUp" data-wow-delay="1.2s" data-wow-offset="50">
	          <div class="services-card__img">
	            <img src="images/services/16.png" alt=""/>
	          </div>
	          <div class="services-card__title">
	            <span>Добавьте <br> свой формат</span>
	          </div>
	        </a>
	      </div>
	    </div>
	  </div>
	</section>
</main>



<%= _.template(require('./../includes/footer.html'))(data) %>