*:before,
*:after {
    box-sizing: border-box;
}

.cssinvisible {
    visibility: hidden !important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1190px;
    }
}

#take-call,
#consult-question,
#director-question,
#contact-form,
#all-contact {
	padding: 40px !important;
}

.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6 {
    padding: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Fira Sans', sans-serif;
    overflow-x: hidden;
}

.custom-page__wrapper {
	padding-top: 203px;
}

/* Scroll button */
#scroll-up {
	display: flex !important;
	align-items: center;
	justify-content: center;
	background-color: #42a1f9;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, 
	opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}

#scroll-up svg {
	width: 20px;
	height: auto;
}

#scroll-up:hover {
	cursor: pointer;
	background-color: #3482ca;
}

#scroll-up:active {
	background-color: #555;
}

#scroll-up.show {
	opacity: 1;
	visibility: visible;
}

/* Header style */
.header-wrapper {
    position: relative;
	height: 100vh;
	min-height: 835px;
    padding-bottom: 90px;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    padding: 20px 0;
}

.logo img {
    width: 100%;
}

.lang-and-social {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.lang-switcher ul li {
    display: inline-block;
}

.lang-switcher ul li:first-child::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 15px;
    margin: 0 10px;
    background-color: #fff;
    vertical-align: middle;
}

.lang-switcher ul li a {
    padding: 10px 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    transition: all .2s ease-in;
}

.lang-switcher ul li.active a {
    background-color: #43a1f9;
}

.lang-switcher ul li a:hover {
    background-color: #43a1f9;
    text-decoration: none;
}

.social-icons {
    margin-left: 20px;
}

.social-icons ul {
    height: 28px;
}

.social-icons ul li {
    display: inline-block;
}

.social-icons ul li a i {
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url(../img/icons/social-icons.png);
}

.social-icons ul li.facebook a i {
    background-size: 160px;
    background-position: -17px -9px;
}

.social-icons ul li.twitter a i {
    background-size: 160px;
    background-position: -50px -9px;
}

.social-icons ul li.instagram a i {
    background-size: 160px;
    background-position: -85px -8px;
}

.social-icons ul li.google-blog a i {
    background-size: 160px;
    background-position: -115px -9px;
}

.social-icons ul li.message a i {
    background-size: 160px;
    background-position: -17px -75px;
}

.social-icons ul li.whatsapp a i {
    background-size: 160px;
    background-position: -50px -75px;
}

.social-icons ul li.youtube a i {
    background-size: 160px;
    background-position: -83px -75px;
}

.social-icons ul li.pinterest a i {
    background-size: 160px;
    background-position: -115px -75px;
}

/* Menu */
.header-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    max-width: 100%;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background-color: #43a1f9;
    border-radius: 25px;
	box-shadow: 10px 3px 20px rgba(0,0,0,.3);
    z-index: 2;
}

.header-menu:hover {
    cursor: pointer;
}

.header-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu .hamb-icon {
    margin-right: 15px;
    height: 15px;
    display: flex;
    align-items: center;
}

.header-menu .hamb-icon span {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: #fff;
}

.header-menu .hamb-icon span:before,
.header-menu .hamb-icon span:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 27px;
    height: 3px;
    background-color: #fff;
}

.header-menu .hamb-icon span:before {
    top: -6px;
}

.header-menu .hamb-icon span:after {
    top: 6px;
}

.header-menu.show {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.header-menu.show ul li.hamb-icon span {
    visibility: hidden;
}

.header-menu.show ul li.hamb-icon span::before,
.header-menu.show ul li.hamb-icon span::after {
    visibility: visible;
}

.header-menu.show ul li.hamb-icon span::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.header-menu.show ul li.hamb-icon span::after {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.header-menu .hide-menu {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 0;
    padding-top: 0;
    background-color: #43a1f9;
    transition: .3s ease-in-out;
    z-index: 0;
    opacity: 1;
    visibility: visible;
    box-shadow: 0px 25px 20px rgba(0,0,0,.2);
    margin-top: -6px;
}

.header-menu.show .hide-menu {
    height: 400px;
    margin-top: -6px;
	transition: height .3s ease-in-out;
}

.header-menu .hamb-icon {
    position: relative;
    z-index: 1;
}

.custom-page__menu {
	margin-top: 60px;
}

.custom-page__menu ul {
	text-align: center;
}

.custom-page__menu ul li {
	display: inline-block;
	margin-right: 35px;
}


.custom-page__menu ul li:last-child {
	margin-right: 0;
}

.custom-page__menu ul li a {
	position: relative;
    display: block;
    min-height: 30px;
    padding: 6px;
    color: #414c54;
    font-size: 16px;
    font-weight: 400;
    z-index: 2;
}

.custom-page__menu ul li.current-menu-item a {
	background-color: #ffcb15;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, .2);
}

.custom-page__menu ul li.current-menu-item a::before {
	content: "";
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 31px;
    background-color: #ffcb15;
    left: -15px;
    top: 4px;
    z-index: -1;
    transform: scaleX(.7) rotate(45deg);
    border-radius: 5px;
	opacity: 0;
}

.custom-page__menu ul li.current-menu-item a::after {
	content: "";
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 31px;
    background-color: #ffcb15;
    right: -15px;
    top: 4px;
    z-index: -1;
    transform: scaleX(.7) rotate(45deg);
    border-radius: 5px;
	opacity: 0;
}

.custom-page__menu ul li.current-menu-item a::before,
.custom-page__menu ul li.current-menu-item a::after {
	opacity: 1;
}


#menu-menu {
    padding-top: 40px;
}

.header-menu .hide-menu ul {
    position: relative;
    flex-direction: column;
    padding: 0 25px;
}

.header-menu .hide-menu ul::after {
    content: "";
    width: 196px;
    height: 180px;
    display: block;
    margin-top: -105px;
    background-image: url(../img/icons/menu-arrow.png);
    background-size: cover;
    opacity: 0;
}

.header-menu.show .hide-menu ul::after {
    transition-delay: .2s;
    opacity: 1;
}

.header-menu .hide-menu ul li {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
    opacity: 0;
}

.header-menu.show .hide-menu ul li {
    opacity: 1;
	transition: all .2s ease-in-out;
}

.header-menu .hide-menu ul li a {
    padding: 4px !important;
}

.header-menu.show .hide-menu ul li:nth-of-type(1) {
	transition-delay: 0.1s;
}
.header-menu.show .hide-menu ul li:nth-of-type(2) {
	transition-delay: 0.2s;
}

.header-menu.show .hide-menu ul li:nth-of-type(3) {
	transition-delay: 0.3s;
}

.header-menu.show .hide-menu ul li:nth-of-type(4) {
	transition-delay: 0.4s;
}

.header-menu.show .hide-menu ul li:nth-of-type(5) {
	transition-delay: 0.5s;
}

.header-menu.show .hide-menu ul li:nth-of-type(6) {
	transition-delay: 0.6s;
}

.header-menu.show .hide-menu ul li:nth-of-type(7) {
	transition-delay: 0.7s;
}

.header-menu.show .hide-menu ul li:nth-of-type(8) {
	transition-delay: 0.8s;
}

.header-menu .hide-menu ul li a:hover,
.header-menu .hide-menu ul li.current-menu-item a {
    background-color: #ffcb15;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .4);
}

.header-menu .hide-menu ul li a:hover::before,
.header-menu .hide-menu ul li.current-menu-item a::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 26px;
    background-color: #ffcb15;
    left: -12px;
    top: 3px;
    z-index: -1;
    transform: rotate(45deg);
    border-radius: 5px;
}

.header-menu .hide-menu ul li a:hover::after,
.header-menu .hide-menu ul li.current-menu-item a::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 26px;
    background-color: #ffcb15;
    right: -12px;
    top: 3px;
    z-index: -1;
    transform: rotate(45deg);
    border-radius: 5px;
}

.header-menu .hide-menu ul li:hover a,
.header-menu .hide-menu ul li.current-menu-item a {
    color: #414c54;
    text-decoration: none;
}

.header-menu .hide-menu ul li a {
    position: relative;
    display: block;
    min-height: 31px;
    padding: 6px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    z-index: 2;
}

/* Contact info */
.header-contact {
    display: flex;
}

.time-img img {
    margin-top: 0;
}

.call-processing {
    margin-top: 10px;
    margin-left: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
	line-height: 22px;
}

.call-processing p strong {
    font-size: 20px;
}

.contact-phone__city {
    margin-top: 10px;
    margin-left: 55px;
    margin-right: 55px;
}

.contact-phone__city ul li a {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.contact-phone__city ul li p {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: right;
}

.contact-phone__mail {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: right;
}

.contact-phone__mail ul li a {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.contact-phone__mail ul li p {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.contact-phone__mail a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.contact-phone__mail a.another-contacts {
    font-style: italic;
    text-decoration: underline;
    transition: all .2s ease-in-out;
}

.contact-phone__mail a.another-contacts:hover {
    text-decoration: none;
}

.contact-phone__mail a.feedback-call {
    display: inline-block;
    margin-top: 10px;
    padding: 8px;
    font-size: 16px;
    background-color: #fe3432;
    color: #fff !important;
    border-radius: 15px;
    text-align: center;
    transition: all .3s ease-in;
}

.contact-phone__mail a.feedback-call:hover {
    text-decoration: none;
    background-color: #da2d2b;
}

/* Heading */
.main-heading {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 385px;
    margin-left: 280px;
    margin-top: 45px;
    margin-bottom: 50px;
    background-image: url(../img/heading-border.png);
    background-repeat: no-repeat;
    background-position: right;
}

.main-heading .calculate-online {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    max-width: 100%;
    padding: 14px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #fe3432;
    transition: all .3s ease-in;
	animation-delay: 3s;
}

.main-heading .calculate-online:hover {
    text-decoration: none;
    background-color: #da2d2b;
}

.main-heading .calculate-online i {
    margin-right: 10px;
}

.main-heading h1 {
    margin: 0;
    margin-top: 60px;
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
	text-align: left;
}

.main-heading p {
	display: flex;
    align-items: center;
    height: 60px;
    color: #fff;
    font-weight: 500;
	animation-delay: 0.5s;
	font-size: 20px;
}

.main-heading p a {
    position: relative;
    display: inline-block;
	width: 335px;
	max-width: 100%;
    height: 100%;
    margin-left: 35px;
    margin-right: 35px;
    padding: 13px 10px;
    color: #414c54;
    background-color: #ffcb15;
	text-align: center;
	text-transform: uppercase;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .3);
	transition: all .2s ease-in-out;
}

.main-heading p a:hover {
	transform: scale(1.02);
}

.main-heading p span.typed-cursor {
	display: none;
}

.main-heading p a::before {
    position: absolute;
    top: 0;
    left: -23px;
    content: "";
    display: block;
    width: 24px;
    height: 60px;
    background-image: url(../img/icons/left-arrow-yellow.png);
}

.main-heading p a::after {
    position: absolute;
    top: 0;
    right: -23px;
    content: "";
    display: block;
    width: 24px;
    height: 60px;
    background-image: url(../img/icons/right-arrow-yellow.png);
}

/* Header advantages */
.header-advantages .header-advantages__item {
	position: relative;
    width: 320px;
    margin: 0 auto;
}

.header-advantages .header-advantages__item::after {
	content: "";
	width: 320px;
	max-width: 100%;
	height: 5px;
	display: block;
    margin-top: 5px;
	background-color: #ffcb15;
	transition: all .5s ease-in-out;
}

.header-advantages .header-advantages__item:hover::after {
	width: 0px;
}

.header-advantages .header-advantages__item.header-advantages__first {
	animation-delay: 0.4s;
}

.header-advantages .header-advantages__item.header-advantages__second {
	animation-delay: 0.8s;
}

.header-advantages .header-advantages__item.header-advantages__last {
	animation-delay: 1.2s;
}

.header-advantages .header-advantages__item strong {
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}

.header-advantages .header-advantages__item p {
    min-height: 30px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
}

/* ============================= Advantages wrapper ============================= */
.advantages-wrapper {
    position: relative;
    padding: 135px 0;
    background-image: url(../img/advantages-bg.jpg);
    background-position: center;
    background-size: cover;
}

.advantages-wrapper .container .row:nth-of-type(2) {
    margin-top: 200px;
}

.advantages-block__item {
    display: flex;
    align-items: center;
    justify-content: center;
/* 	transition: all .2s ease-in-out; */
}

/* .advantages-block__item:hover {
	transform: scale(1.1);
} */

.advantages-block__item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 155px;
    background-image: url(../img/advantages-round.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
	transition: all .2s ease-in-out;
}

.advantages-block__item-img:hover {
	transform: scale(1.1);
}

.advantages-block__item-img span {
	margin-top: -13px;
    color: #7f1a06;
    font-size: 28px;
    line-height: 1;
	text-shadow: -1px 1px 1px #c7b99d;
}

.advantages-block__item-img p {
    color: #7f1a06;
    font-size: 18px;
	text-shadow: -1px 1px 1px #c7b99d;
}

.advantages-block__item-text strong {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
	text-transform: uppercase;
}

.advantages-block__item-text {
    margin-left: 5px;
    margin-top: -25px;
}

.advantages-block__item-text p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
	line-height: 1;
}

/* ============================= Our services ============================= */
.services-wrapper {
    position: relative;
    padding: 40px 0 40px 0;
    background-image: url(../img/services-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.services-wrapper h2 {
    color: #414c54;
    font-size: 40px;
    font-weight: 700;
}

.hidden {
    display: none !important;
}

.services-wrapper h2 + p {
    margin-bottom: 100px;
    color: #43a1f9;
    font-size: 21px;
    font-weight: 700;
}

.services-card__item {
    position: relative;
    display: block;
    text-decoration: none !important;
    outline: none;
    width: 230px;
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 30px 10px 30px;
    text-align: center;
    transition: all .1s ease-in;
}

.services-card__item:hover {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.services-card__item .services-card__img {
    height: 190px;
}

.services-card__item .services-card__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
	filter: grayscale(1);
}

.services-card__item:hover .services-card__img img {
	filter: grayscale(0);
}

.services-card__item .services-card__title {
    margin-top: 25px;
}

.services-card__item .services-card__title span {
    display: block;
    min-height: 43px;
    color: #414c54;
    font-size: 16px;
    font-weight: 500;
}

.hover-block span.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    background-color: #ff5a5a;
    border-radius: 50%;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.hover-block span.circle:hover {
    background-color: #da2d2b;
}

.services-card__item:hover .hover-block span.circle {
    opacity: 1;
}

/* ============================= Advertising campaigns ============================= */

.advertising-campaigns__heading {
    position: relative;
    padding: 140px 0 115px 0;
    background-image: url(../img/projects-bg.jpg);
    background-repeat: no-repeat;
    background-position: center 0px;
	overflow: hidden;
}

.advertising-campaigns__heading #scene .parallax-arrow img {
	width: 100%;
}

.advertising-campaigns__heading #scene .parallax-arrow:nth-of-type(1) {
	position: absolute !important;
	top: -400px !important;
	left: 70px !important;
	width: 351px;
	height: 437px;
}

.advertising-campaigns__heading #scene .parallax-arrow:nth-of-type(2) {
	position: absolute !important;
	top: -150px !important;
	width: 136px;
	height: 153px;
}

.advertising-campaigns__heading #scene .parallax-arrow:nth-of-type(3) {
	position: absolute !important;
    top: -450px !important;
    right: 30px;
    left: auto !important;
    width: 349px;
    height: 434px;
}

.advertising-campaigns__heading #scene .parallax-arrow:nth-of-type(4) {
	position: absolute !important;
	top: -150px !important;
	right: 170px;
    left: auto !important;
	width: 197px;
    height: 214px;
}

.advertising-campaigns h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 945px;
    max-width: 100%;
    height: 225px;
    margin: 0 auto;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    background-image: url(../img/projects-border.png);
    background-repeat: no-repeat;
    background-position: center;
}

.advertising-campaigns h2 span {
    display: contents;
    color: #43a1f9;
}

.project-block {
    display: flex;
}

.project-block__collumn {
    width: 50%;
}

.project-block__collumn.two-item.custom {
    width: 100%;
}

.project-item__row {
    display: flex;
    height: 100%;
}

.project-block__collumn.two-item .project-item__row {
    height: 50%;
}

.project-item__row .project-item {
    position: relative;
    width: 100%;
/*     overflow: hidden; */
}

.project-item__row .project-item .overlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    transition: all .3s ease-in;
}

.project-item__row .project-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-item__row .project-item .block-title {
    position: absolute;
    top: 10px;
    left: 10px;
    min-width: 220px;
    max-width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #43a1f9;
    padding: 15px 15px 20px 15px;
    z-index: 1;
}

.project-item__row .project-item .view-project {
    position: absolute;
    top: 104%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 195px;
    margin: 0 auto;
    padding: 8px;
    font-size: 16px;
    color: #fff;
    background-color: #fe3432;
    border-radius: 15px;
    text-align: center;
    transition: all .5s ease-in;
    opacity: 0;
    z-index: 1;
}

.project-item__row .project-item .view-project:hover {
    background-color: #da2d2b;
    text-decoration: none;
}

.project-item__row .project-item:hover .view-project {
    top: 60%;
    opacity: 1;
}

.project-item__row .project-item:hover .overlay-bg {
    opacity: 0;
}

.all-project {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 120px 0;
    background-color: #030d15;
}

.all-project a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.all-project a:hover {
    text-decoration: none;
}

.all-project a i {
    margin-left: 5px;
}

/* ============================= Work Steps ============================= */
.work-steps {
    position: relative;
    padding: 60px 0 100px 0;
    background-image: url(../img/work-steps-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.work-steps h2 {
    margin-bottom: 175px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.work-steps h3 {
    margin: 0;
    color: #fff;
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
}

.work-steps span {
    display: block;
    margin-bottom: 75px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.work-steps .feedback-call {
    display: block;
    width: 195px;
    margin: 0 auto;
    padding: 8px;
    font-size: 16px;
    color: #fff;
    background-color: #fe3432;
    border-radius: 15px;
    text-align: center;
    transition: all .2s ease-in-out;
}

.work-steps .feedback-call:hover {
    text-decoration: none;
    background-color: #da2d2b;
}

.steps-wrap {
    display: flex;
    margin-bottom: 115px;

}

.steps-wrap .steps-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 180px;
    max-width: 100%;
    height: 215px;
    padding-left: 60px;
    background-color: #43a1f9;
    border-radius: 40px;
}

.steps-wrap .steps-item:first-child {
    padding-left: 15px;
}

.steps-wrap .steps-item.last-step {
    padding-left: 60px;
    background-color: #ffcb15;
    z-index: 2;
}

.steps-wrap .steps-item.last-step p {
	color: #705e1e;
}

.steps-wrap .steps-item.last-step p::before {
	background-color: #705e1e;
}

.steps-wrap .steps-item.last-step::after {
    right: -48px;
    background-image: url(../img/icons/steps-arrow-yellow.png);
    z-index: -1;
}

.steps-wrap .steps-item p {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    z-index: 10;
}

.steps-wrap .steps-item p::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 110px;
    margin: 0 10px;
    background-color: #a0c9ef;
    vertical-align: middle;
}

.steps-wrap .steps-item::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -75px;
    width: 88px;
    height: 215px;
    background-image: url(../img/icons/steps-arrow.png);
    background-position: right;
    z-index: 5;
}

/* ============================= About company ============================= */
.about-company {
    position: relative;
    padding-top: 50px;
    background-color: #fff;
}

.about-img {
    position: relative;
	height: 100%;
}

.about-img img:nth-of-type(1) {
    position: absolute;
    left: -496px;
}

.about-img img {
    width: 100%;
	height: 100%;
	object-fit: fill;
}

.about-company h2 {
    margin-bottom: 60px;
    color: #414c54;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.about-company .about-desc {
    padding-left: 30px;
}

.about-company .about-desc h5 {
    margin-bottom: 25px;
    color: #414c54;
    font-size: 18px;
}

.about-company .about-desc p {
    margin-bottom: 20px;
    color: #414c54;
    font-size: 15px;
    text-align: justify;
    word-spacing: -2px;
}

.detail-link {
	margin-bottom: 50px;
    text-align: right;
}

.about-company .about-desc a {
    color: #414c54;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    transition: all .2s ease-in-out;
}

.about-company .about-desc a:hover {
    text-decoration: none;
}

/* ============================= Calculator wrapper ============================= */
.calculator-wrapper {
    padding-top: 45px;
    position: relative;
}

.calculator-wrapper h2 {
    position: relative;
    width: 745px;
    max-width: 100%;
    color: #414c54;
    font-size: 46px;
    font-weight: 700;
    line-height: 1;
    z-index: 2;
    text-align: right;
}

.calculator-wrapper p {
    width: 300px;
    max-width: 100%;
    margin-bottom: 50px;
    color: #43a1f9;
    font-size: 24px;
    font-weight: 700;
    margin-left: 300px;
}

.calculator-contact__form {
    position: absolute;
    top: 0;
	left: 66%;
/*     left: 79%; */
/*     transform: translateX(-50%); */
    width: 390px;
    max-width: 100%;
    height: 100%;
    background-image: url(../img/contact-bg.png);
    background-position: center;
    background-size: cover;
}

.calculator-contact__form h2 {
    position: relative;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 60px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    z-index: 2;
    text-align: center;
}

.calculator-contact__form .form-content {
    padding: 0 45px;
}

.calculator-contact__form .form-group {
    margin-bottom: 50px;
}

.calculator-contact__form .form-group .form-control {
    color: #fff;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    border-radius: 0;
}

.calculator-contact__form .form-group .form-control::placeholder {
    color: #fff;
    font-size: 16px;
}

.calculator-contact__form .form-content p {
    width: 100%;
    margin: 0;
    margin-bottom: 50px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.calculator-contact__form .form-content button.send {
    display: block;
    width: 195px;
    max-width: 100%;
    margin: 0 auto;
    padding: 8px;
    font-size: 16px;
    color: #fff;
    border: 0;
    background-color: #fe3432;
    border-radius: 15px;
    text-align: center;
    transition: all .2s ease-in-out;
}

.calculator-contact__form .form-content button.send:hover {
    background-color: #da2d2b;
}

.calculator-contact__form .form-content .apply {
    margin-bottom: 30px;
}

.terms-placement {
    background-color: #f4f4f4;
}

.terms-placement img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: center;
}

.terms-placement__time {
    padding: 20px 15px 15px 0px;
}

.terms-placement strong {
    display: block;
    margin-bottom: 20px;
    color: #414c54;
    font-size: 16px;
    font-weight: 400;
}

.terms-placement strong::before {
    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-right: 20px;
    background-image: url(../img/icons/calendar.png);
    vertical-align: middle;
}

.terms-placement__mounth,
.terms-placement__format {
    width: 385px;
    max-width: 100%;
}

.terms-placement__format {
    width: 100%;
    padding: 20px 15px 15px 15px;
    background-color: #e6e6e6;
}

.form-check {
    padding-left: 0;
}

.terms-placement__mounth .mounth,
.terms-placement__format .format {
    display: flex;
    flex-wrap: wrap;
    background-color: #fdfdfd;
    border-radius: 10px;
}

.terms-placement__format .format {
    width: 780px
}

.terms-placement__mounth .mounth .form-check-input,
.terms-placement__format .format .form-check-input {
    width: initial;
    height: initial;
    display: none;
    cursor: pointer;
}

.terms-placement__mounth .mounth .form-check-label,
.terms-placement__format .format .form-check-label {
    position: relative;
    margin: 5px;
}

.terms-placement__mounth .mounth .form-check-label:hover,
.terms-placement__format .format .form-check-label:hover {
	cursor: pointer;
}

.terms-placement__mounth .mounth .form-check-label span,
.terms-placement__format .format .form-check-label span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 13px;
}

.terms-placement__format .format .form-check-label span {
    width: 100%;
    font-size: 14px;
    text-align: center;
}

.terms-placement__mounth .mounth .form-check-label:before,
.terms-placement__format .format .form-check-label:before {
    content: '';
    -webkit-appearance: none;
    background-color: #f4f4f4;
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    width: 86px;
    height: 55px;
    border-radius: 10px;
}

.terms-placement__format .format .form-check-label:before {
    width: 185px;
    height: 80px;
}

.terms-placement__mounth .mounth input:checked+label:after,
.terms-placement__format .format input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cce4fb;
    border-radius: 10px;
}

/* ============================= Contact wrapper ============================= */
.contact-wrapper {
    overflow: hidden;
}

.contact-form {
    padding: 45px 15px 20px 15px;
    background-image: url(../img/contact-form-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-form h4 {
    margin-bottom: 75px;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: center;
}

.contact-info ul {
    display: flex;
    flex-direction: column;
}

.contact-info ul:nth-of-type(1) {
    margin-right: 25px;
}

.contact-info ul li {
    margin-bottom: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.contact-info ul li a,
.contact-info ul li span {
    color: #fff;
    font-size: 16px;
    font-weight: 40;
}

.contact-info ul li:last-child {
    margin-bottom: 0;
}

.contact-form .consultant-call {
    display: block;
    width: 195px;
    margin: 45px auto 15px;
    padding: 8px;
    font-size: 16px;
    color: #fff;
    background-color: #fe3432;
    border-radius: 15px;
    text-align: center;
    transition: all .2s ease-in-out;
}

.contact-form .consultant-call:hover {
    text-decoration: none;
    background-color: #da2d2b;
}

.contact-form .director-call {
    display: block;
    width: 195px;
    margin: 0 auto 60px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-decoration: underline;
}

.contact-form .director-call:hover {
    text-decoration: none;
}

.contact-form .show-map {
    display: block;
    width: 195px;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-decoration: underline;
}

.contact-form .show-map:hover {
    text-decoration: none;
}

.contact-wrapper .media-img {
    position: relative;
    height: 100%;
}

.contact-wrapper .media-img img {
    height: 100%;
}

.contact-wrapper .media-img img:nth-of-type(2) {
    position: absolute;
}

/* ============================= Our parthners wrapper ============================= */
.parthners-wrapper {
    position: relative;
    padding: 70px 0 220px 0;
}

.parthners-wrapper h2 {
    margin-bottom: 200px;
    color: #414c54;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.parthners-logo__slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.parthners-logo__item {
    display: flex !important;
    align-items: center;
    justify-content: center;
    min-height: 87px !important;
    margin: 0 10px;
    transition: all .2s ease-in-out;
    filter: grayscale(1);
}

.parthners-logo__item:hover {
    filter: grayscale(0);
}

.parthners-logo__item a img {
    width: 100%;
    max-width: 145px;
    min-width: 90px;
}

.parthners-logo__slider.slick-slider .slick-list {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}

.parthners-logo__slider.slick-slider .slick-prev,
.parthners-logo__slider.slick-slider .slick-next {
    width: 45px;
    height: 45px;
}

.parthners-logo__slider.slick-slider .slick-prev {
    left: -15px;
}

.parthners-logo__slider.slick-slider .slick-next {
    right: -15px;
}

.parthners-logo__slider.slick-slider .slick-prev:before,
.parthners-logo__slider.slick-slider .slick-next:before {
    display: block;
    width: 45px;
    height: 45px;
    background-color: #ff5a5a;
    border-radius: 50%;
}

.parthners-logo__slider.slick-slider .slick-prev:before {
    content: "";
    background-image: url(../img/icons/slick-prev.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.parthners-logo__slider.slick-slider .slick-next:before {
    content: "";
    background-image: url(../img/icons/slick-next.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}

/* ============================= Footer wrapper ============================= */

footer {
    background: #030d15;
    color: #fff;
    font-size: 14px;
    padding: 25px 0 10px;
    font-weight: normal;
}

footer h3 {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: normal;
}

footer ul li {
    margin: 10px 0;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: inherit;
    text-decoration: underline;
}

footer a.email {
    color: #43a1f9;
}

footer a.email:hover {
    text-decoration: underline;
}

footer .center {
    text-align: center;
}

footer .center p {
    margin: 15px 0;
    line-height: 1.6;
}

.logo-footer {
    margin-bottom: 130px;
}

.logo-footer h2 {
    margin-top: 25px;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
}

.logo-footer ul li {
    margin-bottom: 20px;
}

.logo-footer ul li:last-child {
    margin-bottom: 0;
}

.logo-footer ul li a i {
    margin-right: 7px;
}

.footer-copy ul {
    text-align: right;
}

.footer-copy ul li {
    display: inline-block;
    margin-right: 15px;
}

.footer-copy ul li:last-child {
    margin-right: 0;
}

.footer-copy ul li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url(../img/icons/footer-social.png);
}

.footer-copy ul li:nth-of-type(1) a {
    background-size: 160px;
    background-position: -2px -1px;
}

.footer-copy ul li:nth-of-type(2) a {
    background-size: 160px;
    background-position: -58px -1px;
}

.footer-copy ul li:nth-of-type(3) a {
    background-size: 160px;
    background-position: -117px -1px;
}

.footer-copy p {
    text-align: right;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox+label {
    position: relative;
    cursor: pointer;
    padding: 0;
    color: #fff;
}

.styled-checkbox+label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #fff;
}

.styled-checkbox:disabled+label {
    color: #b8b8b8;
    cursor: auto;
}

.styled-checkbox:disabled+label:before {
    box-shadow: none;
    background: #ddd;
}

.styled-checkbox:checked+label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 11px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.button {
    position: relative;
    overflow: hidden;
}

.button:after {
    content: "";
    height: 250%;
    /*left: -230%;*/
    /*opacity: 0;*/
    position: absolute;
    /*top: -20%;*/
    transform: rotate(-40deg) translateY(-15%);
    width: 200%;
    background: rgba(255, 255, 255, 0.25);
    background: linear-gradient(to right,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0.25) 77%,
        rgba(255, 255, 255, 0.6) 92%,
        rgba(255, 255, 255, 0.0) 100%);
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-property: left, top, opacity;
    animation: blesk 2s infinite ease;
    /*animation-delay: 10s;*/
}

@keyframes blesk {
    from {
        left: -230%;
        opacity: 0;
        top: -20%;
    }

    to {
        left: 230%;
        opacity: 1;
        top: -50%;
    }
}

/* =============================== Services page CSS =============================== */







section.contacts {
    position: relative;
    height: 800px;
}

h1 {
    font-size: 60px;
    color: rgb(65, 76, 84);
    font-weight: bold;
    text-align: center;
    -moz-transform: matrix( 1,0,0,1.00000044467079,0,0);
    -webkit-transform: matrix( 1,0,0,1.00000044467079,0,0);
    -ms-transform: matrix( 1,0,0,1.00000044467079,0,0);
}
    
section.contacts iframe {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

section.contacts .wrp {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 550px;
    margin: 125px 0;
    background: #fff;
    color: #000;
    padding: 40px 60px;
    box-shadow: 8.604px 12.287px 10px 0px rgba(1, 2, 4, 0.059);
}

section.contacts .wrp .header {
    font-size: 16px;
    color: rgb(65, 76, 84);
    text-transform: uppercase;
    line-height: 1;
    padding-left: 40px;
}

section.contacts .wrp .header b {
    font-size: 36px;
}

section.contacts .wrp .text {
    font-size: 16px;
    color: rgb(65, 76, 84);
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 80px;
}

section.contacts .wrp .text p {
    margin: 30px 0;
}

section.contacts .wrp .butt {
    overflow: hidden;
    border-radius: 80px 0 0 80px;
    position: absolute;
    right: 0;
    bottom: 30px;
}

section.contacts .wrp .butt img {
    width: 140px;
    filter: grayscale(.3);
    transition: .3s filter;
}

section.contacts .wrp .butt:hover img {
    filter: grayscale(0);
}

section.clients {
    padding: 20px 0;
}

section.clients .el {
    margin-top: 40px;
    margin-bottom: 30px;
    padding-left: 100px;
    padding-right: 10px;
    position: relative;
}

section.clients .el h2 {
    font-size: 22px;
    color: rgb(65, 76, 84);
}

section.clients .el p {
    font-size: 16px;
    color: rgb(65, 76, 84);
    text-align: justify;
    margin: 25px 0;
}

section.clients .el a {
    color: #43a1f9;
    text-decoration: none;
    border-bottom: 1px solid #43a1f9;
}

section.clients .el a:hover {
    border-bottom: none;
}

section.clients .el img {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
}

section.about-us,
section.calculator-wrapper {
    padding: 20px 0 0;
}

section.about-us .wrp {
    padding: 60px 0;
    font-size: 15px;
    color: #414c54;
    text-align: justify;
    -moz-transform: matrix( 1,0,0,1.00000044467079,0,0);
    -webkit-transform: matrix( 1,0,0,1.00000044467079,0,0);
    -ms-transform: matrix( 1,0,0,1.00000044467079,0,0);
    line-height: 1.5;
}

section.about-us .wrp p {
    margin: 15px 0;
}

section.about-us .wrp img {
    width: 96%;
    max-width: 400px;
    display: block;
    margin: 0 auto 30px;
}

.wpcf7-form-control {
	border: 0;
    border-bottom: 1px solid #b8b7b7;
    border-radius: 0;
}

form.wpcf7-form .form-group {
	margin-bottom: 20px;
}

.wpcf7-submit {
	display: block;
	width: 200px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 45px;
    padding: 8px;
    font-size: 16px;
    background-color: #fe3432;
    color: #fff !important;
    border-radius: 15px;
    text-align: center;
    transition: all .3s ease-in;
	border: 0;
}

div.wpcf7-response-output {
	width: 360px;
	max-width: 100%;
	text-align: center;
}

.fancybox-content {
	padding: 0 !important;
}

.fancybox-content #calculator-wrapper {
	width: 100vw;
}

/* Preloader */
body.loaded {
	background-color: #fff;
}
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: hidden;
  background-color: #43a1f9;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 1.8s linear infinite;
  animation: spin 1.8s linear infinite;
  z-index: 11;
}
body.loaded #loader {
	background-color: transparent;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 2.5s linear infinite;
  animation: spin 2.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10;
}
.loaded #loader {
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
/*---end-preloader---*/

#all-contact p {
	margin-bottom: 20px;
	text-align: center;
}
