@media only screen and (max-width: 1500px) {
	.advertising-campaigns__heading #scene .parallax-arrow:nth-of-type(1) {
		top: -400px !important;
		left: 10px !important;
		width: 321px;
		height: 407px;
	}
	
	.advertising-campaigns__heading #scene .parallax-arrow:nth-of-type(2) {
		width: 116px;
    	height: 133px;
	}
	
	.advertising-campaigns__heading #scene .parallax-arrow:nth-of-type(3) {
		right: 0;
	}
	
	.advertising-campaigns__heading #scene .parallax-arrow:nth-of-type(4) {
		width: 157px;
    	height: 174px;
	}
}

@media only screen and (max-width: 1400px) {
	.advertising-campaigns__heading #scene .parallax-arrow:nth-of-type(1) {
		top: -400px !important;
		left: 10px !important;
		width: 291px;
    	height: 287px;
	}
	
	.advertising-campaigns__heading #scene .parallax-arrow:nth-of-type(2) {
		width: 116px;
    	height: 133px;
	}
	
	.advertising-campaigns__heading #scene .parallax-arrow:nth-of-type(3) {
		right: -25px;
		width: 329px;
    	height: 414px;
	}
	
	.advertising-campaigns__heading #scene .parallax-arrow:nth-of-type(4) {
		right: 130px;
		width: 127px;
    	height: 154px;
	}
	
    .calculator-contact__form {
        left: 66%;
    }   
}

@media only screen and (max-width: 1200px) {
    .contact-phone__city {
        margin-left: 20px;
        margin-right: 20px;
    }

    .lang-and-social {
        flex-direction: column;
        align-items: flex-start;
    }

    .time-img {
        display: none;
    }

    .contact-phone__city ul li a {
        font-size: 21px;
    }

    .contact-phone__mail ul li a {
        font-size: 21px;
    }

    .social-icons {
        margin-top: 20px;
        margin-left: 0;
    }

    .header-contact {
        justify-content: flex-end;
    }

    .header-advantages .header-advantages__item {
        width: 290px;
    }

    .header-advantages .header-advantages__item strong {
        font-size: 21px;
    }

    .main-heading {
        margin-left: 150px;
    }

    .advantages-wrapper {
        padding: 100px 0;
    }

    .advantages-wrapper .container .row:nth-of-type(2) {
        margin-top: 100px;
    }

    .advertising-campaigns__heading {
        padding: 100px 0 80px 0;
    }

    .advertising-campaigns h2 {
		position: relative;
		width: 750px;
        background-size: contain;
		z-index: 1;
    }
	
	.advertising-campaigns__heading #scene .parallax-arrow:nth-of-type(1) {
		top: -370px !important;
		left: -30px !important;
		width: 291px;
		height: 287px;
	}
	
	.advertising-campaigns__heading #scene .parallax-arrow:nth-of-type(2) {
		left: -20px !important;
	}

    .project-item__row .project-item .block-title {
        min-width: 180px;
        font-size: 13px;
        padding: 10px 10px 15px 10px;
    }

    .all-project {
        padding: 90px 0;
    }

    .detail-link {
        margin-bottom: 50px;
    }

    .work-steps h2 {
        margin-bottom: 100px;
    }

    .steps-wrap {
        flex-wrap: wrap;
    }
	
	.steps-wrap:before {
		background-color: transparent !important;
	}
	
	.steps-wrap .steps-item.last-step {
    	border-radius: 40px !important;
    	margin-left: 10px !important;
    	padding-left: 15px !important;
	}

    .steps-wrap .steps-item {
        justify-content: center;
        flex-direction: column;
        width: 31% !important;
        margin: 10px;
        padding-left: 15px;
        box-shadow: 0px 0px 20px rgba(0,0,0,.2);
    }

    .steps-wrap .steps-item::after {
        display: none;
    }

    .steps-wrap .steps-item.last-step {
        padding-left: 15px;
    }

    .steps-wrap .steps-item p {
        flex-direction: column;
        text-align: center;
    }

    .steps-wrap .steps-item p::before {
        display: block;
        width: 110px;
        height: 1px;
        margin: 10px 0;
    }

    .terms-placement__time {
        padding: 30px 0px 15px 15px;
    }

    .calculator-wrapper h2 {
        width: 100%;
        margin-left: 0;
        font-size: 41px;
        text-align: left;
    }

    .calculator-wrapper h2 span {
        font-size: 34px;
        display: inline-block !important;
    }

    .calculator-wrapper p {
        width: 100%;
        margin-left: 0;
    }

    .calculator-contact__form {
        width: 100%;
        padding: 50px 0;
    }

    .calculator-contact__form h2 {
        display: none;
    }

    .terms-placement__mounth .mounth .form-check-label:before, .terms-placement__format .format .form-check-label:before {
        width: 98px;
    }

    .terms-placement__mounth {
        width: 100%;
    }

    .terms-placement__format .format {
        width: 100%;
    }

    .terms-placement__format .format .form-check-label:before {
        width: 222px;
    }

    .calculator-contact__form {
        position: static;
        left: 0;
        transform: none;
        margin: 0 auto;
    }
	
	.about-img img:nth-of-type(1) {
		left: -400px;
	}

    .contact-wrapper .media-img img {
        width: 100%;
    }

    .logo-footer h2 {
        font-size: 43px;
    }
}

@media only screen and (max-width: 992px) {
    .main-heading {
        margin-left: 0;
        margin-bottom: 80px;
        background-image: none;
    }

    .main-heading h1 {
        margin-bottom: 20px;
        text-align: center;
    }

    .main-heading p {
        text-align: center;
    }

    .main-heading .calculate-online {
        left: 50%;
        transform: translateX(-50%);
    }

    .header-advantages .header-advantages__item {
        width: 400px;
        max-width: 100%;
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: center;
    }

    .call-processing {
        display: none;
    }

    .header-menu {
        margin-right: 0;
    }

    .lang-and-social {
        margin-bottom: 30px;
    }

    .social-icons {
        display: none;
    }

    .advantages-block__item {
        flex-direction: column;
        text-align: center;
    }
	
	.advantages-block__item-text {
    	margin-left: 0;
		margin-top: 0;
	}

    .advertising-campaigns h2 {
        height: auto;
        background-image: none;
    }
	
	.advertising-campaigns__heading #scene {
		display: none;
	}

    .project-block {
        height: 500px;
    }

    .project-block__collumn {
        width: 90%;
    }

    .project-block__collumn.two-item.custom .project-item__row:nth-of-type(1) {
        height: 35%;
    }

    .project-block__collumn.two-item.custom .project-item__row:nth-of-type(2) {
        height: 65%;
    }

    .project-block__collumn.two-item .project-item__row {
        flex-direction: column;
    }

    .project-item__row .project-item {
        height: 100%;
    }

    .project-item__row .project-item .block-title {
        min-width: 110px;
    }

    .project-item__row .project-item .view-project {
        width: 175px;
        padding: 10px;
        font-size: 14px;
    }

    .steps-wrap {
        margin-bottom: 80px;
    }

    .steps-wrap .steps-item {
        width: 30% !important;
    }

    .terms-placement__mounth .mounth .form-check-label:before, .terms-placement__format .format .form-check-label:before {
        width: 158px;
    }

    .terms-placement__format .format .form-check-label:before {
        width: 220px;
    }

    .parthners-wrapper {
        padding: 70px 0 120px 0;
    }

    .parthners-wrapper h2 {
        margin-bottom: 100px;
    }
	
	.about-img img {
		height: auto;
    	object-fit: cover;
	}
	
	.about-img img:nth-of-type(1) {
		left: -300px;
	}

    footer .center {
        text-align: left;
    }

    .logo-footer h2 {
        text-align: left;
    }

    .footer-copy ul {
        text-align: left;
    }

    .footer-copy p {
        text-align: left;
    }
}

@media only screen and (max-width: 768px) {
    .mobile-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .lang-and-social {
        margin-bottom: 0;
    }

    .header-contact {
        margin-top: 10px;
        justify-content: space-between;
    }

    .contact-phone__mail {
        margin-top: 0;
    }

    .contact-phone__city {
        text-align: left;
        margin: 0;
    }

    .contact-phone__city ul li p {
        text-align: left;
    }

    .main-heading {
        margin-top: 0;
    }

    .main-heading h1 {
        font-size: 38px;
    }

    .main-heading p {
        display: flex;
        flex-direction: column;
    }

    .main-heading p span {
        width: 300px;
        margin: 10px auto;
    }

    .main-heading .calculate-online {
        bottom: 0;
    }

    .advantages-wrapper {
        padding: 80px 0;
    }

    .advantages-wrapper .container .row:nth-of-type(2) {
        justify-content: center;
        margin-top: 70px;
    }

    .advantages-block__item-img span {
        font-size: 25px;
    }

    .advantages-block__item-text {
        margin-left: 0;
    }

    .advantages-block__item-text strong {
        font-size: 16px;
    }

    .advantages-block__item-text p {
        font-size: 14px;
    }

    .services-wrapper {
        background-size: cover;
    }
    
    .services-wrapper .container .row {
        justify-content: center;
    }

    .services-wrapper h2 {
        font-size: 28px;
        text-align: center;
    }

    .services-wrapper p {
        font-size: 16px;
        text-align: center;
    }

    .advertising-campaigns h2 {
        font-size: 28px;
    }

    .advertising-campaigns__heading {
        padding: 70px 0;
    }

    .project-block {
        height: auto;
        flex-direction: column;
    }

    .project-block__collumn {
        width: 100%;
    }

    .project-item__row .project-item {
        height: 300px;
    }

    .work-steps h2 {
        text-align: center;
    }

    .steps-wrap .steps-item {
        width: 46% !important;
    }  

    .work-steps span {
        margin-bottom: 50px;
    }

    .about-company h2 {
        margin-bottom: 30px;
        font-size: 36px;
    }

    .about-img img:nth-of-type(1) {
        display: none;
    }

    .about-company .about-desc {
        padding-left: 0;
        margin-top: 20px;
        text-align: center;
    }

    .terms-placement__mounth .mounth .form-check-label:before, .terms-placement__format .format .form-check-label:before {
        width: 237px;
    }

    .terms-placement__format .format .form-check-label:before {
        width: 245px;
    }

    .parthners-wrapper {
        padding: 70px 0 100px 0;
    }

    .parthners-wrapper h2 {
        margin-bottom: 100px;
        font-size: 36px;
    }

    .parthners-logo__slider.slick-slider .slick-list {
        width: 85%;
    }

    .contact-wrapper {
        padding-bottom: 30px;
    }

    .contact-wrapper .media-img img {
        display: none;
    }

    footer {
        text-align: center;
    }

    footer .center {
        text-align: center;
    }

    .logo-footer {
        margin-bottom: 70px;
    }

    .logo-footer h2 {
        text-align: center;
    }

    .footer-copy ul {
        text-align: center;
    }

    .footer-copy p {
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    .col-md-3, .col-md-5, .col-md-6 {
        padding: 0 15px;
    }
    .advantages-wrapper .container .row:nth-of-type(1) {
        justify-content: center;
    }
    .advantages-wrapper .container .row:nth-of-type(2) {
        margin: 0;
    }
    .work-steps h3 {
        font-size: 38px;
    }
    .terms-placement__format,
    .terms-placement__time {
        padding: 30px 0px 15px 0px;
    }
    .calculator-wrapper h2 {
        font-size: 34px;
    }
    .calculator-wrapper h2 span {
        font-size: 24px;
    }
    .calculator-wrapper p {
        font-size: 21px;
    }
    .terms-placement__mounth .mounth .form-check-label span, .terms-placement__format .format .form-check-label span {
        padding: 10px;
    }
    .terms-placement__mounth .mounth, .terms-placement__format .format {
        flex-direction: column;
    }

    .terms-placement__mounth .mounth .form-check-label, .terms-placement__format .format .form-check-label {
        width: 99%;
    }

    .terms-placement__mounth .mounth .form-check-label:before, .terms-placement__format .format .form-check-label:before {
        width: 98%;
    }
}

@media only screen and (max-width: 530px) {
    .steps-wrap .steps-item {
        width: 43% !important;
        margin: 10px auto;
    }
}

@media only screen and (max-width: 480px) {
    .work-steps {
        padding: 60px 0 60px 0;
    }
    .work-steps h3 {
        font-size: 28px;
    }
    .work-steps span {
        font-size: 18px;
    }
    .steps-wrap {
        margin-bottom: 50px;
    }
    .steps-wrap .steps-item {
        width: 75% !important;
    }
}

@media only screen and (max-width: 400px) {
    .contact-phone__mail ul li a,
    .contact-phone__city ul li a {
        font-size: 18px;
    }

    .main-heading h1 {
        font-size: 30px;
    }

    .main-heading p span {
        width: 260px;
        height: 60px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 375px) {
    .header-contact {
        flex-direction: column;
        align-items: center;
    }

    .contact-phone__city {
        margin-bottom: 10px;
    }

    .contact-phone__city ul li p {
        text-align: center;
    }

    .contact-phone__mail {
        text-align: center;
    }

    .advantages-wrapper {
        padding: 50px 0;
    }

    .advantages-wrapper .container .row {
        flex-direction: column;
        align-items: center;
    }

    .advantages-wrapper .container .row .col-6 {
        width: 100%;
    }

    .advantages-block__item {
        margin-bottom: 30px;
    }

    .services-wrapper h2 {
        font-size: 21px;
    }

    .services-wrapper .container .row {
        flex-direction: column;
        align-items: center;
    }

    .services-wrapper .container .row .col-6 {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .services-card__item .services-card__img img {
        width: 70%;
    }

    .calculator-wrapper h2 {
        font-size: 28px;
    }
    .calculator-wrapper h2 span {
        font-size: 24px;
    }
    .calculator-wrapper p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 320px) {
    
}


@media only screen and (min-width: 1200px) {
    .steps-wrap {
        position: relative;
    }
    .steps-wrap:before {
        content: '';
        background: #43a1f9;
        position: absolute;
        display: block;
        left: 0;
        right: 100px;
        top: 0;
        bottom: 0;
        border-radius: 30px;
    }
    .steps-wrap .steps-item::after {
        width: 110px;
        background-repeat: no-repeat;
    }
    .steps-wrap .steps-item {
        width: 185px;
    }
    .steps-wrap .steps-item.last-step {
        border-radius: 0 40px 40px 0;
        margin-left: -35px;
        padding-left: 105px;
        width: 225px;
    }
}