.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

.img-rounded {
    -webkit-border-radius: 6px;
    border-radius: 6px
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto
}

.img-circle {
    -webkit-border-radius: 50%;
    border-radius: 50%
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

[role=button] {
    cursor: pointer
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666667%
}

.col-xs-10 {
    width: 83.33333333%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666667%
}

.col-xs-7 {
    width: 58.33333333%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666667%
}

.col-xs-4 {
    width: 33.33333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.66666667%
}

.col-xs-1 {
    width: 8.33333333%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-pull-11 {
    right: 91.66666667%
}

.col-xs-pull-10 {
    right: 83.33333333%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-8 {
    right: 66.66666667%
}

.col-xs-pull-7 {
    right: 58.33333333%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-5 {
    right: 41.66666667%
}

.col-xs-pull-4 {
    right: 33.33333333%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-2 {
    right: 16.66666667%
}

.col-xs-pull-1 {
    right: 8.33333333%
}

.col-xs-pull-0 {
    right: auto
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-push-11 {
    left: 91.66666667%
}

.col-xs-push-10 {
    left: 83.33333333%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-8 {
    left: 66.66666667%
}

.col-xs-push-7 {
    left: 58.33333333%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-5 {
    left: 41.66666667%
}

.col-xs-push-4 {
    left: 33.33333333%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-2 {
    left: 16.66666667%
}

.col-xs-push-1 {
    left: 8.33333333%
}

.col-xs-push-0 {
    left: auto
}

.col-xs-offset-12 {
    margin-left: 100%
}

.col-xs-offset-11 {
    margin-left: 91.66666667%
}

.col-xs-offset-10 {
    margin-left: 83.33333333%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-8 {
    margin-left: 66.66666667%
}

.col-xs-offset-7 {
    margin-left: 58.33333333%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-5 {
    margin-left: 41.66666667%
}

.col-xs-offset-4 {
    margin-left: 33.33333333%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-2 {
    margin-left: 16.66666667%
}

.col-xs-offset-1 {
    margin-left: 8.33333333%
}

.col-xs-offset-0 {
    margin-left: 0
}

@media (min-width:768px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-11 {
        width: 91.66666667%
    }
    .col-sm-10 {
        width: 83.33333333%
    }
    .col-sm-9 {
        width: 75%
    }
    .col-sm-8 {
        width: 66.66666667%
    }
    .col-sm-7 {
        width: 58.33333333%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-5 {
        width: 41.66666667%
    }
    .col-sm-4 {
        width: 33.33333333%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-2 {
        width: 16.66666667%
    }
    .col-sm-1 {
        width: 8.33333333%
    }
    .col-sm-pull-12 {
        right: 100%
    }
    .col-sm-pull-11 {
        right: 91.66666667%
    }
    .col-sm-pull-10 {
        right: 83.33333333%
    }
    .col-sm-pull-9 {
        right: 75%
    }
    .col-sm-pull-8 {
        right: 66.66666667%
    }
    .col-sm-pull-7 {
        right: 58.33333333%
    }
    .col-sm-pull-6 {
        right: 50%
    }
    .col-sm-pull-5 {
        right: 41.66666667%
    }
    .col-sm-pull-4 {
        right: 33.33333333%
    }
    .col-sm-pull-3 {
        right: 25%
    }
    .col-sm-pull-2 {
        right: 16.66666667%
    }
    .col-sm-pull-1 {
        right: 8.33333333%
    }
    .col-sm-pull-0 {
        right: auto
    }
    .col-sm-push-12 {
        left: 100%
    }
    .col-sm-push-11 {
        left: 91.66666667%
    }
    .col-sm-push-10 {
        left: 83.33333333%
    }
    .col-sm-push-9 {
        left: 75%
    }
    .col-sm-push-8 {
        left: 66.66666667%
    }
    .col-sm-push-7 {
        left: 58.33333333%
    }
    .col-sm-push-6 {
        left: 50%
    }
    .col-sm-push-5 {
        left: 41.66666667%
    }
    .col-sm-push-4 {
        left: 33.33333333%
    }
    .col-sm-push-3 {
        left: 25%
    }
    .col-sm-push-2 {
        left: 16.66666667%
    }
    .col-sm-push-1 {
        left: 8.33333333%
    }
    .col-sm-push-0 {
        left: auto
    }
    .col-sm-offset-12 {
        margin-left: 100%
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }
    .col-sm-offset-9 {
        margin-left: 75%
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }
    .col-sm-offset-6 {
        margin-left: 50%
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }
    .col-sm-offset-3 {
        margin-left: 25%
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }
    .col-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width:992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left
    }
    .col-md-12 {
        width: 100%
    }
    .col-md-11 {
        width: 91.66666667%
    }
    .col-md-10 {
        width: 83.33333333%
    }
    .col-md-9 {
        width: 75%
    }
    .col-md-8 {
        width: 66.66666667%
    }
    .col-md-7 {
        width: 58.33333333%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-5 {
        width: 41.66666667%
    }
    .col-md-4 {
        width: 33.33333333%
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-2 {
        width: 16.66666667%
    }
    .col-md-1 {
        width: 8.33333333%
    }
    .col-md-pull-12 {
        right: 100%
    }
    .col-md-pull-11 {
        right: 91.66666667%
    }
    .col-md-pull-10 {
        right: 83.33333333%
    }
    .col-md-pull-9 {
        right: 75%
    }
    .col-md-pull-8 {
        right: 66.66666667%
    }
    .col-md-pull-7 {
        right: 58.33333333%
    }
    .col-md-pull-6 {
        right: 50%
    }
    .col-md-pull-5 {
        right: 41.66666667%
    }
    .col-md-pull-4 {
        right: 33.33333333%
    }
    .col-md-pull-3 {
        right: 25%
    }
    .col-md-pull-2 {
        right: 16.66666667%
    }
    .col-md-pull-1 {
        right: 8.33333333%
    }
    .col-md-pull-0 {
        right: auto
    }
    .col-md-push-12 {
        left: 100%
    }
    .col-md-push-11 {
        left: 91.66666667%
    }
    .col-md-push-10 {
        left: 83.33333333%
    }
    .col-md-push-9 {
        left: 75%
    }
    .col-md-push-8 {
        left: 66.66666667%
    }
    .col-md-push-7 {
        left: 58.33333333%
    }
    .col-md-push-6 {
        left: 50%
    }
    .col-md-push-5 {
        left: 41.66666667%
    }
    .col-md-push-4 {
        left: 33.33333333%
    }
    .col-md-push-3 {
        left: 25%
    }
    .col-md-push-2 {
        left: 16.66666667%
    }
    .col-md-push-1 {
        left: 8.33333333%
    }
    .col-md-push-0 {
        left: auto
    }
    .col-md-offset-12 {
        margin-left: 100%
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%
    }
    .col-md-offset-9 {
        margin-left: 75%
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%
    }
    .col-md-offset-6 {
        margin-left: 50%
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%
    }
    .col-md-offset-3 {
        margin-left: 25%
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%
    }
    .col-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width:1200px) {
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: left
    }
    .col-lg-12 {
        width: 100%
    }
    .col-lg-11 {
        width: 91.66666667%
    }
    .col-lg-10 {
        width: 83.33333333%
    }
    .col-lg-9 {
        width: 75%
    }
    .col-lg-8 {
        width: 66.66666667%
    }
    .col-lg-7 {
        width: 58.33333333%
    }
    .col-lg-6 {
        width: 50%
    }
    .col-lg-5 {
        width: 41.66666667%
    }
    .col-lg-4 {
        width: 33.33333333%
    }
    .col-lg-3 {
        width: 25%
    }
    .col-lg-2 {
        width: 16.66666667%
    }
    .col-lg-1 {
        width: 8.33333333%
    }
    .col-lg-pull-12 {
        right: 100%
    }
    .col-lg-pull-11 {
        right: 91.66666667%
    }
    .col-lg-pull-10 {
        right: 83.33333333%
    }
    .col-lg-pull-9 {
        right: 75%
    }
    .col-lg-pull-8 {
        right: 66.66666667%
    }
    .col-lg-pull-7 {
        right: 58.33333333%
    }
    .col-lg-pull-6 {
        right: 50%
    }
    .col-lg-pull-5 {
        right: 41.66666667%
    }
    .col-lg-pull-4 {
        right: 33.33333333%
    }
    .col-lg-pull-3 {
        right: 25%
    }
    .col-lg-pull-2 {
        right: 16.66666667%
    }
    .col-lg-pull-1 {
        right: 8.33333333%
    }
    .col-lg-pull-0 {
        right: auto
    }
    .col-lg-push-12 {
        left: 100%
    }
    .col-lg-push-11 {
        left: 91.66666667%
    }
    .col-lg-push-10 {
        left: 83.33333333%
    }
    .col-lg-push-9 {
        left: 75%
    }
    .col-lg-push-8 {
        left: 66.66666667%
    }
    .col-lg-push-7 {
        left: 58.33333333%
    }
    .col-lg-push-6 {
        left: 50%
    }
    .col-lg-push-5 {
        left: 41.66666667%
    }
    .col-lg-push-4 {
        left: 33.33333333%
    }
    .col-lg-push-3 {
        left: 25%
    }
    .col-lg-push-2 {
        left: 16.66666667%
    }
    .col-lg-push-1 {
        left: 8.33333333%
    }
    .col-lg-push-0 {
        left: auto
    }
    .col-lg-offset-12 {
        margin-left: 100%
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%
    }
    .col-lg-offset-9 {
        margin-left: 75%
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%
    }
    .col-lg-offset-6 {
        margin-left: 50%
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }
    .col-lg-offset-3 {
        margin-left: 25%
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%
    }
    .col-lg-offset-0 {
        margin-left: 0
    }
}

.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
    content: " ";
    display: table
}

.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
    clear: both
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.pull-right {
    float: right!important
}

.pull-left {
    float: left!important
}

.hide {
    display: none!important
}

.show {
    display: block!important
}

.invisible {
    visibility: hidden
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.hidden {
    display: none!important
}

.affix {
    position: fixed
}

@-ms-viewport {
    width: device-width
}

.visible-lg,
.visible-md,
.visible-sm,
.visible-xs {
    display: none!important
}

.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block {
    display: none!important
}

@media (max-width:767px) {
    .visible-xs {
        display: block!important
    }
    table.visible-xs {
        display: table!important
    }
    tr.visible-xs {
        display: table-row!important
    }
    td.visible-xs,
    th.visible-xs {
        display: table-cell!important
    }
}

@media (max-width:767px) {
    .visible-xs-block {
        display: block!important
    }
}

@media (max-width:767px) {
    .visible-xs-inline {
        display: inline!important
    }
}

@media (max-width:767px) {
    .visible-xs-inline-block {
        display: inline-block!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm {
        display: block!important
    }
    table.visible-sm {
        display: table!important
    }
    tr.visible-sm {
        display: table-row!important
    }
    td.visible-sm,
    th.visible-sm {
        display: table-cell!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm-block {
        display: block!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm-inline {
        display: inline!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm-inline-block {
        display: inline-block!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md {
        display: block!important
    }
    table.visible-md {
        display: table!important
    }
    tr.visible-md {
        display: table-row!important
    }
    td.visible-md,
    th.visible-md {
        display: table-cell!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md-block {
        display: block!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md-inline {
        display: inline!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md-inline-block {
        display: inline-block!important
    }
}

@media (min-width:1200px) {
    .visible-lg {
        display: block!important
    }
    table.visible-lg {
        display: table!important
    }
    tr.visible-lg {
        display: table-row!important
    }
    td.visible-lg,
    th.visible-lg {
        display: table-cell!important
    }
}

@media (min-width:1200px) {
    .visible-lg-block {
        display: block!important
    }
}

@media (min-width:1200px) {
    .visible-lg-inline {
        display: inline!important
    }
}

@media (min-width:1200px) {
    .visible-lg-inline-block {
        display: inline-block!important
    }
}

@media (max-width:767px) {
    .hidden-xs {
        display: none!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none!important
    }
}

@media (min-width:1200px) {
    .hidden-lg {
        display: none!important
    }
}

.visible-print {
    display: none!important
}

@media print {
    .visible-print {
        display: block!important
    }
    table.visible-print {
        display: table!important
    }
    tr.visible-print {
        display: table-row!important
    }
    td.visible-print,
    th.visible-print {
        display: table-cell!important
    }
}

.visible-print-block {
    display: none!important
}

@media print {
    .visible-print-block {
        display: block!important
    }
}

.visible-print-inline {
    display: none!important
}

@media print {
    .visible-print-inline {
        display: inline!important
    }
}

.visible-print-inline-block {
    display: none!important
}

@media print {
    .visible-print-inline-block {
        display: inline-block!important
    }
}

@media print {
    .hidden-print {
        display: none!important
    }
}

::-webkit-input-placeholder {
    color: #666;
    opacity: 1
}

:-moz-placeholder {
    color: #666;
    opacity: 1
}

::-moz-placeholder {
    color: #666;
    opacity: 1
}

:-ms-input-placeholder {
    color: #666;
    opacity: 1
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    color: #666
}

body input:required:valid,
body textarea:required:valid {
    color: #666
}

body,
html {
    height: 100%
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.75;
    font-family: 'Fira Sans', sans-serif;
    overflow-x: hidden;
    opacity: 1;
}

::-moz-selection {
    background: #43a1f9;
    color: #fff;
}

::selection {
    background: #43a1f9;
    color: #fff;
}

a,
body,
button,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
input,
label,
li,
p,
section,
textarea,
ul {
    margin: 0;
}

li {
    list-style-type: none;
}

a,
button,
input,
textarea {
    outline: 0;
    text-decoration: none;
}

a:active,
a:focus,
a:hover,
button:active,
button:focus,
button:hover,
input:active,
input:focus,
input:hover,
textarea:active,
textarea:focus,
textarea:hover {
    outline: 0;
    text-decoration: none;
}


/* header */
.a-header-lines{
	margin-bottom: 10px;
    margin: 0 -10px;
	width: 100%;
	display: block;
	overflow: hidden;
}

.a-header-lines .breadcrumb_last, .a-header-lines a{
	padding: 8px 10px;
	font-size: 14px;
	color: #fff;
	transition: all .3s ease;
	position: relative;
	margin: 0 10px;
	display: inline-table;
}

#breadcrumbs {
    color: #43a1f9;
}

.a-header-lines a{
	background-color: #43a1f9;
	border: 1px solid #43a1f9;
}

.a-header-lines a:hover{
	background-color: transparent;
	color: #43a1f9;
}

.a-header-lines span.breadcrumb_last {
	background-color: #bcc6d0;
	border: 1px solid #bcc6d0;
}

/* header title */
.a-header-tag h2{
	color: #414c54;
	font-size: 60px;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 60px;
	padding-left: 15px;
	text-align: center;
	padding-right: 15px;
}

.a-header-tag-wrapper{
	background-image: url("../img/preview.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 45px;
	padding-bottom: 110px;
}

.a-header-tag-wrapper a{
	display: inline-table;
	padding: 8px 5px;
	transition: all .1s ease-in-out;
	position: relative;
	font-size: 16px;
	color: #414c54;
	margin: 5px 15px;
	line-height: 1;
}

.a-header-tag-wrapper a:before{
	position: absolute;
	left: -34px;
	top: 0;
	background-color: transparent;
	content: "";
	border: 19px solid transparent;
	border-right: 15px solid transparent;
	transition: all .1s ease-in-out;
}

.a-header-tag{
	overflow: hidden;
}

.a-header-tag-wrapper a:after{
	position: absolute;
	right: -34px;
	top: 0;
	background-color: transparent;
	content: "";
	border: 19px solid transparent;
	border-left: 15px solid transparent;
	transition: all .1s ease-in-out;
}

.a-header-tag-wrapper a img{
	margin-right: 7px;
	width: 22px;
}

.a-header-tag-wrapper a:hover{
	background-color: #ffcb15;
	box-shadow: 0px 3px 20px rgba(0,0,0,.2);
}

.a-header-tag-wrapper a:hover:before{
	border-right: 15px solid #ffcb15;
}

.a-header-tag-wrapper a:hover:after{
	border-left: 15px solid #ffcb15;
}

/* window1 */
.a-window1{
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
}

.a-window1-border{
	position: absolute;
	right: -50px;
	top: -190px;
	bottom: -190px;
	width: 60%;
	border-right: 10px solid #43a1f9;
	border-top: 10px solid #43a1f9;
	border-bottom: 10px solid #43a1f9;
}

.a-window1-border:before{
	position: absolute;
	left: 0;
	top: 0;
	height: 70px;
	width: 10px;
	background-color: #43a1f9;
	content: "";
}

.a-window1-border:after{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 70px;
	width: 10px;
	background-color: #43a1f9;
	content: "";
}

.a-window1 .container{
	position: relative;
}

.a-plane{
	position: absolute;
	top: -170px;
	right: 0;
}

.a-window1 h1{
	text-transform: uppercase;
	color: #fff;
	font-size: 48px;
	font-weight: 500;
	line-height: 1;
	position: relative;
	z-index: 1;
}

.a-window1-sub-title{
	text-transform: none;
	font-size: 20px;
	font-weight: 400;
}

.a-window1-sub-title span{
	display: inline-table;
	padding: 20px 8px;
	transition: all .3s ease;
	position: relative;
	font-size: 16px;
	color: #414c54;
	background-color: #ffcb15;
	margin: 5px 25px;
	line-height: 1;
	font-size: 20px;
	font-weight: 500;
	box-shadow: 0 10px 25px rgba(0,0,0,.4);
	color: #414c54;
}

.a-window1-sub-title span:before{
	position: absolute;
	left: -45px;
	top: 0;
	background-color: transparent;
	content: "";
	border: 30px solid transparent;
	border-right: 15px solid #ffcb15;
	transition: all .3s ease;
}

.a-window1-sub-title span:after{
	position: absolute;
	right: -45px;
	top: 0;
	background-color: transparent;
	content: "";
	border: 30px solid transparent;
	border-left: 15px solid #ffcb15;
	transition: all .3s ease;
}

/* calculate */
.a-calculate-dark{
	background-color: #000;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	display: inline-table;
	padding: 27px 68px;
	font-weight: 500;
	transition: all .3s ease;
	border: 1px solid #000;
	margin-right: 11px;
	margin-top: 11px;
}

.a-calculate-dark:hover{
	background-color: transparent;
	color: #000;
}

.a-calculate-red{
	background-color: #fe3432;
	line-height: 1.4;
	color: #fff;
	padding: 20px 40px;
	clear: both;
	display: inline-table;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	transition: all .3s ease;
	border: 1px solid #fe3432;
	margin-top: 11px;
}

.a-calculate-red img{
	margin-right: 10px;
	float: left;
}

.a-calculate-red span{
	display: table;
}

.a-calculate-red:hover{
	background-color: #c32422;
	border: 1px solid #c32422;
	color: #fff;
}

.a-calculate-wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

/* window2 */
.a-window2{
	background-image: url("../img/w2.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center;
	padding-bottom: 70px;
	padding-top: 70px;
	overflow: hidden;
}

.a-w2-right-wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.a-w2-right-item{
	width: 50%;
	flex-grow: 1;
	position: relative;
}

.a-w2-right-item:nth-child(2){
	height: 300px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}

.a-w2-right-item p{
	padding-left: 100px;
	line-height: 1.4;
	color: #414c54;
}

.a-w2-arr{
	position: absolute;
	left: -20px;
	top: 45%;
	width: 335px;
	height: 230px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: 30px 65px;
}

.a-w2-right-item h3{
	font-size: 36px;
	color: #414c54;
	line-height: 1.1;
	font-weight: 700;
	position: relative;
	top: -60px;
	text-transform: uppercase;
}

.a-w2-right-item span{
	font-size: 24px;
	text-transform: none;
	display: block;
	font-weight: 500;
}

.a-w2-right-but{
	position: absolute;
	right: -40px;
	bottom: 0;
	width: 355px;
	height: 249px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: 30px 40px;
	color: #fff;
}

.a-w2-right-but img{
	margin-right: 15px;
	position: relative;
	z-index: 1;
}

.a-w2-right-but-box{
	padding-left: 15px;
	border-left: 1px solid #fff;
	z-index: 1;
	position: relative;
}

.a-w2-right-but-box h4{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.4;
}

.a-w2-right-but-box a{
	display: block;
	line-height: 1.4;
	text-align: center;
	background-color: transparent;
	transition: all .3s ease;
	color: #fff;
	border-radius: 30px;
	margin-top: 20px;
	padding: 5px 5px;
	border: 1px solid #fff;
}

.a-w2-right-but-box a:hover{
	background-color: #fff;
	color: #43a1f9;
}

.a-w2-right-but:after{
	background: url(../img/2.png) no-repeat;
	background-size: 100% 100%;
	content: "";
	height: calc(100%);
	left: 10px;
	position: absolute;
	top: 0px;
	width: calc(100%);
}

.a-w2-arr:after{
	background: url(../img/1.png) no-repeat;
	background-size: 100% 100%;
	content: "";
	height: calc(100%);
	left: 10px;
	position: absolute;
	top: 0px;
	width: calc(100%);
}

.a-w2-wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.a-w2-items{
	flex-grow: 1;
	padding-left: 15px;
	padding-right: 15px;
}

.a-w2-items:nth-child(1){
	width: 55%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}

.a-w2-items:nth-child(2){
	width: 45%;
}

.a-w2-arr img{
	position: relative;
	z-index: 2;
	margin-right: 15px;
}

.a-w2-items p{
	color: #414c54;
	line-height: 1.4;
}

.a-w2-arr p{
	position: relative;
	z-index: 2;
	font-size: 16px;
	line-height: 1.3;
	text-transform: uppercase;
	padding-left: 15px;
	font-weight: 700;
	color: #705e1e;
	border-left: 1px solid #705e1e;
}

.a-title h2{
	font-size: 60px;
	font-weight: 700;
	color: #414c54;
	line-height: 1;
}

.a-title{
	margin-bottom: 30px;
}

.a-title p{
	font-size: 30px;
	color: #43a1f9;
}
/* window3 */
.a-window3{
	background-image: url("../img/form.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	padding-top: 100px;
	padding-bottom: 140px;
	background-color: #000;
}

.a-window3 h2{
	padding: 50px 90px;
	font-size: 72px;
	margin: 0 auto;
	max-width: 940px;
	width: 100%;
	position: relative;
	color: #fff;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 88px;
}

.a-w3-title-color{
	color: #43a1f9;
}

.a-window3 h2 b{
	display: block;
	font-size: 47px;
	font-weight: 500;
}

.a-w3-side{
	position: absolute;
	display: block;
}

.a-w3-side-1{
	left: 0;
	top: 0;
	width: 172px;
	height: 20px;
	border-left: 1px solid #43a1f9;
	border-top: 1px solid #43a1f9;
}

.a-w3-side-2{
	top: 0;
	right: 0;
	width: 45px;
	height: 82px;
	border-top: 1px solid #43a1f9;
	border-right: 1px solid #43a1f9;
}

.a-w3-side-3{
	left: 0;
	bottom: 0;
	height: 77px;
	width: 117px;
	border-left: 1px solid #43a1f9;
	border-bottom: 1px solid #43a1f9;
}
.a-w3-side-4{
	right: 0;
	bottom: 0;
	height: 15px;
	width: 350px;
	border-right: 1px solid #43a1f9;
	border-bottom: 1px solid #43a1f9;
}

.a-window3-title-wrapper h3{
	color: #fff;
	position: relative;
	font-size: 20px;
	font-weight: 700;
}

.a-window3-title-wrapper{
	margin-bottom: 90px;
}

.a-window3-title-wrapper h3 span{
	display: inline-table;
	padding: 20px 25px;
	transition: all .3s ease;
	position: relative;
	font-size: 16px;
	color: #414c54;
	background-color: #ffcb15;
	margin: 8px 25px;
	line-height: 1;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	box-shadow: 0 10px 25px rgba(0,0,0,.4);
	color: #414c54;
}

.a-window3-title-wrapper h3 span:before{
	position: absolute;
	left: -45px;
	top: 0;
	background-color: transparent;
	content: "";
	border: 30px solid transparent;
	border-right: 15px solid #ffcb15;
	transition: all .3s ease;
}

.a-window3-title-wrapper h3 span:after{
	position: absolute;
	right: -45px;
	top: 0;
	background-color: transparent;
	content: "";
	border: 30px solid transparent;
	border-left: 15px solid #ffcb15;
	transition: all .3s ease;
}

.a-window3 h4{
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 50px;
	font-size: 36px;
}

.a-window3-table{
	overflow: hidden;
	border-radius: 20px;
	border: 1px solid #43a1f9;
}

.a-window3-table p{
	color: #fff;
	font-weight: 700;
	padding: 25px 30px;
	font-size: 15px;
}

.a-window3-table p:nth-child(2n+2){
	background-color: #43a1f9;
}

/* window4 */
.a-window4{
	padding-top: 65px;
	padding-bottom: 65px;
}

.a-window5{
	padding-bottom: 80px;
}

.a-window4 .owl-nav{
	position: absolute;
	top: 70px;
	left: 0;
	right: 0;
}

.a-window4 .owl-nav button{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #ff5a5a !important;
	color: #fff !important;
	position: absolute;
	transition: all .3s ease;
}

.a-window4 .owl-nav button:hover{
	background-color: #c32422 !important;
}

.a-window4 .owl-nav .owl-prev{
	left: -60px;
}

.a-window4 .owl-nav .owl-next{
	right: -60px;
}

.a-window4 h2{
	font-size: 60px;
	color: #414c54;
	text-align: center;
	margin-bottom: 80px;
}

.a-window4-item{
	position: relative;
	color: #fff;
	margin-top: 60px;
	margin-bottom: 80px;
}

.a-window4-item:after{
	background: url(../img/clone.png) no-repeat;
	background-size: 100% 100%;
	content: "";
	height: calc(100% + 110px);
	left: 0px;
	position: absolute;
	top: -40px;
	width: calc(100%);
}

.a-window4-item-image{
	position: absolute;
	right: 0;
	width: 239px !important;
	height: 54px !important;
	top: -50px;
	z-index: 1;
}

.a-window4-item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.a-w4-ct{
	position: relative;
	display: flex;
	flex-direction: column;
	z-index: 1;
}

.a-w4-wrapper{
	 position: relative;
	 z-index: 1;
}

.a-window4-tools{
	padding-top: 20px;
	padding-bottom: 0px;
	max-width: 80%;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.a-w4-ct span{
	color: #fff;
	line-height: .8;
	font-weight: 300;
	font-size: 122px;
	margin-right: 50px;
}

.a-w4-ct b{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
}

.a-w4-wrapper h3{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 5px;
	line-height: 1;
}

.a-w4-wrapper p{
	min-height: 120px;
	line-height: 1.3;
}

/* window5 */
.a-window5-item-3 .a-w5-image:nth-child(1){
	grid-column: 1/3;
  	grid-row: 1;
}

.a-window5-item-3 .a-w5-image:nth-child(2){
	grid-column: 3;
  	grid-row: 1;
}

.a-window5-item-3 .a-w5-image:nth-child(3){
	grid-column: 1;
  	grid-row: 2/4;
}

.a-window5-item-3 .a-w5-image:nth-child(4){
	grid-column: 2/4;
  	grid-row: 2;
}

.a-window5-item-3 div:nth-child(5){
	grid-column: 2/4;
  	grid-row: 3;
}

.a-window5{
	display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.a-window5-item{
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.a-window5-item-2 .a-w5-image:nth-child(1){
	grid-column: 1/4;
  	grid-row: 1/3;
}

.a-window5-item-2 div:nth-child(2){
	grid-column: 1/4;
  	grid-row: 3;
}

.a-window5-item-2> div,.a-window5-item-3> div{
	padding: 10px;
}

.a-window5-item-1 .a-w5-image:nth-child(1){
	grid-column: 1/4;
  	grid-row: 1;
}
.a-window5-item-4 .a-w5-image:nth-child(1){
	grid-column: 1/4;
  	grid-row: 1;
}

.a-window5-item-1 .a-w5-image:nth-child(2){
	grid-column: 3;
  	grid-row: 1;
}

.a-window5-item-1 .a-w5-image:nth-child(3){
	grid-column: 1;
  	grid-row: 2 / 4;
}

.a-window5-item-1 .a-w5-image:nth-child(4){
	grid-column: 2 / 4;
  	grid-row: 2;

}

.a-w5-l{
	background-color: #000;
	padding: 26px 50px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	display: block;
	font-weight: 700;
	transition: all .3s ease;
	position: relative;
}

.a-w5-l:hover{
	background-color: #404040;
	color: #fff;
}

.a-w5-l img{
	margin-left: 10px;
}

a.a-w5-image{
	display: block;
	background-color: #000;
	position: relative;
	overflow: hidden;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.a-rand-batt a{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 15px;
	background-color: #fe3432;
	color: #fff;
	-ms-align-items: center;
	align-items: center;
	line-height: 1;
	transition: all .3s ease;
}

.a-rand-batt a:hover{
	background-color: #b51d1b;
}
.a-rand-item{
	flex-grow: 1;
}

.a-rand-item img{
	margin-right: 5px;
}

.a-rand-item:nth-child(1) {
	display: flex;
}

.a-rand-item:nth-child(1) b {
	font-weight: 400;
}

.a-rand-item:nth-child(2){
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid #fff;
	font-size: 15px;
}
.a-rand-item:nth-child(2) span{
	text-transform: uppercase;
	font-weight: 700;

}

a.a-w5-image:hover .a-w2-modal{
	opacity: 1;
}

.a-w2-modal img{
	width: 40px;
	display: table;
	margin: 0 auto;
}

.a-window-sub-item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.a-window-sub-item a{
	flex-grow: 1;
}

.a-w2-modal h4{
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.3;
	font-weight: 700;
	font-size: 14px;
}

.a-w2-modal p{
	line-height: 1.3;
	font-size: 12px;
	max-width: 300px;
	margin: 0 auto; 
}

.a-w2-modal{
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
	top: 0;
	padding: 15px;
	bottom: 0;
	background-color: rgba(0,0,0,.7);
	opacity: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	transition: all .3s ease;
	z-index: 2;
}

@media only screen and (max-width: 1100px) {
	.a-window5-item-3 .a-w5-image:nth-child(3){
		grid-row: 2;
	}
	.a-window5-item-3 div:nth-child(5){
		grid-column: 1/4;
	}
}

@media only screen and (max-width: 1300px) {
	.a-w2-right-item h3{
		font-size: 30px;
	}
	.a-window4 .owl-nav{
		display: none;
	}
	.a-window1-border{
		display: none;
	}
}

@media only screen and (max-width: 992px) {
	.a-window5{
		grid-template-columns: repeat(2, 1fr);
	}
	.a-window5-item-1 .a-w5-image:nth-child(4){
		grid-row: 2/4;
	}
	.a-w2-right-item h3{
		text-align: center;
		margin-bottom: 45px;
		margin-top: 30px;
	}
	.a-w2-right-but{
		margin: 0 auto;
	}
	.a-w2-right-item h3{
		position: static;
	}
	.a-w2-right-but{
		position: relative;
		right: 0;
	}
	.a-w2-right-item{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.a-w2-right-item:nth-child(2){
		height: auto;
	}
	.a-w2-right-item p{
		margin-top: 40px;
	}
	.a-w2-right-wrapper{
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.a-w2-right-item:nth-child(2){
		display: block;
	}
	.a-w2-right-item p{
		padding-left: 0;
	}
}

@media only screen and (max-width: 768px) {
	.a-w2-items:nth-child(1){
		margin-bottom: 40px;
		width: 100%;
	}
	.a-title h2{
		font-size: 40px;
	}
	.a-w2-items:nth-child(2){
		width: 100%;
	}
	.a-w2-wrapper{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.a-w2-arr{
		top: 20%;
		left: 0;
	}
	.a-window4-item:after{
		display: none;
	}
	.a-window4 h2{
		margin-bottom: 40px;
		font-size: 36px;
	}
	.a-window4-item{
		background-color: #43a1f9;
		border-radius: 25px;
		padding: 50px 30px 40px;
		margin-top: 20px;
		margin-bottom: 0;
	}
	.a-window4-item-image{
		left: 0;
		right: 0;
		margin: 0 auto;
		top: -20px;
	}
	.a-w4-ct span{
		margin-right: 0;
		display: block;
	}
	.a-window4-tools{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		text-align: center;
	}
	.a-w4-ct{
		margin-bottom: 30px;
	}
	.a-window3 h4{
		font-size: 24px;
		text-align: center;
	}
	.a-window3-title-wrapper{
		text-align: center;
	}
	.a-window3-title-wrapper span{
		display: block;
		margin: 5px auto;
	}
	.a-window3 h2{
		font-size: 30px;
		line-height: 1.5;
		padding: 40px 40px;
		text-align: center;
	}
	.a-window3 h2 b{
		font-size: 24px;
	}
	.a-calculate-dark{
		padding: 27px 30px;
	}
	.a-calculate-red{
		padding: 20px;
	}
	.a-calculate-wrapper{
		justify-content: center;
	}
	.a-header-tag h2{
		margin-bottom: 30px;
		margin-top: 20px;
		font-size: 24px;
	}
	.a-plane{
		width: 200px;
		left: 0;
		top: -240px;
		right: 0;
		margin: 0 auto;
	}
	.a-window1{
		padding-top: 140px;
	}
	.a-window1 h1{
		text-align: center;
		line-height: 1.4;
		font-size: 36px;
	}
	.a-window1-sub-title span{
		display: table;
		margin: 10px auto;
		font-size: 16px;
	}
	.a-window1-sub-title span:before{
		left: -43px;
		border: 28px solid transparent;
		border-right: 15px solid #ffcb15;
	}
	.a-window1-sub-title span:after{
		right: -43px;
		border: 28px solid transparent;
		border-left: 15px solid #ffcb15;
	}
}

@media only screen and (max-width: 480px) {
	.a-window1 h1{
		font-size: 24px;
	}
	.a-window1-sub-title span{
		font-size: 12px;
		padding: 22px 8px;
	}
	.a-window5 {
	    display: grid;
	    grid-template-columns: repeat(1, 1fr);
	}
	.a-w2-right-but img{
		width: 40px;
	}
	.a-w2-right-but{
		width: 309px;
		height: 153px;
	}
	.a-title h2{
		font-size: 36px;
	}
	.a-w2-right-but-box h4{
		font-size: 14px;
	}
	.a-title p{
		font-size: 22px;
		line-height: 1.3;
		margin-top: 10px;
	}
	.a-w2-right-but-box a{
		font-size: 14px;
	}
	.a-w2-arr p{
		font-size: 12px;
	}
	.a-w2-arr{
		width: 270px;
		height: 154px;
	}
	.a-w2-items img{
		width: 100%;
		height: auto;
	}
	.a-w2-items:nth-child(1){
		display: block;
	}
	.a-window3{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.a-window3-title-wrapper h3 span{
		font-size: 14px;
	}
	.a-window3-title-wrapper h3 span:before{
		border: 27px solid transparent;
    	border-right: 15px solid #ffcb15;
    	left: -42px;
	}
	.a-window3-title-wrapper h3 span:after{
		border: 27px solid transparent;
    	border-left: 15px solid #ffcb15;
    	right: -42px;
	}
	.a-window3 h2{
		margin-bottom: 0;
		padding-top: 10px;
	}
	.a-window3 h2{
		font-size: 22px;
	}
	.a-window3 h2 b{
		font-size: 18px;
	}
	.a-w3-side{
		display: none;
	}
	.a-window3-title-wrapper{
		margin-bottom: 50px;
	}
	.a-window3 h4{
		margin-bottom: 20px;
	}
}