@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700&subset=cyrillic');
@import "~bootstrap/scss/bootstrap";
@import "~magnific-popup/dist/magnific-popup.css";
@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~animate.css/animate.min.css";

$font: 'Fira Sans', sans-serif;

body { font-family: $font; color: #414c54;}

/* Scroll button */
#scroll-up{ display: flex !important; align-items: center; justify-content: center; background-color: #42a1f9; width: 3rem; height: 3rem; text-align: center; border-radius: 4px; position: fixed; bottom: 30px; right: 30px; transition: background-color .3s, opacity .5s, visibility .5s; opacity: 0; visibility: hidden; z-index: 20; cursor: pointer;
  svg{ width: 1.25rem; height: auto;}
  &:hover, &:focus{ background-color: #3482ca;}
  &:active{ background-color: #555;}
  &.show{ opacity: 1; visibility: visible;}
}

.btn-red{ background-color: #fe3432; border-radius: 15px; transition: all .3s ease-in; overflow: hidden; position: relative; color: #FFF; text-decoration: none !important;
  &:after{ content: ""; height: 250%; position: absolute; transform: rotate(-40deg) translateY(-15%); width: 200%; background: rgba(255, 255, 255, 0.25); background: linear-gradient(to right, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 77%, rgba(255, 255, 255, 0.6) 92%, rgba(255, 255, 255, 0.0) 100%); transition-duration: 0.7s, 0.7s, 0.15s; transition-property: left, top, opacity; animation: blesk 2s infinite ease;}
  &:hover, &:focus{ text-decoration: none; background-color: #da2d2b; color: #FFF;}
}

@keyframes blesk {
  from {
    left: -230%;
    opacity: 0;
    top: -20%;
  }

  to {
    left: 230%;
    opacity: 1;
    top: -50%;
  }
}
.header-fixed{ position: fixed; top: -100%; visibility: hidden; left: 0; right: 0; z-index: 99; color: #FFF; background-color: #43a1f9; transition: all 0.5s ease-in-out;
  .header{ background: transparent; padding-bottom: 0; }
  .header-fix-bg{ background-color: #43a1f9;}
  .navbar{ background-color: #43a1f9; }
  &.show{ top: 0; visibility: visible; }
}
/* ============================= Header ============================= */
.header{ position: relative; z-index: 20; padding-bottom: 1rem; background: url(../images/header-bg.jpg) center no-repeat; background-size: cover; background-attachment: fixed;

  &.main-header{ padding-bottom: 6rem;}
  .logo{ padding-top: 1.25rem; padding-bottom: 1.25rem;
    &.fixnav{ padding-top: 0; padding-bottom: 0; }
  }
  .lang-and-social{ display: flex; align-items: center;
    ul{ padding-left: 0; list-style: none; margin-bottom: 0; }
  }
  .lang-switcher{
    li{ display: block; float: left;
      &:after{ content: ""; display: inline-block; width: 1px; height: 15px; margin: 0 10px; background-color: #fff; vertical-align: middle;}
      a{ padding: 10px 8px; color: #fff; display: inline-block; font-size: 0.875rem; font-weight: 500; transition: all .2s ease-in;
        &:hover, &:focus{ background-color: #43a1f9; text-decoration: none;}
      }
      &:last-child{
        &:after{ display: none; }
      }
      &.active, &.current-lang{
        a{ background-color: #43a1f9;}
      }
    }
    &.fixnav{
      li{
        a{ padding: 6px 4px;
          &:hover, &:focus{ background-color: #FFF; color: #43a1f9;}
        }
        &.active{
          a{ background-color: #FFF; color: #43a1f9;}
        }
      }
    }
  }
  .social-icons{ margin-left: 1.25rem;
    a{ display: block; float: left; display: block; width: 1.75rem; height: 1.75rem; margin-right: 0.125rem; margin-bottom: 0.125rem; border-radius: 50%; opacity: 0.8; transition: all .2s ease-in;
      &:last-child{ margin-right: 0; }
      &:hover, &:focus{ opacity: 1; }
    }
    &.fixnav{ 
      a{ width: 1.5rem; height: 1.5rem;}
    }
  }
  /* Menu */
  .header-menu{ position: relative; display: flex; justify-content: center; align-items: center; width: 100%; max-width: 200px; padding-top: 1rem; padding-bottom: 1rem; color: #fff; font-size: 0.875rem; font-weight: 500; background-color: #43a1f9; border-radius: 25px; box-shadow: 10px 3px 20px rgba(0,0,0,.3); z-index: 1; cursor: pointer; transition: .3s ease-in-out;
    .header-menu-icon{ display: flex; align-items: center; justify-content: center; padding-left: 0; list-style: none; margin-bottom: 0;}
    .hamb-icon{ margin-right: 1rem; height: 1rem; display: flex; align-items: center; position: relative; z-index: 1;
      span{ position: relative; display: inline-block; width: 30px; height: 3px; background-color: #fff;
        &:before, &:after{ content: ""; position: absolute; display: inline-block; width: 27px; height: 3px; background-color: #fff;}
        &:before{ top: -6px;}
        &:after{ top: 6px;}
      }
    }
    .hide-menu{ position: absolute; z-index: -1; top: 0; left: 0; width: 100%; height: 0; padding-top: 3.15rem; /*box-shadow: 0px 25px 20px rgba(0,0,0,.2);*/ border-radius: 25px; transition: .2s ease-in-out;
      ul{ margin-bottom: 0; list-style: none; position: relative; padding: 0 2rem;
        li{ margin-bottom: 0.5rem; opacity: 0;
          a{ position: relative; display: block; min-height: 31px; padding: 6px; color: #fff; font-size: 0.875rem; font-weight: 500; z-index: 2; text-align: center; line-height: 1.4;
            &:before{ content: ""; position: absolute; display: none; width: 25px; height: 25px; background-color: #ffcb15; left: -12px; top: 3px; z-index: -1; transform: rotate(45deg); border-radius: 5px;}
            &:after{ content: ""; position: absolute; display: none; width: 25px; height: 25px; background-color: #ffcb15; right: -12px; top: 3px; z-index: -1; transform: rotate(45deg); border-radius: 5px;}
            &:hover, &:focus{ background-color: #ffcb15; box-shadow: 0px 5px 20px rgba(0, 0, 0, .4); color: #414c54; text-decoration: none;
              &:before, &:after{ display: block; }
            }
          }
        }
      }
      .hide-menu-after{ position: absolute; left: 0; right: 0; bottom: -20%; top: 80%; z-index: -1; opacity: 0;}
    }
    &.show{
      .hamb-icon{ 
        span{ visibility: hidden;
          &:before, &:after{ visibility: visible;}
          &:before{ top: 50%; transform: translateY(-50%) rotate(45deg);}
          &:after{ top: 50%; transform: translateY(-50%) rotate(-45deg);}
        }
      }
      .hide-menu{ height: 400px; background-color: #43a1f9; transition: height .2s ease-in-out;
        ul{
          li{ transition: all 0.2s ease-in-out; opacity: 1;
            &:nth-of-type(1){ transition-delay: 0.1s;}
            &:nth-of-type(2){ transition-delay: 0.2s;}
            &:nth-of-type(3){ transition-delay: 0.3s;}
            &:nth-of-type(4){ transition-delay: 0.4s;}
            &:nth-of-type(5){ transition-delay: 0.5s;}
            &:nth-of-type(6){ transition-delay: 0.6s;}
            &:nth-of-type(7){ transition-delay: 0.7s;}
            &:nth-of-type(8){ transition-delay: 0.8s;}
          }
        }
        .hide-menu-after{ opacity: 1; transition: .2s ease-in-out;}
      }
    }
    &:hover, &:focus{ background-color: #3482ca; }
  }

  /* Contact info */
  .header-contact{ 
    .time-img{ padding-left: 2.5rem; padding-right: 2.5rem; background: url(../images/icons/time.svg) bottom center no-repeat; background-size: cover; }
    img{ margin-top: 0;}
    .call-processing{ color: #fff; font-size: 0.875rem; font-weight: 500; text-align: center; line-height: 1.2;
      p{ margin-bottom: 0; 
        strong{ font-size: 1.25rem;}
      }
      &.fixnav{ font-size: 0.75rem;
        p{
          strong{ font-size: 1rem; }
        }
      }
    }
    .contact-phone__city{ margin-top: 10px; color: #FFF;
      p{ margin-bottom: 0; font-size: 0.875rem; font-weight: 700;}
      a{ color: #fff; font-size: 1.5rem; font-weight: 500;}
      &.fixnav{ margin-top: 0;
        p{ line-height: 1.2; font-size: 0.75rem; }
        a{ font-size: 1.375rem; }
      }
    }
  }
  .contact-phone__mail{ color: #FFF;
    p{ font-size: 0.875rem; font-weight: 700; margin-bottom: 0;}
    a{ color: #fff; font-weight: 500;
      &.another-contacts{ font-style: italic; text-decoration: underline; transition: all .2s ease-in-out;
        &:hover, &:focus{ text-decoration: none;}
      }
    }
    &.fixnav{
      p{ font-size: 0.75rem; }
    }
  }
  /* Heading */
  .main-heading{ position: relative; border-top: 6px solid #43a1f9; border-right: 6px solid #43a1f9; border-bottom: 6px solid #43a1f9;
    &:before{ content: ""; width: 6px; height: 3rem; background-color: #43a1f9; position: absolute; top: 0; left: 0; }
    &:after{ content: ""; width: 6px; height: 6rem; background-color: #43a1f9; position: absolute; bottom: 0; left: 0; }
    .calculator-wrapper{ padding-left: 6px;
      .calculate-online{ display: flex; align-items: center; justify-content: center; width: 100%; padding: 14px 10px; color: #fff; font-size: 0.875rem; font-weight: 500; text-transform: uppercase; background-color: #fe3432; transition: all .3s ease-in; animation-delay: 3s;
        .text{ line-height: 1.2; }
        &:hover, &:focus{ text-decoration: none; background-color: #da2d2b;}
      }
    }
  }
  /* Header advantages */
  .header-advantages{ color: #FFF; font-weight: 500;
    .header-advantages__item{ position: relative;
      &:after{ content: ""; width: 100%; height: 5px; display: block; margin-top: 5px; background-color: #ffcb15; transition: all .5s ease-in-out;}
      &:hover, &:focus{
        &:after{ width: 0px;}
      }
      h4{ font-weight: 900; text-transform: uppercase;}
      p{ margin-bottom: 0; line-height: 1.2; }
      &.header-advantages__first{ animation-delay: 0.4s;}
      &.header-advantages__second{ animation-delay: 0.8s;}
      &.header-advantages__second{ animation-delay: 0.8s;}
    }
  }
}
.main-heading-content{ padding-left: 6px;
  h1{ color: #fff; font-size: 3rem; font-weight: 500; text-transform: uppercase;}
  p{ color: #fff; font-weight: 500; margin-bottom: 0; animation-delay: 0.5s; font-size: 1.25rem;
    
  }
  .main-heading-plank{ position: relative; display: block; margin-left: 2rem; margin-right: 2rem; padding: 0.875rem 0.625rem; font-size: 1.25rem; text-decoration: none; color: #414c54; background-color: #ffcb15; box-shadow: 0px 10px 20px rgba(0, 0, 0, .3); transition: all .2s ease-in-out; min-height: 58px;
    .main-heading-plank-content{ display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
    &:hover, &:focus{ transform: scale(1.02);}
    &:before, &:after{ content: ""; display: block; width: auto; height: 100%; position: absolute; top: 0; bottom: 0; background: url(../images/icons/yellow-hex.svg) no-repeat; background-size: cover;}
    &:before{ left: -23px; right: 100%; background-position: left center;}
    &:after{ right: -23px; left: 100%; background-position: right center;}
  }
  .typed-cursor{ display: none;}
}
/* ============================= Header end ============================= */
.custom-page__menu{
  ul{ text-align: center; padding-left: 0; list-style: none;
    li{ display: inline-block; margin-left: 1rem; margin-right: 1rem;
      a{ position: relative; display: block; padding: 0.5rem; color: #414c54; z-index: 2; text-decoration: none;
        &:hover, &:focus, &.current-menu-item{ background-color: #ffcb15; box-shadow: 0 .5rem 1rem rgba(0,0,0,0.15);
          &:before, &:after{ content: ""; position: absolute; display: inline-block; width: 30px; height: 30px; background-color: #ffcb15; top: 50%; margin-top: -15px; z-index: -1; transform: scaleX(.7) rotate(45deg); border-radius: 5px;}
          &:before{  left: -15px;}
          &:after{ right: -15px;}
        }
      }
    }
  }
}

/* ============================= Advantages wrapper ============================= */
.advantages-wrapper{ position: relative; background: url(../images/advantages-bg.jpg) center center;
  background-size: cover;
  .advantages-block__item{
    .advantages-block__item-img{ display: flex; justify-content: center; align-items: center; flex-direction: column; width: 150px; height: 155px; padding-bottom: 1rem; background: url(../images/advantages-round.png) center no-repeat; background-size: contain; transition: all .2s ease-in-out; text-shadow: -1px 1px 1px #c7b99d; color: #7f1a06;
      &:hover, &:focus{ transform: scale(1.1);}
      h3{ line-height: 1; margin-bottom: 0;}
      p{ font-size: 1.125rem; margin-bottom: 0;}
    }
    .advantages-block__item-text{ margin-left: 5px; color: #FFF;
      h5{ font-weight: 700; text-transform: uppercase;}
      p{ font-weight: 500; line-height: 1;}
    }
  }
}
/* ============================= Advantages wrapper end ============================= */

/* ============================= Our services ============================= */
.services-wrapper{ position: relative; background: url(../images/services-bg.jpg) center no-repeat;
  .services-card__item{ position: relative; display: block; text-decoration: none; outline: none; padding: 2rem 2rem 0.5rem 2rem; transition: all .1s ease-in; border-radius: 5px; cursor: pointer;
    .services-card__img{ max-height: 190px;
      img{ object-fit: contain; object-position: center; filter: grayscale(0);}
    }
    .services-card__title{ color: #414c54; font-weight: 500;}
    .hover-block{ 
      .circle{ width: 3rem; height: 3rem; display: block; margin: 0 auto; background: #ff5a5a url(../images/icons/next-arrow.png) center center no-repeat; border-radius: 50%; opacity: 0; transition: all .2s ease-in-out;
        &:hover, &:focus{ background-color: #da2d2b;}
      }
    }
    &:hover, &:focus{ background-color: #fff; box-shadow: 0px 5px 20px rgba(0, 0, 0, .1);
      .services-card__img{
        img{ filter: grayscale(1);}
      }
      .hover-block{
        .circle{ opacity: 1; }
      }
    }
  }
}
/* ============================= Our services end ============================= */

/* ============================= Advertising campaigns ============================= */
.advertising-campaigns{
  .advertising-campaigns__heading{ position: relative; padding-top: 6rem; padding-bottom: 6rem; background: #030d15 url(../images/projects-bg.jpg) top center no-repeat; overflow: hidden;
    .campaigns__heading-cont{ color: #fff;
      strong{ color: #43a1f9;}
      .heading-cont-before{ position: absolute; left: 0; top: 0; bottom: 0; right: 0; z-index: 0;
        &:before{ content: ""; width: 20%; height: 1.25rem; position: absolute; left: 0; top: 0; border-top: 2px solid #43a1f9; border-left: 2px solid #43a1f9; }
        &:after{ content: ""; width: 15%; height: 30%; position: absolute; left: 0; bottom: 0; border-bottom: 2px solid #43a1f9; border-left: 2px solid #43a1f9; }
      }
      .heading-cont-after{ position: absolute; right: 0; top: 0; bottom: 0; left: 0; z-index: 0;
        &:before{ content: ""; width: 5%; height: 30%; position: absolute; right: 0; top: 0; border-top: 2px solid #43a1f9; border-right: 2px solid #43a1f9; }
        &:after{ content: ""; width: 40%; height: 1.25rem; position: absolute; right: 0; bottom: 0; border-bottom: 2px solid #43a1f9; border-right: 2px solid #43a1f9; }
      }
    }
    .advertising-campaigns-price{ font-size: 1.25rem; color: #FFF;
      p{
        strong{ display: inline-table; padding: 20px 25px; transition: all .3s ease; position: relative; color: #414c54; background-color: #ffcb15; margin: 8px 25px; line-height: 1; font-weight: 500; text-transform: uppercase; box-shadow: 0 10px 25px rgba(0,0,0,.4); color: #414c54;
          &:before{ position: absolute; left: -45px; top: 0; background-color: transparent; content: ""; border: 30px solid transparent; border-right: 15px solid #ffcb15; transition: all .3s ease;
          }
          &:after{ position: absolute; right: -45px; top: 0; background-color: transparent; content: ""; border: 30px solid transparent; border-left: 15px solid #ffcb15; transition: all .3s ease;}
        }
      }
    }
    .scene{ position: absolute; top: 0; left: 0; right: 0; bottom: 0;
      .parallax-arrow{ position: absolute; width: 100%; height: 100%; overflow: hidden;
        &.parallax-arrow-1{ background: url(../images/arrow-parallax-01.png) center center no-repeat; background-size: 100%;}
        &.parallax-arrow-2{ background: url(../images/arrow-parallax-02.png) center center no-repeat; background-size: 100%;}
      }
    }
  }
  .advertising-campaigns__body{ background-color: #030d15; color: #FFF;
    .advertising-campaigns-prop{ border-radius: 20px; border: 1px solid #43a1f9;
      .even{ background-color: #43a1f9;}
      p{ margin-bottom: 0; }
    }
  }


  .project-block{ background-color: #030d15;
    .project-block__collumn{ position: relative;
      .project-image{ position: relative; z-index: 1;
        &:after{ content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.6); transition: all .3s ease-in; }
        &.project-preview-image{
          &:after{ display: none; }
        }
      }
      .project-title{ position: absolute; top: 0.5rem; left: 0.5rem; color: #fff; font-weight: 700; text-transform: uppercase; background-color: #43a1f9; padding: 1rem; z-index: 1;
        p{ margin-bottom: 0; }
      }
      .project-view{ position: absolute; left: 0; right: 0; bottom: 0; color: #fff; text-align: center; transition: all .5s ease-in; z-index: 1; opacity: 0;
        a{ max-width: 220px; display: inline-block; width: 100%; }
      }
      .project-link{ color: #FFF; text-decoration: none; position: relative; z-index: 1;
        &:after{ content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.6); transition: all 0.3s ease-in-out; z-index: 1; opacity: 0; }
        .project-preview{ position: absolute; left: 0; right: 0; bottom: 0; top: 0; z-index: 2; opacity: 0; transition: all 0.3s ease-in-out;
          .project-preview-logo{ display: block;
            img{ max-width: 60px; }
          }
          .project-preview-title{ display: block; font-size: 1.125rem; font-weight: 700; }
          .project-preview-text{ display: block; font-size: 0.875rem; line-height: 1.2;}
        }
        &:hover, &:focus{
          &:after{ opacity: 1; }
          .project-preview{ opacity: 1; }
        }
      }
      &:hover, &:focus{
        .project-image{
          &:after{ opacity: 0;}
        }
        .project-view{ opacity: 1; bottom: 2rem; }
      }
    }
  }
  .all-project{ background-color: #030d15;
    a{ color: #fff; font-weight: 500;
      i{ margin-left: 5px;}
      &:hover, &:focus{ text-decoration: none; }
    }
  }
}
/* ============================= Advertising campaigns end ============================= */

/* ============================= Work Steps ============================= */
.work-steps{ position: relative; background: url(../images/work-steps-bg.jpg) center no-repeat; background-size: cover; background-attachment: fixed; overflow: hidden;
  .title__block{ color: #FFF;}
  .steps-wrap{ 
    .steps-item{ position: relative; padding-left: 2rem; padding-right: 3rem; color: #fff;
      .steps-item-before{ position: absolute; position: absolute; right: 30%; left: 0; top: 0; bottom: 0; z-index: 1; background-color: #43a1f9; border-radius: 40px 0 0 40px;
      }
      .steps-item-after{ position: absolute; position: absolute; left: 70%; top: 0; bottom: 0; z-index: 1;
        img{ height: 100%; display: block; }
      }
      .steps-item-body{ position: relative; z-index: 2;
        .steps-item-body-icon{
          img{ max-width: 2.25rem; }
        }
        .steps-item-body-text{ position: relative;
          &:before{ content: ""; position: absolute; top: 50%; left: 0.5rem; width: 1px; height: 6rem; margin-top: -3rem; background-color: #a0c9ef; }
        }
      }
      &:first-child{ /*padding-left: 1rem;*/
        .steps-item-before{ left: 0;}
      }
      &:last-child{
        .steps-item-before{ background-color: #ffcb15; }
        .steps-item-body{ color: #705e1e;
          .steps-item-body-text{
            &:before{ background-color: #705e1e;}
          }
        }
      }
      p{ margin-bottom: 0; position: relative; display: flex; font-size: 0.875rem; font-weight: 700; text-decoration: underline; text-transform: uppercase;}
    }
  }
  .work-steps-content{ color: #FFF; font-weight: 700; font-size: 1.5rem;
    h3{ margin: 0; }
  }
}
/* ============================= Work Steps end ============================= */

/* ============================= Calculator wrapper ============================= */
.calc-wrapper{ position: relative; overflow: hidden;
  .terms-placement{ background-color: #f4f4f4; position: relative;
    .terms-title{ color: #414c54;
      &:before{ content: ""; display: inline-block; width: 24px; height: 24px; margin-right: 1rem; background-image: url(../images/icons/calendar.png); vertical-align: middle;}
    }
    .terms-format{ background-color: #fdfdfd; border-radius: 10px;}
    .form-check{ padding-left: 0;
      .form-check-input{ display: none; opacity: 0;}
      .form-check-label{ position: relative; margin: 5px; background-color: #f4f4f4; display: flex; align-items: center; justify-content: center; padding: 0.5rem; border-radius: 0.5rem; cursor: pointer; padding-top: 1rem; padding-bottom: 1rem; text-align: center; line-height: 1.2; font-size: 0.875rem;
      }
      &.active{
        .form-check-label{ background-color: #cce4fb;}
      }
    }
    &.placement-format{ background-color: #e6e6e6;}
  }
  .calculator-contact__form{ height: 100%; background: url(../images/contact-bg.png) center; background-size: cover;
    .title__block{ color: #FFF;
      &.title-right{
        h2{ font-size: 2.2rem; line-height: 1.2; }
      }
    }
    .form-content{
      .form-group{
        .form-control{ padding-left: 0; padding-right: 0; outline: none; box-shadow: none; color: #fff; background-color: transparent; border: 0; border-bottom: 2px solid #fff; border-radius: 0;
          &::placeholder{ color: #fff;}
        }
      }
      p{ margin-bottom: 0; color: #FFF;}
    }
  }
}
/* ============================= Calculator wrapper end ============================= */

/* ============================= About company ============================= */
.about-company{ position: relative; background-color: #fff;
  .about-image{ position: relative; background-position: center center; background-repeat: no-repeat;}
  .about-content{ color: #414c54; text-align: justify;
    .about-more{
      a{ color: #414c54; font-weight: 500; text-decoration: underline; transition: all .2s ease-in-out;
        &:hover, &:focus{ text-decoration: none;}
      }
    }
  }
}
/* ============================= About company end ============================= */

/* ============================= Contact wrapper ============================= */
.contact-wrapper{ overflow: hidden;
  a{ color: #FFF; text-decoration: underline;
    &:hover, &:focus{ text-decoration: none;}
  }
  .contact-content{ color: #FFF; background: url(../images/contact-form-bg.jpg) center center no-repeat; background-size: cover;
    .contact-content-title{
      h3{ font-weight: 400; text-transform: uppercase;}
    }
    .contact-content-info{
      p{ margin-bottom: 0; }
      a{ text-decoration: none;
        &:hover, &:focus{ text-decoration: underline;}
      }
    }
  }
  .contact-image{ position: relative; background-color: #f4f4f4;}
}
/* ============================= Contact wrapper end ============================= */

.styled__checkbox{
  .styled-checkbox{ display: none; opacity: 0; }
  label{ position: relative; cursor: pointer; padding: 0; color: #fff;
    &:before{ content: ''; margin-right: 10px; display: inline-block; vertical-align: text-top; width: 1.25rem; height: 1.25rem; background: transparent; border: 2px solid #fff;}
    &:after{ content: ''; display: none; position: absolute; left: 5px; top: 11px; background: #FFF; width: 2px; height: 2px; box-shadow: 2px 0 0 #FFF, 4px 0 0 #FFF, 4px -2px 0 #FFF, 4px -4px 0 #FFF, 4px -6px 0 #FFF, 4px -8px 0 #FFF; -webkit-transform: rotate(45deg); transform: rotate(45deg);}
  }
  &.active{
    label{
      &:after{ display: block;}
    }
  }
}

.title__block{ color: #414c54;
  h1{ font-weight: 700;}
  h2{ font-size: 3rem; font-weight: 700;}
  p{ color: #43a1f9; font-size: 1.375rem; font-weight: 700;}
}

/* ============================= Our parthners wrapper ============================= */
.parthners-wrapper{ position: relative; padding-top: 4rem; padding-bottom: 10rem;
  .title__block{ margin-bottom: 10rem; }
  .parthners-logo__slider{
    .owl-item{ transition: all .2s ease-in-out; filter: grayscale(1);
      .parthners-logo__item{ display: flex; align-items: center; justify-content: center; min-height: 6rem; 
      }
      &:hover, &.center{ filter: grayscale(0);}
    }
  }
}
.owl-carousel{
  .owl-nav{
    button{ outline: none; width: 3rem; height: 3rem; border-radius: 3rem; position: absolute; top: 50%; margin-top: -1.5rem; opacity: 0.8;
      span{ display: none; }
      &:hover, &:focus{ opacity: 1;}
    }
    button.owl-next{ right: 5px; background: #ff5a5a url(../images/icons/slick-next.png) center center no-repeat;
      &.disabled{ background-color: #EEE; opacity: 0.5; cursor: default; }
    }
    button.owl-prev{ left: 5px; background: #ff5a5a url(../images/icons/slick-prev.png) center center no-repeat;
      &.disabled{ background-color: #EEE; opacity: 0.5; cursor: default; }
    }
  }
}
/* ============================= Our parthners wrapper end ============================= */

/* ============================= Footer ============================= */

.footer{ background: #030d15; color: #fff;
  .footer-title{
    h5{ font-weight: 400; }
  }
  .footer-nav{ padding-left: 0; list-style: none;
    li{ margin-bottom: 1rem;}
  }
  a{ color: #FFF;
    &:hover, &:focus{ text-decoration: underline;}
    &.email{ color: #43a1f9;}
  }
  .footer-email{
    p{ margin-bottom: 0; }
  }
  .footer-logo{ margin-bottom: 8rem;
    h2{ color: #fff; font-size: 50px; font-weight: 700; text-transform: uppercase; line-height: 1;}
    .footer-messengers{
      a{
        .image{ margin-right: 0.5rem; }
      }
    }
  }
  .footer-social-icons{
    a{ display: inline-block; width: 40px; height: 40px; border-radius: 50%; opacity: 0.8; transition: 0.2s all; margin-bottom: 2px;
      &:hover, &:focus{ opacity: 1; }
    }
  }
  .footer-copy{ font-size: 0.875rem;
    p{ margin-bottom: 0; }
    a{ text-decoration: underline;
      &:hover, &:focus{ text-decoration: none;}
    }
  }
}
/* ============================= Footer end ============================= */

.breadcrumb__block{
  .breadcrumb{ background-color: transparent;
    .breadcrumb-item{ font-size: 0.875rem; margin-bottom: 0.5rem;
      &:before{ content: ">"; }
      &:first-child{
        &:before{ display: none; }
      }
      a{ display: inline-block; padding: 0.5rem; color: #fff; transition: all .3s ease; position: relative; background-color: #43a1f9; border: 1px solid #43a1f9; text-decoration: none;
        &:hover, &:focus{ background-color: #3482ca; }
      }
      span{ display: inline-block; padding: 0.5rem; background-color: #bcc6d0; border: 1px solid #bcc6d0; color: #FFF;}
    }
  }
}


/* == Сontacts page CSS == */
.contacts{
  .map_block{ position: relative; z-index: 1;
    .container{ position: relative; z-index: 2; }
    .map{ height: 400px;
      .yandex-map{ height: 100% !important; }
    }
    .contacts-content{ background-color: #FFF;
      .contacts-content-header{ text-transform: uppercase;
        p{ margin-bottom: 0; }
        h2{ font-weight: 700; margin-bottom: 0; }
      }
      .contacts-content-body{ text-transform: uppercase; font-weight: 500;}
      .contacts-content-button{
        a{ display: inline-block; background: url(../images/send-butt.svg) left center no-repeat; position: relative; z-index: 1; color: #FFF; text-transform: uppercase; line-height: 1.2;
          &:after{ content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 30%; background-color: #43a1f9; z-index: -1; }
          span{ text-align: left; display: inline-block; background: url(../images/send-butt-icon.svg) left center no-repeat; padding-left: 2.5rem;}
        }
      }
    }
  }
}
/* == Сontacts page CSS end == */

/* == Clients page CSS == */
.clients{
  .clients-block{ color: #414c54;
    .clients-image{
      img{ max-width: 80px; }
    }
    .clients-body{
      p{ text-align: justify;}
      a{ color: #43a1f9; text-decoration: underline;
        &:hover, &:focus{ text-decoration: none; }
      }
    }
  }
}
/* == Clients page CSS end == */

/* == Portfolio page CSS == */
.portfolio{
  .portfolio-slider{
    .item{ position: relative; color: #FFF; background: #43a1f9; border-radius: 1rem;
      .slider-content{ position: relative;
        .slider-image{ position: absolute; top: 0; right: 0;
          img{ width: auto; }
        }
        .slider-content{
          .slider-count{ font-size: 1.125rem; font-weight: 700; text-transform: uppercase;
            p{
              span{ font-size: 7rem; font-weight: 300;line-height: .8;}
            }
          }
          .slider-text{
            p{ line-height: 1.2; }
          }
        }
      }
    }
  }
}
/* == Portfolio page CSS end == */


.modal-block{ max-width: 560px; margin: 15px auto; position: relative;
  .modal-body{ padding: 2rem 1rem; background-color: #FFF;
    .form-group{
      .form-control{ border: 0; border-bottom: 1px solid #b8b7b7; border-radius: 0;}
    }
    .styled__checkbox{
      label{ color: #414c54;
        &:before{ border: 2px solid #414c54;}
        &:after{ background: #414c54; box-shadow: 2px 0 0 #414c54, 4px 0 0 #414c54, 4px -2px 0 #414c54, 4px -4px 0 #414c54, 4px -6px 0 #414c54, 4px -8px 0 #414c54;}
      }
    }
  }
  .mfp-close{ color: #43a1f9; outline: none; }
}

.wpcf7-not-valid{ border-color: #dc3545 !important;}
input.wpcf7-not-valid::-webkit-input-placeholder, textarea.wpcf7-not-valid::-webkit-input-placeholder{ color: #dc3545;}
input.wpcf7-not-valid::-moz-placeholder, textarea.wpcf7-not-valid::-moz-placeholder{ color: #dc3545;}
input.wpcf7-not-valid::-ms-input-placeholder, textarea.wpcf7-not-valid::-ms-input-placeholder { color: #dc3545;}
input.wpcf7-not-valid.placeholder, textarea.wpcf7-not-valid.placeholder{ color: #dc3545;}
.wpcf7-not-valid-tip{ display: none !important; color: #FFF !important; background-color: #F00; font-size: 0.875rem !important; padding: 0.2rem 0.5rem; text-align: center; margin: 0 2rem; transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out;}
.wpcf7-response-output{ font-size: 0.875rem; text-align: center;}
.wpcf7-form-control-wrap{ text-align: left; overflow: hidden;}
.wpcf7-validation-errors{ color: #545454; background-color: #f7e700; margin: 1rem 0 !important; padding: 0.5rem !important; border-radius: 0;}
.wpcf7-mail-sent-ok{ background: #28a745; color: #FFF; border-radius: 0;}
.wpcf7-list-item{ margin: 0 !important;}
.ajax-loader{ display: none !important;}


.serv_block{ background: url("../images/services-bg.jpg") top center no-repeat; background-size: cover;
  .serv_block-tags{
    a{ display: inline-table; padding: 8px 5px; position: relative; color: #414c54; margin: 5px 15px; text-decoration: none;
      &:before{ position: absolute; left: -35px; top: 0; background-color: transparent; content: ""; border: 20px solid transparent;}
      &:after{ position: absolute; right: -35px; top: 0; background-color: transparent; content: ""; border: 20px solid transparent;}
      img{ margin-right: 0.5rem; height: 1.375rem; width: auto;}
      &:hover, &:focus{ background-color: #ffcb15; box-shadow: 0px 3px 20px rgba(0,0,0,.2);
        &:before{ border-right: 15px solid #ffcb15;}
        &:after{ border-left: 15px solid #ffcb15;}
      }
    }
  }
  .serv_block-banner{ padding-top: 6rem; padding-bottom: 6rem; color: #FFF; position: relative;
    .serv_block-container{
      .serv_block-image{ /*position: absolute; left: 0; top: 0; right: 0; bottom: 0;*/
        .serv_block-image-border{ position: relative; border-top: 6px solid #43a1f9; border-right: 6px solid #43a1f9; border-bottom: 6px solid #43a1f9;
          &:before{ content: ""; width: 6px; height: 5rem; background-color: #43a1f9; position: absolute; top: 0; left: 0; }
          &:after{ content: ""; width: 6px; height: 5rem; background-color: #43a1f9; position: absolute; bottom: 0; left: 0; }
        }
        .serv_block-image-calculate{
          .calculate-dark{ background-color: #030d15; color: #FFF; text-decoration: none; text-transform: uppercase; font-size: 0.875rem; font-weight: 500; padding: 20px 10px; transition: all .3s ease-in; animation-delay: 0.2s;
            &:hover, &:focus{ background-color: #091f31; }
          }
        }
      }
      .serv_block-content{ background: url("../images/bg.jpg") center center no-repeat; padding-top: 4rem; padding-bottom: 4rem;}
    }
    .calculate-online{ display: flex; align-items: center; justify-content: center; width: 100%; padding: 20px 10px; color: #fff; font-size: 0.875rem; font-weight: 500; text-transform: uppercase; background-color: #fe3432; transition: all .3s ease-in; animation-delay: 0.4s;
        .text{ line-height: 1.2; }
        &:hover, &:focus{ text-decoration: none; background-color: #da2d2b;}
      }
  }
  .rent_block{
    .rent_block_map{
      .rent_block_map_image{}
      .rent_block_map_arrow{ /*position: absolute; left: 15px; bottom: 0; right: 15px;*/ }
    }
    .rent_block_map_arr{ position: relative; padding-left: 2rem; padding-right: 2rem; color: #705e1e;
      .rent_block_map_arr-before{ position: absolute; position: absolute; right: 30%; left: 0; top: 0; bottom: 0; z-index: 1; background-color: #ffcb15; border-radius: 40px 0 0 40px;
      }
      .rent_block_map_arr-after{ position: absolute; position: absolute; left: 70%; top: 0; bottom: 0; z-index: 1;
        img{ height: 100%; display: block; }
      }
      .rent_block_map_arr-body{ position: relative; z-index: 2;
        .rent_block_map_arr-body-icon{
          img{ max-width: 2.25rem; }
        }
        .rent_block_map_arr-body-text{ position: relative;
          &:before{ content: ""; position: absolute; top: 50%; left: 0.5rem; width: 1px; height: 6rem; margin-top: -3rem; background-color: #705e1e; }
        }
      }
      p{ margin-bottom: 0; position: relative; display: flex; font-size: 0.875rem; font-weight: 700; text-decoration: underline; text-transform: uppercase;}
      &.blue{ color: #FFF;
        .rent_block_map_arr-before{ left: 30%; right: 0; border-radius: 0 40px 40px 0; background-color: #43a1f9;}
        .rent_block_map_arr-after{ right: 70%; left: auto;}
        .rent_block_map_arr-body{
          .rent_block_map_arr-body-text{
            &:before{ background-color: #FFF; }
          }
          .btn{ border-color: #FFF; color: #FFF; border-radius: 1rem;
            &:hover, &:focus{ background-color: #FFF; color: #43a1f9; }
          }
        }
      }
    }
    .rent_block_content{}
    .rent_block_content_title{ font-size: 1.5rem; }
  }
}


/* Preloader */
.loader-wrapper{ position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 100; overflow: hidden; background-color: #43a1f9;
  .loader{ display: block; position: relative; left: 50%; top: 50%; width: 150px; height: 150px; margin-top: -75px; margin-left: -75px; border-radius: 50%; border: 3px solid transparent; border-top-color: #fff; -webkit-animation: spin 1.8s linear infinite; animation: spin 1.8s linear infinite; z-index: 11;
    &:before{ content: ""; position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; border-radius: 50%; border: 3px solid transparent; border-top-color: #fff; -webkit-animation: spin 3s linear infinite; animation: spin 3s linear infinite;}
    &:after{ content: ""; position: absolute; top: 15px; left: 15px; right: 15px; bottom: 15px; border-radius: 50%; border: 3px solid transparent; border-top-color: #fff; -webkit-animation: spin 2.5s linear infinite; animation: spin 2.5s linear infinite;}
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
/*---end-preloader---*/

#all-contact p {
  margin-bottom: 20px;
  text-align: center;
}











@include media-breakpoint-up(sm){
  .advertising-campaigns{
    .project-block{
      .grid-item{ width: 50%;
        &.grid-item-40{ width: 50%; }
      }
    }
  }
}

@include media-breakpoint-down(sm){
  .serv_block{
    .rent_block{
      .rent_block_map_arr{ padding-left: 1rem; padding-right: 1rem;}
    }
  }
}

@include media-breakpoint-only(sm){
  .serv_block{
    .rent_block{
      .rent_block_map_arr{ position: relative; padding-left: 2rem; padding-right: 2rem; color: #705e1e;
        .rent_block_map_arr-before{ right: 20%;}
        .rent_block_map_arr-after{ left: 80%;}
        &.blue{
          .rent_block_map_arr-before{ left: 20%;}
          .rent_block_map_arr-after{ right: 80%;}
        }
      }
    }
  }

}

@include media-breakpoint-down(xs){
  .advertising-campaigns{
    .advertising-campaigns__heading{
      .advertising-campaigns-price{
        p{
          strong{
            &:before{ display: none; }
            &:after{ display: none;}
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md){
  .header-fixed{ background-color: transparent;
    .header-fix-bg{ border-radius: 0 0 1rem 1rem; }
  }
  .advertising-campaigns{
    .project-block{
      .grid-item{ width: 33.33333%;
        &.grid-item-40{ width: 66.66666%; }
      }
    }
  }
  .contacts{
    .map_block{
      .map{ position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 1; background-color: #EEE; height: auto;}
    }
  }
  .work-steps{
    .steps-wrap{
      .steps-item{
        .steps-item-before{ left: -60%;}
      }
    }
  }
  .serv_block{
    .serv_block-banner{
      .serv_block-container{
        .serv_block-image{ position: absolute; left: 0; top: 0; right: 0; bottom: 0;}
      }
    }
    .rent_block{
      .rent_block_map{
        .rent_block_map_arrow{ position: absolute; left: 15px; bottom: 0; right: 15px; }
      }
    }
  }  
}
@include media-breakpoint-only(md){
  .work-steps{
    .steps-wrap{
      .steps-item{
        &:nth-child(2n+1){
          .steps-item-before{ left: 0;}
        }
      }
    }
  }
}

@include media-breakpoint-up(lg){
  .header{
    .main-heading{
      .main-heading-content{ margin-left: -30%; }
    }
  }
  .advertising-campaigns{
    .project-block{
      .grid-item{ width: 25%;
        &.grid-item-40{ width: 50%; }
      }
    }
  }
  .calc-wrapper{ background: url(../images/calculator-wrapper-bg.jpg) bottom center no-repeat;
    .title__block{
      &.title-left{
        h2{ line-height: 0.8;}
      }
    }
    .terms-placement{
      &:before{ content: ""; position: absolute; top: 0; bottom: 0; left: -100%; right: 100%; background-color: #f4f4f4;}
      &.placement-format{
        &:before{ background-color: #e6e6e6;}
      }
    }
  }
  .about-company{
    .about-image{
      &:before{ content: ""; position: absolute; top: 0; bottom: 0; left: -100%; right: 100%; background: url(../images/about-img.jpg) center center no-repeat; }
    }
  }
  .contact-wrapper{
    .contact-image{
      &:before{ content: ""; position: absolute; top: 0; bottom: 0; left: 100%; right: -100%; background: url(../images/contact-img.jpg) center center no-repeat; }
    }
  }
  .work-steps{
    .steps-wrap{
      .steps-item{
        .steps-item-before{ left: -60%;}
      }
    }
  }
  .portfolio{
    .portfolio-slider{
      .item{ background-color: transparent; background: url(../images/clone.svg) center center no-repeat;}
    }
  }
}
@include media-breakpoint-only(lg){
  .work-steps{
    .steps-wrap{
      .steps-item{
        &:nth-child(3n+1){
          .steps-item-before{ left: 0;}
        }
      }
    }
  }
}

@include media-breakpoint-up(xl){
  .header{
    .main-heading{
      .main-heading-content{ margin-left: -30%; }
    }
  }
  .advertising-campaigns{
    .project-block{
      .grid-item{ width: 20%;
        &.grid-item-40{ width: 40%; }
      }
      .project-block__collumn{
        .project-title{ width: 100%; max-width: 220px; }
      }
    }
  }
  .work-steps{
    .steps-wrap{
      .steps-item{ padding-left: 2rem; padding-right: 1rem;
        .steps-item-before{ right: 40%; left: -60%;}
        .steps-item-after{ left: 60%;}
        &:first-child{ padding-left: 1rem;}
      }
    }
  }
}